{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/common/common.css" />
    <link rel="stylesheet" href="../../static/css/introduce/about.css" />

    <title>기부&테이크</title>
  </head>
  <body>
    <div id="dkWrap" class="together_top">
      <!--header-->
      <span id="rootContent"
        ><ng-component
          ><div id="dkContent" class="cont_introduce">
            <div id="mArticle">
              <div class="wrap_introduce">
                <div class="wrap_tab">
                  <ul class="list_tab tab_type4">
                    <li routerlinkactive="on" class="on">
                      <a class="link_tab" href="/auroville/together"
                        ><span class="txt_tab">기부앤테이크?</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/auroville/donate"
                        ><span class="txt_tab">기부&amp;제안</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/auroville/statistics"
                        ><span class="txt_tab">기부 통계</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/auroville/partner"
                        ><span class="txt_tab">파트너기관</span></a
                      >
                    </li>
                  </ul>
                </div>
                <ng-component>
                  <div class="cont_platform">
                    <strong class="txt_post"
                      >기부앤테이크는<br />사회의 발전을 함께 이끄는 연결고리로 기부와 행동을 모아<br />큰 변화를 만들어가는 기부 플랫폼입니다.</strong
                    >
                  </div>
                  <dl class="list_motive">
                    <dt>함께하는 여정, 미래를 만들어 나가요.</dt>
                    <dd>
                      각자의 작은 기부와 행동이 모여 큰 변화를 이룰 수 있어요.
                    </dd>
                    <dt>다양한 아이디어로 더 나은 세상을 위해 함께해요.</dt>
                    <dd>
                      우리마을 동네청소부터 동물 보호 활동까지, 우리는 다양한 공익 프로젝트를 환영합니다.
                    </dd>
                    <dt>공유로 함께 만드는 늘해랑</dt>
                    <dd>
                      친구와 가족, 동료에게 우리의 목표와 가치를 공유하며 사회적 영향을 확장합니다.
                    </dd>
                    <dt>가치있는 행동을 늘하장</dt>
                    <dd>
                      작지만 가치있는 행동들을 더해 사회적으로 아름다운 변화를 만들어 나갑니다.
                    </dd>
                    <dt>작은 선물, 큰 감사의 마음</dt>
                    <dd>
                      모두의 기부와 참여로 함께한 노력을 소중한 선물로 기념합니다.
                    </dd>

                    <dt style="font-size: 28px">
                      "작은 기부와 행동으로, 더 나은 세상을 함께 만들어요."
                    </dt>
                  </dl>
                  <div class="cont_success">
                    <div class="slide_success">
                      <div class="inner_slide">
                        <ul class="list_slide">
                          <li class="slide_pannel">
                            <a
                              class="link_slide"
                              href="https://together.kakao.com/fundraisings/90977/epilogue"
                              style="
                                background-image: url('https://t1.daumcdn.net/section/oc/e6262fa477674f2c83c4f0a2efb31cb1');
                              "
                            ></a>
                          </li>
                          <li class="slide_pannel">
                            <a
                              class="link_slide"
                              href="https://together.kakao.com/fundraisings/79307/epilogue"
                              style="
                                background-image: url('https://t1.daumcdn.net/section/oc/69e64bc6023d4b1593766c9adb401c9d');
                              "
                            ></a>
                          </li>
                          <li class="slide_pannel" data-index="1">
                            <a
                              class="link_slide"
                              href="https://together.kakao.com/fundraisings/80264/epilogue"
                              style="
                                background-image: url('https://t1.daumcdn.net/section/oc/81dbf60e5a0b4acaad99b9b9f3b4e708');
                              "
                            ></a>
                          </li>
                          <li class="slide_pannel" data-index="2">
                            <a
                              class="link_slide"
                              href="https://together.kakao.com/actions/projects/13/mission"
                              style="
                                background-image: url('https://t1.daumcdn.net/section/oc/85eceefb650e47e0b63a465d356eb15d');
                              "
                            ></a>
                          </li>
                          <li class="slide_pannel">
                            <a
                              class="link_slide"
                              href="https://together.kakao.com/fundraisings/91085/epilogue"
                              style="
                                background-image: url('https://t1.daumcdn.net/section/oc/c17e4a5014884e48af9eff9ee82248eb');
                              "
                            ></a>
                          </li>
                          <li class="slide_pannel">
                            <a
                              class="link_slide"
                              href="https://together.kakao.com/fundraisings/90977/epilogue"
                              style="
                                background-image: url('https://t1.daumcdn.net/section/oc/e6262fa477674f2c83c4f0a2efb31cb1');
                              "
                            ></a>
                          </li>

                          <li class="slide_pannel" data-index="0">
                            <a
                              class="link_slide"
                              href="https://together.kakao.com/fundraisings/79307/epilogue"
                              style="
                                background-image: url('https://t1.daumcdn.net/section/oc/69e64bc6023d4b1593766c9adb401c9d');
                              "
                            ></a>
                          </li>
                        </ul>
                        <div class="slide_paging">
                          <span class="inner_paging"
                            ></span
                          >
                        </div>
                        <button type="button" class="btn_slide btn_prev">
                          <span class="ico_together2 ico_prev">이전</span></button
                        ><button type="button" class="btn_slide btn_next">
                          <span class="ico_together2 ico_next">다음</span>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="cont_contribute">
                    <strong class="tit_contribute"
                      >기부앤테이크에서의 우리 모두의 행동은 <br />세상을 아름답게 변화시킵니다.</strong
                    >
                    <p class="txt_contribute">
                      <em class="emph_sign">16,496개의 프로젝트</em>가<br class="mo_linefeed" />
                      같이가치를 통해 사회 변화를 만들어 냈습니다.
                    </p>
                    <p class="txt_contribute">
                      <em class="emph_sign">54,793,479번의 마음</em>이<br class="mo_linefeed" />
                      모여 사회 변화를 이루어냈습니다.
                    </p>
                    <p class="txt_contribute">
                      <em class="emph_sign">68,812,721,840원의 기부금</em>이<br
                        class="mo_linefeed"
                      />
                      기부앤테이크에서 사회 변화를 위해 모여졌습니다.
                    </p>
                    <p class="txt_contribute">
                      기부앤테이크에서는 모금 프로젝트당 <br class="mo_linefeed" /><em class="emph_sign"
                        >평균 6,859,130원의 기부금</em
                      >이 모금됩니다.
                    </p>
                  </div>
                  <div class="wrap_btn">
                    <a
                      routerlink="/fundraisings/propose"
                      class="btn_begin btn_type2"
                      href="/fundraisings/propose"
                      >제안하기</a
                    ><a
                      routerlink="/fundraisings/now"
                      class="btn_begin btn_type1"
                      href="/fundraisings/now"
                      >기부하기</a
                    >
                  </div></ng-component
                >
              </div>
            </div>
          </div></ng-component
        ></span
      >
      <!--footer-->
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/js/introduce/about.js"></script>
</html>
