{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/common/common.css" />
    <link rel="stylesheet" href="../../static/css/introduce/about.css" />
    <link rel="stylesheet" href="../../static/css/introduce/giboo-suggestion.css" />
    <title>기부&제안</title>
  </head>
  <body>
    <div id="dkWrap" class="together_top">
      <!--header-->
      <span id="rootContent"
        ><ng-component
          ><div id="dkContent" class="cont_introduce">
            <div id="mArticle">
              <div class="wrap_introduce">
                <div class="wrap_tab">
                  <ul class="list_tab tab_type4">
                    <li>
                      <a class="link_tab" href="/auroville/together"
                        ><span class="txt_tab">같이가치?</span></a
                      >
                    </li>
                    <li class="on">
                      <a class="link_tab" href="/auroville/donate"
                        ><span class="txt_tab">기부&amp;제안</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/auroville/statistics"
                        ><span class="txt_tab">기부 통계</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/auroville/partner"
                        ><span class="txt_tab">파트너기관</span></a
                      >
                    </li>
                  </ul>
                </div>
                <ng-component>
                  <div class="cont_intro">
                    <p class="desc_intro">
                      당신의 착한 마음을 응원합니다!<br />더 좋은 세상을 꿈꾼다면 지금 시작해보세요.
                    </p>
                  </div>
                  <strong class="tit_define">기부하기</strong>
                  <ul class="list_intro">
                    <li>
                      <span class="ico_together ico_kind1"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">이슈를 널리 알려주세요.</strong> 모금 콘텐츠를
                          다양한 방법으로 지인들과 공유할 때마다 카카오에서 100원씩 기부합니다.
                        </span></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind2"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">응원하고 지지해주세요.</strong> 모금 콘텐츠에
                          응원을 하거나 지지를 위한 댓글이 달릴 때마다 카카오에서 100원씩
                          기부합니다.
                        </span></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind3"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">쉽고 안전하게 기부하세요.</strong> 세상을
                          바꾸는 모금에 적극적으로 참여하는 방법. 다양한 결제수단 으로 기부에 참여할
                          수 있어요.
                          <span class="txt_sub"
                            >ex) 카카오톡, 신용카드, 휴대폰 결제, 무통장 입금으로 기부
                            가능합니다.</span
                          ></span
                        ></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind4"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">기부금영수증을 받을 수 있어요.</strong>
                          같이가치에서 기부하셨다면, 기부금영수증을 신청하세요. 단, 해당되지 않는
                          프로젝트팀 모금은 발급이 어렵습니다.
                        </span></span
                      >
                    </li>
                  </ul>
                  <div class="wrap_btn">
                    <a
                      data-tiara-layer="search"
                      data-tiara-action-name="검색_클릭"
                      class="btn_begin btn_type1"
                      href="/search"
                      >내가 관심있는 이슈 찾아보기</a
                    >
                  </div>
                  <strong class="tit_define">프로젝트 모금함 제안하기</strong>
                  <p class="desc_define">
                    프로젝트팀을 등록하고, 공익 프로젝트 실행을 위한 모금을 진행해보세요. 실제
                    사업을 실행하는 모든 곳에서 제안할 수 있습니다.
                  </p>
                  <ul class="list_intro">
                    <li>
                      <span class="ico_together ico_kind6"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">공감과 신뢰가 기반이 됩니다.</strong> 각 공익
                          분야 전문기관의 모금 검토를 통해 건강한 모금이 진행됩니다.
                        </span></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind7"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">홍보만으로도 모금이 됩니다.</strong> 모금함을
                          많은 사람들에게 공유하고 홍보하세요. 공유될 때마다 카카오가 함께
                          기부합니다.
                        </span></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind8"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">기부자들과 소통할 수 있어요.</strong>
                          프로젝트를 진행하는 동안 모금 사업과 관련된 소식을 작성해 기부자들에게
                          전달할 수 있습니다.
                        </span></span
                      >
                    </li>
                  </ul>
                  <div class="wrap_btn">
                    <a
                      fragment="project_process"
                      data-tiara-layer="project_process"
                      data-tiara-action-name="프모_프로세스_클릭"
                      class="btn_begin"
                      href="/supports/policy/projects#project_process"
                    >
                      프로젝트 모금함 프로세스 자세히 보기 </a
                    ><a
                      routerlink="/fundraisings/propose"
                      data-tiara-layer="project_fundraisings"
                      data-tiara-action-name="제안하기_클릭"
                      class="btn_begin btn_type1"
                      href="/fundraisings/propose"
                      >제안하기</a
                    >
                  </div>
                  <div class="wrap_faq">
                    <strong class="tit_faq">FAQ</strong>
                    <div policyaccordion="box_faq" class="list_faq">
                      <div class="box_faq">
                        <button type="button" class="btn_faq">
                          <span class="sym_faq">Q.</span
                          ><span class="desc_faq">기부한 금액은 어떻게, 어디로 전달이 되나요? </span
                          ><span class="ico_together ico_arrow">닫힘</span>
                        </button>
                        <div class="cont_faq">
                          <span class="sym_faq">A.</span>
                          <p class="desc_faq">
                            여러분이 기부한 금액은 전액 기부처로 전달됩니다. 프로젝트 모금함의
                            모금액은 모금을 진행한 프로젝트팀에게, 기념일 모금함의 모금액은 모금함
                            제안자가 선택한 단체에게 전달됩니다.
                          </p>
                          <p class="desc_faq">
                            기부금 결제 수수료는 전액 카카오에서 부담하고 있으며, 카카오같이가치
                            내에서 모금하는 단체를 대상으로 따로 수수료를 받지 않습니다.
                          </p>
                        </div>
                      </div>
                      <div class="box_faq">
                        <button type="button" class="btn_faq">
                          <span class="sym_faq">Q.</span
                          ><span class="desc_faq">기부하면 기부금영수증을 받을 수 있나요? </span
                          ><span class="ico_together ico_arrow">닫힘</span>
                        </button>
                        <div class="cont_faq">
                          <span class="sym_faq">A.</span>
                          <p class="desc_faq">
                            대부분 받을 수 있지만, 상황에 따라서 기부금영수증이 발급되지 않을 수
                            있습니다. <br />모금함에 따라, 그리고 기부금을 받게 될 단체에 따라
                            기부금영수증 발급이 다르다는 점, 꼭 확인해주세요.
                          </p>
                          <p class="desc_faq">
                            '프로젝트 모금함'에 기부를 하셨다면...<br />간혹 기부금영수증 발급이
                            어려운 기관이나 개인 또는 동아리에서 진행하는 모금함에 기부한 경우,
                            기부금영수증 발급이 되지 않을 수 있습니다. 기부금영수증 발급에 대한
                            내용은 각 모금함의 하단에 고지되어 있습니다. 꼭 확인해주세요.
                          </p>
                          <p class="desc_faq">
                            기부금영수증은 수시로 신청을 받지 않습니다.<br />매 연말에 해당되는
                            기부자들을 대상으로 신청을 받고 국세청연말정산간소화서비스를 통해
                            발급됩니다. 참고해주세요. ^^
                          </p>
                        </div>
                      </div>
                      <div class="box_faq">
                        <button type="button" class="btn_faq">
                          <span class="sym_faq">Q.</span
                          ><span class="desc_faq">모금액이 잘 사용되었는지 궁금해요. </span
                          ><span class="ico_together ico_arrow">닫힘</span>
                        </button>
                        <div class="cont_faq">
                          <span class="sym_faq">A.</span>
                          <p class="desc_faq">
                            '프로젝트 모금함'에 기부를 하면, 해당 모금함의 진행 상황을 알림으로 받을
                            수 있습니다.<br />카카오같이가치 채널을 추가하시면, 해당 소식을
                            카카오톡으로 받아보실 수 있어요.
                          </p>
                          <div class="cont_plusfriend">
                            <a href="https://pf.kakao.com/_NlxcxlM" targetblankpc="" target="_blank"
                              ><button type="button" class="btn_plusfriend">
                                <span class="ico_together3 ico_plusfriend"></span
                                ><span class="txt_plusfriend">채널 추가</span>
                              </button></a
                            >
                          </div>
                          <p class="desc_faq">
                            기부하신 모금함의 프로젝트가 다 진행이 되면,
                            <br class="mo_linefeed" />프로젝트팀에서 최종 후기를 남기고 정산보고를
                            합니다. 기부자님들에게는 해당 후기를 확인하실 수 있도록 알림과 카카오톡
                            메시지로 전달하고 있습니다.
                          </p>
                        </div>
                      </div>
                      <div class="box_faq">
                        <button type="button" class="btn_faq">
                          <span class="sym_faq">Q.</span
                          ><span class="desc_faq">프로젝트 모금함은 무엇인가요?</span
                          ><span class="ico_together ico_arrow">닫힘</span>
                        </button>
                        <div class="cont_faq">
                          <span class="sym_faq">A.</span>
                          <p class="desc_faq">
                            프로젝트모금함은 공익적인 프로젝트를 직접 실행하려는 팀이 진행하는
                            모금입니다.
                          </p>
                          <p class="desc_faq">
                            프로젝트모금함은 개인이나 모임, 혹은 단체나 기관에서 직접 공익적인
                            목적을 가지고 진행하는 공익 프로젝트를 위해 모금할 때 활용하실 수
                            있습니다. 사용자가 결제한 금액과 카카오의 기부금이 직접 프로젝트팀으로
                            전달이 됩니다. 프로젝트팀이 제안을 하면 추가 서류 보완을 거쳐 파트너
                            기관의 심사위원단을 통해 검토를 받습니다. 심사위원단의 승인이 끝나면
                            모금이 시작됩니다.
                          </p>
                        </div>
                      </div>
                      <div class="box_faq">
                        <button type="button" class="btn_faq">
                          <span class="sym_faq">Q.</span
                          ><span class="desc_faq">프로젝트 모금함의 모금 검토는 누가 하나요?</span
                          ><span class="ico_together ico_arrow">닫힘</span>
                        </button>
                        <div class="cont_faq">
                          <span class="sym_faq">A.</span>
                          <p class="desc_faq">
                            카카오같이가치는 투명하고 공정한 모금 진행을 위해 아래의 전문기관들과
                            파트너십을 맺고, 해당 기관을 중심으로 심사위원단을 조직하여 관련 분야의
                            모금을 검토합니다.
                          </p>
                          <p class="desc_faq">
                            - 사회복지 일반 모금 : '사회복지공동모금회'에서 모금 검토<br />
                            - 복지관 주체 모금 : '한국사회복지관협회'에서 모금 검토<br />
                            - 비영리 공익 모금 : '아름다운재단'에서 모금 검토<br />
                            - 사회적경제 영역 모금 : '함께일하는재단'에서 모금 검토
                          </p>
                        </div>
                      </div>
                      <div class="box_faq">
                        <button type="button" class="btn_faq">
                          <span class="sym_faq">Q.</span
                          ><span class="desc_faq">기부금이 잘 쓰였는지 알고 싶어요.</span
                          ><span class="ico_together ico_arrow">닫힘</span>
                        </button>
                        <div class="cont_faq">
                          <span class="sym_faq">A.</span>
                          <p class="desc_faq">
                            프로젝트 모금함의 경우 기부금이 투명하게 잘 쓰였는지 확인하실 수 있도록
                            후기를 제공하고 있습니다.<br />(사업이 완료되면 1 달 이내에 모금후기를
                            작성하고, 파트너기관에 정산자료를 제출해야 함)<br />
                            이 외에도 제안자가 프로젝트 진행 소식을 올려주시면 카카오톡으로 메시지를
                            보내드립니다.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div></ng-component
                >
              </div>
            </div>
          </div></ng-component
        ><!----></span
      >
      <!--footer-->
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/js/introduce/giboo-suggestion.js"></script>
</html>
