{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/common/common.css" />
    <link rel="stylesheet" href="../../static/css/introduce/about.css" />
    <link rel="stylesheet" href="../../static/css/introduce/giboo-suggestion.css" />
    <link rel="stylesheet" href="../../static/css/introduce/partners.css" />
    <title>파트너스</title>
  </head>
  <body>
    <div id="dkWrap" class="together_top">
      <!--header-->
      <span id="rootContent"
        ><ng-component
          ><div id="dkContent" class="cont_introduce">
            <div id="mArticle">
              <div class="wrap_introduce">
                <div class="wrap_tab">
                  <ul class="list_tab tab_type4">
                    <li>
                      <a class="link_tab" href="/auroville/together"
                        ><span class="txt_tab">기부앤테이크?</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/auroville/donate"
                        ><span class="txt_tab">기부&amp;제안</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/auroville/statistics"
                        ><span class="txt_tab">기부 통계</span></a
                      >
                    </li>
                    <li class="on">
                      <a class="link_tab" href="/auroville/partner"
                        ><span class="txt_tab">파트너기관</span></a
                      >
                    </li>
                  </ul>
                </div>
                <ng-component
                  >
                  <div class="cont_intro partner_intro">
                    <p class="desc_intro">
                      신뢰할 수 있는 공익 늘하장을 위해<br />각 분야의 외부 전문기관과 함께하고
                      있습니다.
                    </p>
                  </div>
                  <strong class="tit_define">파트너 기관의 역할</strong>
                  <ul class="list_define">
                    <li>
                      <span class="ico_dot"></span>각 파트너는 담당하는 영역의 늘하장에 대해서 모금
                      검토를 통해 모금의 신뢰성을 보장합니다.
                    </li>
                    <li>
                      <span class="ico_dot"></span>모금 진행 후에는 모금액을 해당 늘하장팀에 전달
                      하고 사후 보고 등의 모금관리를 담당합니다.
                    </li>
                    <li>
                      <span class="ico_dot"></span>파트너의 검토를 통한 늘하장은 파트너 기관에서
                      기부금영수증을 발급합니다.
                    </li>
                  </ul>
                  <strong class="tit_define">늘하장 모금검토 기준</strong>
                  <p class="desc_define">
                    각 파트너는 다음의 기본적인 기준에 따라 늘하장을 검토합니다.
                  </p>
                  <ul class="list_intro col_type1">
                    <li>
                      <span class="ico_together ico_kind13"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">공익성</strong> 공공의 이익과 관련된 사회적
                          이슈인가?
                        </span></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind14"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">시의성</strong> 지원과 관심이 시급을 다투는
                          이슈인가?
                        </span></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind15"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">실현가능성</strong> 실제 변화를 만들어 낼 수
                          있는 사업인가?
                        </span></span
                      >
                    </li>
                    <li>
                      <span class="ico_together ico_kind16"></span
                      ><span class="info_intro"
                        ><span class="inner_info"
                          ><strong class="tit_intro">사회적 공감대</strong> 다수의 공감과 지지를
                          이끌어 낼 수 있는 이슈인가?
                        </span></span
                      >
                    </li>
                  </ul>
                  <strong class="tit_define">파트너 기관 소개</strong>
                  <ul class="list_partner">
                    <li>
                      <img
                        class="img_logo"
                        alt="사랑의열매 사회복지공동모금회"
                        src="https://mud-kage.kakaocdn.net/dn/E1Hm6/btqcLF35Ltk/kuXZF3DpAtVVaSZhvfjLb1/c160.jpg"
                      /><span class="info_partner"
                        ><strong class="tit_partner">사랑의열매 사회복지공동모금회</strong>
                        사랑의열매 사회복지공동모금회는 나눔문화 확산을 통해 더불어 함께 사는 행복한
                        대한민국을 만드는 대표 나눔기관으로서 '사회복지공동모금회법'에 의거하여
                        1998년 설립되었습니다. 국민들의 기부참여를 통해 모금된 기부금을 우리 사회의
                        정말 필요한 곳에 전달하는 역할을 담당하고 있습니다.
                        <a
                          data-tiara-layer="partner_profile"
                          data-tiara-action-name="파트너기관_자세히보기_클릭"
                          class="link_detail"
                          href="/teams/345"
                          >자세히보기<span class="ico_together ico_arrow"></span></a
                      ></span>
                    </li>
                    <li>
                      <img
                        class="img_logo"
                        alt="한국사회복지관협회"
                        src="https://mud-kage.kakaocdn.net/dn/QwROb/btqCi9Ut1nO/n7mymkE1z0ZpXIh6nvkw41/c160.jpg"
                      /><span class="info_partner"
                        ><strong class="tit_partner">한국사회복지관협회</strong>
                        한국사회복지관협회는 다양한 지원 및 교육사업을 통해 사회복지관이 잘 성장할
                        수 있도록 함으로써 지역사회주민의 복지증진에 기여하기 위해 1989년
                        설립되었고, 전국의 453개의 사회복지관과 함께하고 있습니다.
                        <a
                          data-tiara-layer="partner_profile"
                          data-tiara-action-name="파트너기관_자세히보기_클릭"
                          class="link_detail"
                          href="/teams/398"
                          >자세히보기<span class="ico_together ico_arrow"></span></a
                      ></span>
                    </li>
                    <li>
                      <img
                        class="img_logo"
                        alt="함께일하는재단"
                        src="https://mud-kage.kakaocdn.net/dn/zJY4E/btqr3TBIuVo/UaS6aPI6ZeI9hw1uDKMxMk/c160.jpg"
                      /><span class="info_partner"
                        ><strong class="tit_partner">함께일하는재단</strong> 함께일하는재단은
                        '실업극복'이라는 사명을 안고 첫 발을 내딛었던 2003년부터 지금에 이르기까지,
                        양질의 일자리 창출을 통해 사회 양극화를 해소하고 건강한 사회를 이루는데
                        전념해온 민간 공익단체입니다.
                        <a
                          data-tiara-layer="partner_profile"
                          data-tiara-action-name="파트너기관_자세히보기_클릭"
                          class="link_detail"
                          href="/teams/1976"
                          >자세히보기<span class="ico_together ico_arrow"></span></a
                      ></span>
                    </li>
                    <li>
                      <img
                        class="img_logo"
                        alt="재단법인 바보의나눔"
                        src="https://mud-kage.kakaocdn.net/dn/cD8GMB/btqc1vf1Qxn/aoybVeQh634vMB5IVUtfIk/c160.jpg"
                      /><span class="info_partner"
                        ><strong class="tit_partner">재단법인 바보의나눔</strong> 재단법인
                        바보의나눔은 스스로를 '바보'라 부른 김수환 추기경의 사랑과 나눔 정신을
                        이어가기 위해 추기경 선종 1년 후인 2010년 2월 설립되었습니다. '사람이
                        사람답게 사는 세상'을 꿈꾸셨던 김수환 추기경의 뜻을 이어 인종, 국가, 종교,
                        이념을 초월하여 도움이 필요한 이웃을 위해 나누는 민간 모금 및 배분 전문
                        단체입니다.
                        <a
                          data-tiara-layer="partner_profile"
                          data-tiara-action-name="파트너기관_자세히보기_클릭"
                          class="link_detail"
                          href="/teams/1030"
                          >자세히보기<span class="ico_together ico_arrow"></span></a
                      ></span>
                    </li>
                  </ul>
                </ng-component>
              </div>
            </div></div></ng-component
      ></span>
      <!--footer-->
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/js/introduce/partners.js"></script>
</html>
