{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/common/common.css'%}" />
    <link rel="stylesheet" href="{% static 'css/introduce/about.css'%}" />
    <link rel="stylesheet" href="{% static 'css/introduce/giboo-suggestion.css' %}" />
    <link rel="stylesheet" href="{% static 'css/introduce/statistics.css' %}" />
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
    <title>기부 통계</title>
  </head>
  <body>
    <div id="dkWrap" class="together_top">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
      <span id="rootContent"
        ><ng-component
          ><div id="dkContent" class="cont_introduce">
            <div id="mArticle">
              <div class="wrap_introduce">
                <div class="wrap_tab">
                  <ul class="list_tab tab_type4">
                     <li >
                      <a class="link_tab" href="/introduce/about/"
                        ><span class="txt_tab">기부앤테이크?</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/introduce/giboo-suggestion/"
                        ><span class="txt_tab">기부&amp;제안</span></a
                      >
                    </li>
                    <li class="on">
                      <a class="link_tab" href="/introduce/statistics/"
                        ><span class="txt_tab">기부 통계</span></a
                      >
                    </li>
                    <li>
                      <a class="link_tab" href="/introduce/partners/"
                        ><span class="txt_tab">파트너기관</span></a
                      >
                    </li>
                  </ul>
                </div>
                <ng-component>
                  <div class="cont_intro stat_intro">
                    <p class="desc_intro">
                      기부앤테이크에 모인 착한 마음들 <br />우리가 함께 만드는 변화는
                      무궁무진합니다
                    </p>
                  </div>
                  <ul class="list_total">
                    <li>
                      <img
                        src="//t1.kakaocdn.net/together_image/thumb_stat1.png"
                        class="thumb_stat"
                      /><strong class="tit_total">총 기부금</strong
                      ><span class="num_total">{{ donation_total }}</span>
                    </li>
                    <li>
                      <img
                        src="//t1.kakaocdn.net/together_image/thumb_stat2_221018.png"
                        class="thumb_stat"
                      /><strong class="tit_total">총 프로젝트</strong
                      ><span class="num_total">{{ project_total }}개</span>
                    </li>
                    <li>
                      <img
                        src="//t1.kakaocdn.net/together_image/thumb_stat3.png"
                        class="thumb_stat"
                      /><strong class="tit_total">늘해랑 평균 모금액</strong
                      ><span class="num_total">{{ average }}원</span>
                    </li>
                    <li>
                      <img
                        src="//t1.kakaocdn.net/together_image/thumb_stat4_221018.png"
                        class="thumb_stat"
                      /><strong class="tit_total">함께 기부한 마음</strong
                      ><span class="num_total">{{ like_total }}건</span>
                    </li>
                    <li>
                      <img
                        src="//t1.kakaocdn.net/together_image/thumb_stat5_201203.png"
                        class="thumb_stat"
                      /><strong class="tit_total">늘하장 행동 인증</strong
                      ><span class="num_total">{{ authentication_feed_total  }}건</span>
                    </li>
                    <li>
                      <img
                        src="//t1.kakaocdn.net/together_image/thumb_stat6.png"
                        class="thumb_stat"
                      /><strong class="tit_total">함께 봉사한 사람</strong
                      ><span class="num_total">{{ neulhaerang_participatns }}명</span>
                    </li>
                  </ul>
                  <yearly-statistics
                    ><div class="cont_stat_yearly">
                      <div class="inner_yearly_box">
                        <h5 class="tit_stat">연도별 현황</h5>
                        <div class="sort_stat">
                          <div class="box_select">
                            <div class="inner_box">
                              <div class="opt_comm">
                                <span class="select_option select_on">2023</span
                                ><select
                                  id="selectedYear"
                                  class="opt_select ng-valid ng-dirty ng-touched"
                                >
                                  <option value="2023">2023</option>
                                  <option value="2022">2022</option>
                                  <option value="2021">2021</option>
                                  <option value="2020">2020</option>
                                  <option value="2019">2019</option>
                                  <option value="2018">2018</option>
                                  <option value="2017">2017</option>
                                  <option value="2016">2016</option>
                                  <option value="2015">2015</option>
                                  <option value="2014">2014</option>
                                  <option value="2013">2013</option>
                              </select
                                ><span class="box_arrow"
                                  ><span class="ico_together ico_arrow"></span
                                ></span>
                              </div>
                            </div>
                          </div>
                          <span class="txt_year">(2023. 01. 01 ~ 2023. 12. 31)</span>
                        </div>
                      </div>
                    </div>
                    <div data-tiara-layer="yearly" class="cont_stat">
                      <div class="box_graph" style="display: block">
                        <div class="chartjs-size-monitor">
                          <div class="chartjs-size-monitor-expand"><div class=""></div></div>
                          <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
                        </div>
                        <span class="info_item"
                          ><span class="item_point"
                            >어린이<span class="mark_point point_color1"></span></span
                          ><span class="item_point"
                            >청년<span class="mark_point point_color2"></span></span
                          ><span class="item_point"
                            >여성<span class="mark_point point_color3"></span></span
                          ><span class="item_point"
                            >어르신<span class="mark_point point_color4"></span></span
                          ><span class="item_point"
                            >장애인<span class="mark_point point_color5"></span></span
                          ><span class="item_point"
                            >우리사회<span class="mark_point point_color6"></span></span
                          ><span class="item_point"
                            >지구촌<span class="mark_point point_color7"></span></span
                          ><span class="item_point"
                            >어려운이웃<span class="mark_point point_color8"></span></span
                          ><span class="item_point"
                            >동물<span class="mark_point point_color9"></span></span
                          ><span class="item_point"
                            >환경<span class="mark_point point_color10"></span></span
                          ></span
                        ><canvas id="myChart"
                          basechart width="600" height="600"
                          width="400"
                          height="400"
                          style="
                            -webkit-tap-highlight-color: transparent;
                            width: 400px;
                            height: 400px;
                            display: block;
                          "
                          class="chartjs-render-monitor"
                        ></canvas
                        ><strong class="tit_graph"
                          >총 기부금 <span class="num_total"></span></strong
                        >
                      </div>

                      <div class="box_graph" style="display: block">
                        <div class="chartjs-size-monitor">
                          <div class="chartjs-size-monitor-expand"><div class=""></div></div>
                          <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
                        </div>
                        <span class="info_item"
                          ><span class="item_point"
                            >늘해랑 기부<span class="mark_point point_color1"></span></span
                          ><span class="item_point"
                            >댓글 달기<span class="mark_point point_color2"></span></span
                          ><span class="item_point"
                            >응원<span class="mark_point point_color3"></span></span
                          ><span class="item_point"
                            >행동 피드<span class="mark_point point_color4"></span></span
                          ><span class="item_point"
                            >봉사 참여<span class="mark_point point_color5"></span></span
                          ></span
                        ><canvas
                          width="400"
                          height="400"
                          style="
                            -webkit-tap-highlight-color: transparent;
                            width: 400px;
                            height: 400px;
                            display: block;
                          "
                          class="chartjs-render-monitor"
                        ></canvas
                        ><strong class="tit_graph"
                          >총 참여건수 <span class="num_total"></span></strong
                        >
                      </div>
                      <strong class="tit_stat">올해의 기부금 많은 모금함 top5</strong>
                      <ol data-tiara-layer="fundraisings" class="list_fundbest">

                      </ol>
                    </div></yearly-statistics
                  ></ng-component
                >
              </div>
            </div>
          </div></ng-component
        ></span
      >
    {% include 'footer/footer.html' %}
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="
  https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js
  "></script>
  <script src="/static/js/introduce/statistics.js"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}


</html>
