{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/common/common.css'%}" />
    <link rel="stylesheet" href="{% static '/css/header/header.css'%}" />
    <link rel="stylesheet" href="{% static '/css/header/header-media.css'%}" />
    <title>header</title>
  </head>
  <body>
    <header id="header" class="header-base">
      <div class="header-inner">
        <!-- 로고 -->
        <h1 class="logo">
          <a href="" class="logo-link"></a>
        </h1>
        <!-- 반응형 돋보기-->
        <a href="" class="mobile-nav-item mobile-search-link">
          <div aria-hidden="true">
            <svg class="mobile-search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40">
              <g fill="#202020" fill-rule="nonzero">
                <path d="M18 3c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C3 9.716 9.716 3 18 3zm0 3C11.373 6 6 11.373 6 18s5.373 12 12 12 12-5.373 12-12S24.627 6 18 6z"></path>
                <path d="M26.94 27.05a1.5 1.5 0 0 1 2.007-.103l.114.103 9.434 9.435a1.5 1.5 0 0 1-2.007 2.224l-.114-.103-9.435-9.434a1.5 1.5 0 0 1 0-2.122z"></path>
              </g>
            </svg>
          </div>
        </a>
        <!-- 반응형 사이드바 버튼 -->
        <button type="button" class="mobile-nav-item mobile-menu-button">
          <svg class="mobile-menu-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40">
            <g transform="translate(2 5)" fill="#22272b" fill-rule="evenodd">
              <rect width="36" height="3" rx="1.5"></rect>
              <rect y="14" width="36" height="3" rx="1.5"></rect>
              <rect y="27" width="36" height="3" rx="1.5"></rect>
            </g>
          </svg>
        </button>
        <!-- 사이드바 오픈 class open추가하여 조정하기-->
        <div class="side-menu-drawer">
          <div class="drawer-container">
            <div class="drawer-body">
              <a href="javascript:loginWithKakao()">
                <button class="side-menu-login-button">
                  <span class="side-menu-user-profile" src="https://t1.kakaocdn.net/together_image/common/avatar/avatar.png"></span>
                  <span class="side-menu-user-info">
                    <strong class="login-text">로그인</strong>
                  </span>
                </button>
              </a>
              <ul class="side-user-menu-list">
                <li class="side-menu-link-list">
                  <a href="" class="side-menu-user-link">모금 제안</a>
                </li>
              </ul>
              <!-- 사이드바 item container -->
              <nav class="side-container">
                <ul class="side-menu-item-list">
                  <li class="side-menu-item">
                    <a class="side-menu-item-link">
                      <i class="side-menu-item-icon item1"></i>
                      같이기부
                    </a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item2"></i>
                      모두의행동
                    </a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item3"></i>
                      안녕지수
                    </a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item4"></i>
                      Big 5 진단
                    </a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item5"></i>
                      프로모션
                    </a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item6"></i>
                      나눔캠페인
                    </a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item7"></i>
                      마음챙김</a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item8"></i>
                      힐링사운드</a>
                  </li>
                  <li class="side-menu-item">
                    <a href="" class="side-menu-item-link">
                      <i class="side-menu-item-icon item9"></i>
                      같이툰
                    </a>
                  </li>
                </ul>
                <ul class="side-submenu-list">
                  <li
                    class="side-submenu-item">
                    <a href="" class="submenu-item-link">공지사항</a>
                  </li>
                  <li
                    class="side-submenu-item">
                    <a href="" class="submenu-item-link">매거진</a>
                  </li>
                  <li
                    class="side-submenu-item">
                    <a href="" class="submenu-item-link">about 같이가치</a>
                  </li>
                  <li
                    class="side-submenu-item">
                    <a href="" class="submenu-item-link">고객지원</a>
                  </li>
                </ul>
              </nav>
              <div class="side-menu-addition-container">
                <span class="side-menu-addition-text">
                  댓글, 응원, 공유하면 카카오가
                  <br> 
                  대신 기부
                </span>
                <a href="" class="side-menu-link-button">지금참여!</a>
              </div>
              <button type="button" class="side-menu-close-button">
                <svg class="side-menu-close-svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
                  <path d="M29.37.41a1.5 1.5 0 0 1 2.12 0l.1.1a1.5 1.5 0 0 1 0 2.12L18.22 16l13.37 13.37a1.5 1.5 0 0 1 0 2.12l-.1.1a1.5 1.5 0 0 1-2.12 0L16 18.22 2.63 31.59a1.5 1.5 0 0 1-2.007.103L.51 31.59l-.099-.1a1.5 1.5 0 0 1 0-2.12L13.78 16 .41 2.63a1.5 1.5 0 0 1 0-2.12l.1-.1a1.5 1.5 0 0 1 2.12 0L16 13.78z" fill="#202020" fill-rule="evenodd">
                  </path>
                </svg>
              </button>
            </div>
          </div>
          <div class="drawer-layer"></div>
        </div>
        <!-- 사이드바 끝 -->

        <!-- 헤더메뉴 -->
        <nav class="menu">
          <ul class="menu-list">
              <!--home 추가시 밑줄-->
            <li class="list-item-container home">
              <a href="" class="menu-item-link">홈</a>
                 <!-- 메뉴알림뱃지 핑크닷-->
                <i class="new-badge"></i>
            </li>
            <li class="list-item-container header-menu">
              <a href="" class="menu-item-link"
                >늘해랑

              </a>
            </li>
            <li class="list-item-container header-menu">
              <a href="" class="menu-item-link">늘하장</a>
            </li>

            <li class="list-item-container header-menu more">
              <button class="more-button">더보기</button>
              <!-- 더보기 눌렀을 때 메뉴리스트 display로 조정하기-->
              <ul class="more-menu-list" style="display: none">
                <li class="more-menu-item">
                  <a href="" class="more-menu-item-link"><span class="more-menu-txt">about 기부&테이크</span> </a>
                </li>
                <li class="more-menu-item">
                  <a href="" class="more-menu-item-link"><span class="more-menu-txt">공지사항</span></a>
                </li>
                <li class="more-menu-item">
                  <a href="" class="more-menu-item-link"><span class="more-menu-txt">고객지원</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="pc-util-menu">
          <a href="" class="util-button write">제안하기</a>
          <a href="javascript:loginWithKakao()" class="util-button login">로그인</a>
        </div>
        <!-- pc돋보기 -->
        <a href="" class="pc-search-link">
          <div aria-hidden="true">
            <svg class="pc-search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40">
              <g fill="#202020" fill-rule="nonzero">
                <path d="M18 3c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C3 9.716 9.716 3 18 3zm0 3C11.373 6 6 11.373 6 18s5.373 12 12 12 12-5.373 12-12S24.627 6 18 6z"></path>
                <path d="M26.94 27.05a1.5 1.5 0 0 1 2.007-.103l.114.103 9.434 9.435a1.5 1.5 0 0 1-2.007 2.224l-.114-.103-9.435-9.434a1.5 1.5 0 0 1 0-2.122z"></path>
              </g>
            </svg>
          </div>
        </a>
      </div>
    </header>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static '/js/header/header.js'%}"></script>
  <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js" integrity="sha384-70k0rrouSYPWJt7q9rSTKpiTfX6USlMYjZUtr1Du+9o4cGvhPAWxngdtVZDdErlh" crossorigin="anonymous"></script>
  <script>
    // javascript APP KEY 설정
    Kakao.init('c6fc16cf77bad1b72762e026c2fbf9fd');

    function loginWithKakao() {
    Kakao.Auth.authorize({
      redirectUri: 'http://localhost:10000/member/oauth/redirect',
    });
  }

  // 아래는 데모를 위한 UI 코드입니다.
  displayToken()
  function displayToken() {
    var token = getCookie('authorize-access-token');

    if(token) {
      Kakao.Auth.setAccessToken(token);
      Kakao.Auth.getStatusInfo()
        .then(function(res) {
          if (res.status === 'connected') {
            document.getElementById('token-result').innerText
              = 'login success, token: ' + Kakao.Auth.getAccessToken();
          }
        })
        .catch(function(err) {
          Kakao.Auth.setAccessToken(null);
        });
    }
  }

  function getCookie(name) {
    var parts = document.cookie.split(name + '=');
    if (parts.length === 2) { return parts[1].split(';')[0]; }
  }
  </script>
</html>
