<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/header/common.css" />
    <link rel="stylesheet" href="../css/header/header.css" />
    <title>header</title>
  </head>
  <body>
    <header id="header" class="header-base">
      <div class="header-inner">
        <!-- 로고 -->
        <h1 class="logo">
          <a href="" class="logo-link"></a>
        </h1>
        <!-- 반응형 search -->
        <a href="" class="mobile-search-link">
          <div aria-hidden="true">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 40 40"
              width="20"
              height="20"
              opacity="1"
              class="base__SvgIcon-sc-1mima33-0 iUVcgS navigation__IconSearch-sc-18gpk6r-3 fbpKiL"
            >
              <g fill="#202020" fill-rule="nonzero">
                <path
                  d="M18 3c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C3 9.716 9.716 3 18 3zm0 3C11.373 6 6 11.373 6 18s5.373 12 12 12 12-5.373 12-12S24.627 6 18 6z"
                ></path>
                <path
                  d="M26.94 27.05a1.5 1.5 0 0 1 2.007-.103l.114.103 9.434 9.435a1.5 1.5 0 0 1-2.007 2.224l-.114-.103-9.435-9.434a1.5 1.5 0 0 1 0-2.122z"
                ></path>
              </g></svg
            ><span class="screen-out__ScreenOut-sc-1g53lol-0 knpbuW">검색</span>
          </div></a
        >
        <!-- 메뉴 -->
        <nav class="menu">
          <ul class="menu-list">
            <li class="list-item-container home">
              <a href="" class="home-link">홈</a>
            </li>
            <li class="list-item-container">
              <a href="" class=""
                >815
                <!-- 메뉴알림뱃지 -->
                <i class="new-badge">
                  <em class="bedge-info">새로운 알림</em>
                </i>
              </a>
            </li>
            <li class="list-item-container">
              <a href="" class="">같이기부</a>
            </li>
            <li class="list-item-container">
              <a href="" class="">모두의행동</a>
            </li>
            <li class="list-item-container">
              <a href="" class="">마음날씨</a>
            </li>
            <li
              class="list-item-container undefined responsive__Pc-sc-1hv3gy5-0 jkHUZj"
            >
              <button
                aria-expanded="false"
                class="gnb-menu__GnbItemButton-sc-1dzlqwk-4 jHajhQ"
              >
                더보기
              </button>
              <ul
                class="list__ListUlBase-sc-btykj5-1 gKaPZJ pc-sub-menu__SubMenuBase-sc-11cwur-1 rHVfk gnb-menu__PcSubMenuList-sc-1dzlqwk-5 fuApeJ"
              >
                <li
                  class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"
                >
                  <a
                    href="https://together.kakao.com/promotions"
                    class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                    >프로모션</a
                  >
                </li>
                <li
                  class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"
                >
                  <a
                    href="https://together.kakao.com/magazines"
                    class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                    >매거진</a
                  >
                </li>
                <li
                  class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"
                >
                  <a
                    href="https://together.kakao.com/auroville/together"
                    class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                    >about 같이가치</a
                  >
                </li>
                <li
                  class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"
                >
                  <a
                    href="https://together.kakao.com/notices"
                    class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                    >공지사항</a
                  >
                </li>
                <li
                  class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"
                >
                  <a
                    href="https://together.kakao.com/supports"
                    class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                    >고객지원</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <div
          class="pc-util-menu__UtilMenuBase-sc-wlpfqk-0 iPPon undefined responsive__Pc-sc-1hv3gy5-0 jkHUZj"
          aria-label="유틸메뉴"
        >
          <a
            href="https://together.kakao.com/fundraisings/propose"
            class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-util-menu__ProposeLinkButton-sc-wlpfqk-1 gA-DARd kWPyNV"
            >제안하기</a
          ><a
            href="https://accounts.kakao.com/login?continue=https%3A%2F%2Ftogether.kakao.com%2F"
            class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-util-menu__LoginLinkButton-sc-wlpfqk-2 gA-DARd cWqxgx"
            >로그인</a
          >
          <div
            class="container__ContainerBase-sc-1blfbq7-0 jNuphj pc-util-menu__UserUtil-sc-wlpfqk-3 fRTZDQ"
          >
            <ul
              class="list__ListUlBase-sc-btykj5-1 gKaPZJ pc-sub-menu__SubMenuBase-sc-11cwur-1 rHVfk pc-util-menu__PcSubMenuList-sc-wlpfqk-6 bZNsqa"
            >
              <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                <a
                  href="https://together.kakao.com/notifications"
                  class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                  >알림</a
                >
              </li>
              <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                <a
                  href="https://together.kakao.com/my"
                  class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                  >마이페이지</a
                >
              </li>
              <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                <a
                  href="https://together.kakao.com/preferences"
                  class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 pc-sub-menu__SubMenuItemLink-sc-11cwur-0 guzATk ggpkUw"
                  >설정</a
                >
              </li>
              <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                <button class="pc-util-menu__LogoutButton-sc-wlpfqk-7 fwcAaC">
                  로그아웃
                </button>
              </li>
            </ul>
          </div>
        </div>
        <a
          href="https://together.kakao.com/search"
          aria-label="검색"
          class="navigation__SearchLink-sc-18gpk6r-2 gQnZpi undefined responsive__Pc-sc-1hv3gy5-0 jkHUZj"
          ><div aria-hidden="true">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 40 40"
              width="20"
              height="20"
              opacity="1"
              class="base__SvgIcon-sc-1mima33-0 iUVcgS navigation__IconSearch-sc-18gpk6r-3 fbpKiL"
            >
              <g fill="#202020" fill-rule="nonzero">
                <path
                  d="M18 3c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C3 9.716 9.716 3 18 3zm0 3C11.373 6 6 11.373 6 18s5.373 12 12 12 12-5.373 12-12S24.627 6 18 6z"
                ></path>
                <path
                  d="M26.94 27.05a1.5 1.5 0 0 1 2.007-.103l.114.103 9.434 9.435a1.5 1.5 0 0 1-2.007 2.224l-.114-.103-9.435-9.434a1.5 1.5 0 0 1 0-2.122z"
                ></path>
              </g></svg
            ><span class="screen-out__ScreenOut-sc-1g53lol-0 knpbuW">검색</span>
          </div></a
        >
      </div>
    </header>
  </body>
</html>
