{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>알람</title>
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/alarm/alarm.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/favicon_Test.png' %}">
</head>
<body>
<div
        id="dkWrap"
        class="together_top"
>
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
    <span id="rootContent"
    ><router-outlet></router-outlet
    ><ng-component
    ><div id="dkContent" class="cont_declare">
            <div id="mArticle">
              <div class="wrap_inform">
                <ul class="list_inform">
                  <li>
                    <a
                            class="link_inform"
                    ><span class="thumb_inform"
                    ><span class="ico_together ico_declare"></span
                    ></span
                    ><span class="cont_inform"
                    ><strong class="tit_inform emph_sign">프로젝트팀 운영 정책 바로보기</strong
                    ><span class="txt_inform"
                    >안녕하세요? 카카오같이가치입니다. 프로젝트팀이란 ‘같이가치'에서
                          프로젝트모금을 진행할 수 있는 주체이며, 홈페이지나 블로그, SNS 등 온라인을
                          통해 프로젝트팀의 소식 및 지속적인 공익사업을 수행한 실적을 확인할 수
                          있어야 합니다. 개설하신 프로젝트팀의 정보 및 첨부자료를 확인한 바,
                          같이가치 프로젝트팀으로 볼 수 없어, 해당 팀은 종료 처리될 예정입니다.
                          감사합니다.</span
                    ><span class="date_inform">2023.08.10</span></span
                    ></a
                    >
                  </li>
                  <li>
                    <a
                            class="link_inform"
                    ><span class="thumb_inform"
                    ><img
                            alt="썸네일 정보"
                            class="img_thumb"
                            src="https://mud-kage.kakaocdn.net/dn/bC0tzp/btsqvhXpKzk/Va3uahkMTKl7PwHq8WvZLK/c160.jpg"
                    /></span
                    ><span class="cont_inform"
                    ><strong class="tit_inform emph_sign">'기부앤테이크' 보러가기</strong
                    ><span class="txt_inform"
                    >마스터가 승인했습니다. 이제 프로젝트팀 팀원이 되었어요.</span
                    ><span class="date_inform">2023.08.09</span></span
                    ></a
                    >
                  </li>
                  <li>
                    <a
                            class="link_inform"
                    ><span class="thumb_inform"
                    ><span class="ico_together ico_declare"></span
                    ></span
                    ><span class="cont_inform"
                    ><strong class="tit_inform emph_sign">프로젝트팀 운영 정책 바로보기</strong
                    ><span class="txt_inform"
                    >안녕하세요? 카카오같이가치입니다. 프로젝트팀이란 ‘같이가치'에서
                          프로젝트모금을 진행할 수 있는 주체이며, 홈페이지나 블로그, SNS 등 온라인을
                          통해 프로젝트팀의 소식 및 지속적인 공익사업을 수행한 실적을 확인할 수
                          있어야 합니다. 개설하신 프로젝트팀의 정보 및 첨부자료를 확인한 바,
                          같이가치 프로젝트팀으로 볼 수 없어, 해당 팀은 종료 처리될 예정입니다.
                          감사합니다.</span
                    ><span class="date_inform">2023.08.02</span></span
                    ></a
                    >
                  </li>
                  <li>
                    <a
                            class="link_inform"
                    ><span class="thumb_inform"
                    ><img
                            alt="썸네일 정보"
                            class="img_thumb"
                            src="https://mud-kage.kakaocdn.net/dn/bbM0oy/btspNPS566W/uVUTB2k77U2nohFJ75gSwK/c160.jpg"
                    /></span
                    ><span class="cont_inform"
                    ><strong class="tit_inform emph_sign">'화이팅' 보러가기</strong
                    ><span class="txt_inform"
                    >'찐빵인형'님이 대기 중입니다. 확인 후 승인해주세요.</span
                    ><span class="date_inform">2023.08.01</span></span
                    ></a
                    >
                  </li>
                  <li>
                    <a
                            class="link_inform"
                    ><span class="thumb_inform"
                    ><img
                            alt="썸네일 정보"
                            class="img_thumb"
                            src="https://mud-kage.kakaocdn.net/dn/bbM0oy/btspNPS566W/uVUTB2k77U2nohFJ75gSwK/c160.jpg"
                    /></span
                    ><span class="cont_inform"
                    ><strong class="tit_inform emph_sign">'화이팅' 보러가기</strong
                    ><span class="txt_inform"
                    >'*****'님이 대기 중입니다. 확인 후 승인해주세요.</span
                    ><span class="date_inform">2023.08.01</span></span
                    ></a
                    >
                  </li>
                  <li>
                    <a
                            class="link_inform"
                    ><span class="thumb_inform"
                    ><img
                            alt="썸네일 정보"
                            class="img_thumb"
                            src="https://mud-kage.kakaocdn.net/dn/bbM0oy/btspNPS566W/uVUTB2k77U2nohFJ75gSwK/c160.jpg"
                    /></span
                    ><span class="cont_inform"
                    ><strong class="tit_inform emph_sign">'화이팅' 보러가기</strong
                    ><span class="txt_inform"
                    >'b73**'님이 대기 중입니다. 확인 후 승인해주세요.</span
                    ><span class="date_inform">2023.08.01</span></span
                    ></a
                    >
                  </li>
                  
                </ul>
                <button type="button" class="btn_more">
                    더보기</button>
                <p class="desc_auto"><span>60일이 지난 알림은 자동 삭제 됩니다.</span></p>
                <button
                        type="button"
                        class="btn_delete_all"
                >
                  전체 알림 삭제</button
                >
              </div>
            </div>
          </div></ng-component
    ></span
    >
    {% include 'footer/footer.html' %}
</div>
</body>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>
