{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>알람</title>
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/alarm/alarm.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/favicon_Test.png' %}">
</head>
<body>
<div
        id="dkWrap"
        class="together_top"
>
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
    <span id="rootContent"
    ><router-outlet></router-outlet
    ><ng-component
    ><div id="dkContent" class="cont_declare">
            <div id="mArticle">
              <div class="wrap_inform">
                <ul class="list_inform">


                </ul>

                <button type="button" class="btn_more" style="display: none;">
                    더보기</button>


                <p class="desc_auto"><span>더 열심히 활동해 기부천사가 되세요!</span></p>
                <button style="display:none;"
                        type="button"
                        class="btn_delete_all"
                >
                  전체 알림 삭제</button
                >
              </div>
            </div>
          </div></ng-component
    ></span
    >
    {% include 'footer/footer.html' %}
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
<script src="{% static 'js/customer-center/alarm.js' %}"></script>
</html>
