{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>문의하기:기부앤테이크</title>
    <link rel="stylesheet" href="{% static 'css/mypage/mypage-faq.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon_Test.png' %}">
</head>
<body>
{% if request.session.member_email %}
{% include 'header/logined-header.html' %}
{% else %}
{% include 'header/header.html' %}
{% endif %}
<div class="total-wrap">
<div class="wrap group_shadow">
<article class="cont_public " id="mArticle">
    <h3 class="tit_public"> 문의하기 </h3>
    <span class="txt_required">*필수입력 사항</span>


    <!-- request -->

    <div class="question_cont">
        <form id="request" action="/customer-center/inquery/write/" method="post">
            {% csrf_token %}
            <fieldset>


                <input type="hidden" id="loginStatus" value="true">


                <dl class="info_question">
                    <dt>
                        <label class="lab_info" for="subject">
                            문의 제목 *
                        </label>
                    </dt>
                    <dd>
                        <div class="wrap_item wrap_id">
                            <input autocomplete="off" class="inp_info blur_event" id="subject" name="title"
                                   aria-required="true" type="text" maxlength="20" placeholder="제목을 입력해 주세요(20자 이내)">
                        </div>
                    </dd>
                </dl>

                <dl class="info_question">
                    <dt>
                        <label class="lab_info" for="contents">
                            문의 내용
                        </label>
                    </dt>
                    <dd>
                        <div class="wrap_item wrap_tf click_event">
                            <textarea class="inp_info tf_info" cols="24" id="contents" name="content"
                                      required="required" rows="6" style="line-height: normal"
                                      aria-required="true"></textarea>
                        </div>
                    </dd>
                </dl>


                <!-- 동의 안내 영역-->

                <!-- 만 14세 미만 동의 안내 -->

                <!-- // 만 14세 미만 동의 안내 -->

                <div class="info_agree" id="info_agree">
                    <h1 class="tit_agree">현재 로그인된 아이디의 이메일로 답변이 전송됩니다.</h1>
                    <h1 class="tit_agree">답변이 전송되면 알림으로 답변이 완료되었다고 알려드립니다.</h1>


                </div>


                <div class="wrap_btn">
                    <button class="btn_cs btn_cs2" type="button">
                        문의접수
                    </button>
                </div>

            </fieldset>
        </form>
    </div>

    <!-- //request -->
</article>
</div>
</div>
{% include 'footer/footer.html' %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../static/js/mypage/mypage_faq.js"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}

<script>
    let member_email = "{{ request.session.member_email }}"
  $('.btn_cs2').on('click',()=>{
      if(!member_email){
           $('#modalOFF').attr('id','modalON')
        $('.dimmed_layer').css('height','100%');
        $('.dialog-content').css('display','block');
        $('.modal-delete').css('display','block');
        $('.modal-policy').css('display','none');
        return
      }
      if(!$("#subject").val()){
          $("#subject").focus()
          return;
      }

      if(!$("#contents").val()){
          $("#contents").focus()
          return;
      }
    $("form").submit()



})
</script>
</html>