{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/common/common.css" />
    <link rel="stylesheet" href="../../static/css/customer-center/list.css" />
    <title>고객지원</title>
  </head>
  <body>
    <div
      id="dkWrap"
      class="together_top"
    >
      <span id="rootContent"
        ><router-outlet></router-outlet
        ><ng-component
          ><div id="dkContent" class="cont_etc bg_gray">
            <div id="mArticle">
              <div class="wrap_set">
                <strong class="tit_set">고객지원</strong>
                <ul class="list_set">
                  <li>
                    <a
                      href="http://cs.kakao.com/helps?locale=ko&amp;service=72"
                      class="btn_set"
                      target="_blank"
                      ><span class="area_icon area_help"><span class="ico_together"></span></span
                      ><strong class="txt_set">도움말</strong></a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'customer_center:inquery-write' %}"
                      class="btn_set"
                      target="_blank"
                      ><span class="area_icon area_inquire"><span class="ico_together"></span></span
                      ><strong class="txt_set">문의하기</strong></a
                    >
                  </li>
                </ul>
                <strong class="tit_set">약관 및 정책</strong>
                <ul class="list_set">
                  <li>
                    <a
                      href="https://www.kakao.com/policy/terms?type=a&amp;lang=ko"
                      class="btn_set"
                      target="_blank"
                      ><span class="area_icon area_provision"
                        ><span class="ico_together"></span></span
                      ><strong class="txt_set">이용약관</strong></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.kakao.com/policy/privacy?type=p&amp;lang=ko"
                      class="btn_set"
                      target="_blank"
                      ><span class="area_icon area_private"><span class="ico_together"></span></span
                      ><strong class="txt_set">개인정보처리방침</strong></a
                    >
                  </li>
                  <li>
                    <a
                      class="btn_set"
                      href="/supports/policy/teams"
                      ><span class="area_icon area_policy"><span class="ico_together"></span></span
                      ><strong class="txt_set">운영정책</strong></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div></ng-component
        ></span
      >
      <!--footer-->
    </div>
  </body>
</html>
