<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/common/common.css" />
    <link rel="stylesheet" href="../../static/css/main/main.css" />
    <link rel="stylesheet" href="../../static/css/main/media-main.css" />
    <title>main</title>
</head>
<body>
<main id="main" class="page-container">
    <section class="main-branding-section">
        <h3 class="main-branding-title">당신의 착한 마음을<br>같이가치가 응원합니다❤️</h3>
        <div class="main-branding-introduce">
            <div class="main-branding-introduce-item" aria-hidden="true">
                <i class="main-branding-introduce-item-donation" src="https://t1.kakaocdn.net/together_image/common/ico_home_donation.png"></i>
                <span class="main-branding-introduce-text-item">기부 54,793,479 건</span>
                <i class="main-branding-introduce-pic-item" src="https://t1.kakaocdn.net/together_image/common/bg_home_hands.png"></i>
                <i class="main-branding-introduce-item-together" src="https://t1.kakaocdn.net/together_image/common/ico_action_people.png"></i>
                <a href="" class="main-branding-introduce-link">
                    <span class="main-branding-introduce-text-item">같이가치 소개</span>
                    <i class="branding-introduce-item-arrow" src="https://t1.kakaocdn.net/together_image/common/ico_home_arrow_220831.png"></i>
                </a>
            </div>
            <!--상단 반응형-->
            <div class="mobile-branding-introduce" aria-hidden="true">
                <div class="mobile-branding-introduce-item" aria-hidden="true">
                    <i class="mobile-branding-introduce-item-donation" src="https://t1.kakaocdn.net/together_image/common/ico_home_donation.png"></i>
                    <span class="mobile-branding-introduce-text-item">기부 54,793,479 건</span>
                    <i class="mobile-branding-introduce-pic-item" src="https://t1.kakaocdn.net/together_image/common/bg_home_hands.png"></i>
                    <i class="mobile-branding-introduce-item-together" src="https://t1.kakaocdn.net/together_image/common/ico_action_people.png"></i>
                    <a href="" class="mobile-branding-introduce-link">
                        <span class="mobile-branding-introduce-text-item">같이가치 소개</span>
                        <i class="mobile-branding-introduce-item-arrow" src="https://t1.kakaocdn.net/together_image/common/ico_home_arrow_220831.png"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="content-container">
        <section class="main-section">
            <h4 class="main-story-item">
                <span aria-hidden="true" class="main-story-item-content-cover">
                    <em type="tag" class="cover-story-item-label-tag"><div class="cover-story-item-label-tag-text"># 달리면 기부되는 815런</div></em>
                    <span class="cover-story-item-title-text">독립유공자 후손을 위해 가수 션과 함께 달려요!</span>
                    <em type="rect" class="cover-story-item-label-text">8,301명 행동중</em></span>
                <a href="" class="main-story-item-link"></a>
            </h4>
            <!--일반카드 그룹-->
            <div class="neulhearang-card-container">
                <div class="neulhearang-card-group">
                    <div class="neulhearang-funding-card">
                        <a href="" class="neulhearang-funding-card-link">
                            <div src="https://mud-kage.kakaocdn.net/dn/bFshzz/btspeHuCn8c/fG1xKKpBvPBJ6gVrApP800/c360.jpg" class="neulhearang-funding-card-thumbnail first"></div>
                            <div class="neulhearang-funding-card-content">
                                <strong class="neulhearang-funding-card-title">김치가 없는 밥상을 생각해본 적 있으세요?</strong>
                                <span class="neulhearang-funding-card-subtext">김치가 없는 밥상을 생각해 본 적이 있으세요? 우리나라 사람이라면 손님 상에, 가족끼리 먹는 밥상에, 심지어 혼자 라면을 끓여 먹을 때마저 김치가 빠지면 섭하지요. 하지만 우리 어르신들은 그런 김치가 유난히 필요하고 간절합니다. 그나마 올해는 소금 값이 폭등을 하고, 폭우로 인한 농작물 피해가 심해 야채 값이 많이 오른다고 하니 더 걱정이 많으십니다....</span>
                                <em type="tag" class="neulhearang-funding-card-tag"><div role="text" class="neulhearang-funding-card-tag-text"># 건강한식생활</div></em>
                                <em type="rect" class="neulhearang-funding-card-label"><i class="neulhearang-funding-card-label-icon"></i>244,600원 모금중</em>
                            </div>
                        </a>
                    </div>
                    <div class="neulhearang-funding-card">
                        <a href="" class="neulhearang-funding-card-link">
                            <div src="https://mud-kage.kakaocdn.net/dn/2uT1e/btsdQfJWwCY/55nka3oBGgOkzIdZFDrsY0/c360.jpg"
                                 class="neulhearang-funding-card-thumbnail second"></div>
                            <div class="neulhearang-funding-card-content">
                                <strong class="neulhearang-funding-card-title">'사랑 가득' 집밥 레시피를 소개합니다</strong>
                                <span class="neulhearang-funding-card-subtext">높아진 물가에 늘어나는 한숨 소리 “또 올랐네?”  자고 일어나면 올라가는 밥상 물가로 마트에서는 장바구니에 물건을 담았다, 뺐다를 반복하고, 식당에서는 가격이 오른 차림표를 보며 무얼 먹을지 한참을 고민하게 되는 요즘입니다.   그 속에서 유독 깊은 한숨을 내뱉으시는 분들이 있는데요. 우리 주위에는 여전히 조촐한 한 끼를 챙기는 것조차 머뭇거리는 이...</span>
                                <em type="tag" class="neulhearang-funding-card-tag"><div role="text" class="neulhearang-funding-card-tag-text"># 기본생활지원</div></em>
                                <em type="rect" class="neulhearang-funding-card-label"><i class="neulhearang-funding-card-label-icon"></i>1,513,200원 모금중</em>
                            </div>
                        </a>
                    </div>
                    <div class="neulhearang-funding-card">
                        <a href="" class="neulhearang-funding-card-link">
                            <div src="https://mud-kage.kakaocdn.net/dn/cI3SzB/btsf0R1sS0F/e1QG8maiJwVnmulVYJsWoK/c360.jpg"
                                 class="neulhearang-funding-card-thumbnail third"></div>
                            <div class="neulhearang-funding-card-content">
                                <strong class="neulhearang-funding-card-title">참전용사 할아버지, 건강하세요!</strong>
                                <span class="neulhearang-funding-card-subtext">청춘을 바쳐 나라를 지켰지만... 온몸을 바쳐 대한민국을 지켰습니다. 청춘을 바쳐 나라를 지켰습니다. 목숨 걸고 조국을 지켰다는 것이, 자신이 참전용사라는 것이 평생 자랑스러웠습니다. 그러나 현실의 벽은 높았습니다. 전쟁으로 발병한 허리, 다리 통증과 장애는 고질적으로 어르신들을 괴롭혔고, 불편한 몸으로 제대로 된 일을 할 수 없었기에 늘 가난에 시달...</span>
                                <em type="tag" class="neulhearang-funding-card-tag"><div role="text" class="neulhearang-funding-card-tag-text"># 건강한삶</div></em>
                                <em type="rect" class="neulhearang-funding-card-label"><i class="neulhearang-funding-card-label-icon"></i>5,800,755원 모금중</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 배너 -->
            <div class="neulhajang-card-banner-container">
                <div class="slider-container">
                    <!--배너선택 버튼-->
                    <div class="style-container">
                        <div class="inner-style-container">
                            <ul class="paging-button-list">
                                <!--li class active 추가로 조정하기-->
                                <li class="active">
                                    <button type="button" class="paging-button"></button>
                                </li>
                                <li>
                                    <button type="button" class="paging-button"></button>
                                </li>
                                <li>
                                    <button type="button" class="paging-button"></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="slider-frame">
                        <div class="slider-list">
                            <div class="slide">
                                <div class="slide-card-wrap">
                                    <a href="" class="slide-card-link">
                                        <div src="https://t1.kakaocdn.net/together_action_prod/admin/20230524/f3f763631bbc48288935c06ad6520e61?type=thumb&opt=S500x500" class="card-thumbnail"></div>
                                        <div class="card-content">
                                            <strong class="card-title">2023 지구를 위한 여름철 온도! 26℃</strong>
                                            <span class="card-subtext">지구온난화로 인한 이상기후는 여름철 에너지 사용량을 증가시키고 이로 인해 지구는 더 뜨거워지고 있어요! 지구의 온도를 낮출 수 있도록 센스 있는 실내 적정 온도 26℃를 설정하고 인증해 주세요! </span>
                                            <em class="card-tag"><div class="card-tag-text"># 모두의행동</div></em>
                                            <em type="rect" class="card-label"><svg class="card-label-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28 28"><g fill="none" fill-rule="evenodd"><path d="m15.414.566 2.934 2.933L22.5 3.5a2 2 0 0 1 2 2v4.15l2.934 2.936a2 2 0 0 1 0 2.828L24.5 18.35 24.5 22.5a2 2 0 0 1-2 2h-4.15l-2.936 2.934a2 2 0 0 1-2.828 0L9.65 24.5 5.5 24.5a2 2 0 0 1-2-2v-4.152L.565 15.414a2 2 0 0 1 0-2.828L3.499 9.65 3.5 5.5a2 2 0 0 1 2-2h4.151L12.586.565a2 2 0 0 1 2.828 0z" fill="#ad4cfe"></path><path d="M18.02 9.62a1 1 0 0 1 1.677 1.082l-.068.106-6.066 8.21a1 1 0 0 1-1.443.175l-.09-.085-3.506-3.73a1 1 0 0 1 1.366-1.456l.091.086 2.685 2.857 5.354-7.246z" fill="#fff" fill-rule="nonzero"></path></g></svg>3,843명 행동중</em>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="slide-card-wrap">
                                    <a href="" class="slide-card-link">
                                        <div src="https://t1.kakaocdn.net/together_action_prod/admin/20230707/a4f06b967a0748ee996ab46d6e49e91e?type=thumb&amp;opt=S500x500" class="card-thumbnail"></div>
                                        <div class="card-content">
                                            <strong class="card-title">2023 슬기로운 에너지 생활을 위한 '10가지 행동'</strong>
                                            <span class="card-subtext">에너지 소비량이 많아지는 여름철! 지구도 전기도 숨 쉴 수 있도록! 전력 낭비를 줄이는, 높이고 끄고 뽑는 에너지 절약 습관을 실천할 때마다 인증해 주세요! 나만의 에너지 절약 꿀 팁도 함께 나누면 좋아요!</span>
                                            <em class="card-tag"><div class="card-tag-text"># 모두의행동</div></em>
                                            <em type="rect" class="card-label"><svg class="card-label-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28 28"><g fill="none" fill-rule="evenodd"><path d="m15.414.566 2.934 2.933L22.5 3.5a2 2 0 0 1 2 2v4.15l2.934 2.936a2 2 0 0 1 0 2.828L24.5 18.35 24.5 22.5a2 2 0 0 1-2 2h-4.15l-2.936 2.934a2 2 0 0 1-2.828 0L9.65 24.5 5.5 24.5a2 2 0 0 1-2-2v-4.152L.565 15.414a2 2 0 0 1 0-2.828L3.499 9.65 3.5 5.5a2 2 0 0 1 2-2h4.151L12.586.565a2 2 0 0 1 2.828 0z" fill="#ad4cfe"></path><path d="M18.02 9.62a1 1 0 0 1 1.677 1.082l-.068.106-6.066 8.21a1 1 0 0 1-1.443.175l-.09-.085-3.506-3.73a1 1 0 0 1 1.366-1.456l.091.086 2.685 2.857 5.354-7.246z" fill="#fff" fill-rule="nonzero"></path></g></svg>1,979명 행동중</em>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="slide-card-wrap">
                                    <a href="" class="slide-card-link">
                                        <div src="https://t1.kakaocdn.net/together_action_prod/admin/20230730/7b7310c1a10d46d380dbbd9248c8c92a?type=thumb&amp;opt=S500x500" class="card-thumbnail"></div>
                                        <div class="card-content">
                                            <strong color="black" class="card-title">달리면 기부되는 815런! 가수 션과 함께 행동해요</strong>
                                            <span class="card-subtext">독립유공자 후손의 따뜻한 보금자리를 위해 달리는 815런! 함께 행동해 볼까요?</span>
                                            <em class="card-tag"><div class="card-tag-text"># 모두의행동</div></em>
                                            <em type="rect" class="card-label"><svg class="card-label-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28 28"><g fill="none" fill-rule="evenodd"><path d="m15.414.566 2.934 2.933L22.5 3.5a2 2 0 0 1 2 2v4.15l2.934 2.936a2 2 0 0 1 0 2.828L24.5 18.35 24.5 22.5a2 2 0 0 1-2 2h-4.15l-2.936 2.934a2 2 0 0 1-2.828 0L9.65 24.5 5.5 24.5a2 2 0 0 1-2-2v-4.152L.565 15.414a2 2 0 0 1 0-2.828L3.499 9.65 3.5 5.5a2 2 0 0 1 2-2h4.151L12.586.565a2 2 0 0 1 2.828 0z" fill="#ad4cfe"></path><path d="M18.02 9.62a1 1 0 0 1 1.677 1.082l-.068.106-6.066 8.21a1 1 0 0 1-1.443.175l-.09-.085-3.506-3.73a1 1 0 0 1 1.366-1.456l.091.086 2.685 2.857 5.354-7.246z" fill="#fff" fill-rule="nonzero"></path></g></svg>8,958명 행동중</em>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--일반카드 그룹-->
            <div class="neulhearang-card-container">
                <div class="neulhearang-card-group">
                    <div class="neulhearang-funding-card">
                        <a href="" class="neulhearang-funding-card-link">
                            <div src="https://mud-kage.kakaocdn.net/dn/bFshzz/btspeHuCn8c/fG1xKKpBvPBJ6gVrApP800/c360.jpg" class="neulhearang-funding-card-thumbnail first"></div>
                            <div class="neulhearang-funding-card-content">
                                <strong class="neulhearang-funding-card-title">김치가 없는 밥상을 생각해본 적 있으세요?</strong>
                                <span class="neulhearang-funding-card-subtext">김치가 없는 밥상을 생각해 본 적이 있으세요? 우리나라 사람이라면 손님 상에, 가족끼리 먹는 밥상에, 심지어 혼자 라면을 끓여 먹을 때마저 김치가 빠지면 섭하지요. 하지만 우리 어르신들은 그런 김치가 유난히 필요하고 간절합니다. 그나마 올해는 소금 값이 폭등을 하고, 폭우로 인한 농작물 피해가 심해 야채 값이 많이 오른다고 하니 더 걱정이 많으십니다....</span>
                                <em type="tag" class="neulhearang-funding-card-tag"><div role="text" class="neulhearang-funding-card-tag-text"># 건강한식생활</div></em>
                                <em type="rect" class="neulhearang-funding-card-label"><i class="neulhearang-funding-card-label-icon"></i>244,600원 모금중</em>
                            </div>
                        </a>
                    </div>
                    <div class="neulhearang-funding-card">
                        <a href="" class="neulhearang-funding-card-link">
                            <div src="https://mud-kage.kakaocdn.net/dn/2uT1e/btsdQfJWwCY/55nka3oBGgOkzIdZFDrsY0/c360.jpg"
                                 class="neulhearang-funding-card-thumbnail second"></div>
                            <div class="neulhearang-funding-card-content">
                                <strong class="neulhearang-funding-card-title">'사랑 가득' 집밥 레시피를 소개합니다</strong>
                                <span class="neulhearang-funding-card-subtext">높아진 물가에 늘어나는 한숨 소리 “또 올랐네?”  자고 일어나면 올라가는 밥상 물가로 마트에서는 장바구니에 물건을 담았다, 뺐다를 반복하고, 식당에서는 가격이 오른 차림표를 보며 무얼 먹을지 한참을 고민하게 되는 요즘입니다.   그 속에서 유독 깊은 한숨을 내뱉으시는 분들이 있는데요. 우리 주위에는 여전히 조촐한 한 끼를 챙기는 것조차 머뭇거리는 이...</span>
                                <em type="tag" class="neulhearang-funding-card-tag"><div role="text" class="neulhearang-funding-card-tag-text"># 기본생활지원</div></em>
                                <em type="rect" class="neulhearang-funding-card-label"><i class="neulhearang-funding-card-label-icon"></i>1,513,200원 모금중</em>
                            </div>
                        </a>
                    </div>
                    <div class="neulhearang-funding-card">
                        <a href="" class="neulhearang-funding-card-link">
                            <div src="https://mud-kage.kakaocdn.net/dn/cI3SzB/btsf0R1sS0F/e1QG8maiJwVnmulVYJsWoK/c360.jpg"
                                 class="neulhearang-funding-card-thumbnail third"></div>
                            <div class="neulhearang-funding-card-content">
                                <strong class="neulhearang-funding-card-title">참전용사 할아버지, 건강하세요!</strong>
                                <span class="neulhearang-funding-card-subtext">청춘을 바쳐 나라를 지켰지만... 온몸을 바쳐 대한민국을 지켰습니다. 청춘을 바쳐 나라를 지켰습니다. 목숨 걸고 조국을 지켰다는 것이, 자신이 참전용사라는 것이 평생 자랑스러웠습니다. 그러나 현실의 벽은 높았습니다. 전쟁으로 발병한 허리, 다리 통증과 장애는 고질적으로 어르신들을 괴롭혔고, 불편한 몸으로 제대로 된 일을 할 수 없었기에 늘 가난에 시달...</span>
                                <em type="tag" class="neulhearang-funding-card-tag"><div role="text" class="neulhearang-funding-card-tag-text"># 건강한삶</div></em>
                                <em type="rect" class="neulhearang-funding-card-label"><i class="neulhearang-funding-card-label-icon"></i>5,800,755원 모금중</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- tag card list -->
            <div class="neulhearang-tag-card-container">
                <h4 class="neulhearang-tag-card-container-title">
                    <a href="" class="neulhearang-tag-card-container-title-link">
                        <span class="neulhearang-tag-card-container-subtitle-text">응원과 댓글도 기부가 되는</span>
                        <em class="neulhearang-tag-card-container-title-text">가장 쉬운 기부 ❤️</em>
                    </a>
                </h4>
                <!-- 하단 tag card list -->
                <div class="tag-tab-list">
                    <!-- active class 유무로 선택여부 조정하기 -->
                    <button id="totalTab1" class="tab-button active"># 생계지원</button>
                    <button id="totalTab2" class="tab-button "># 안전한세상</button>
                    <button id="totalTab3" class="tab-button"># 의료비지원</button>
                    <button id="totalTab4" class="tab-button"># 장애인시설</button>
                </div>
                <!-- card list 탭 선택시 마다 div 전체 내용 변경 -->
                <!-- 예) id="total-tab-panel1 → id="total-tab-panel2 -->
                <div id="total-tab-panel1" class="tab-panel">
                    <div class="tab-panel-content-card">
                        <a href="" class="tab-panel-content-card-link">
                            <div class="tab-panel-content-card-thumbnail thumbnail1" src="https://mud-kage.kakaocdn.net/dn/8wde5/btskRvmzjJ9/1ckmweoisK6p7wJX4BcST1/c360.jpg"></div>
                            <div class="tab-panel-content-card-text-wrap">
                                <strong class="tab-panel-content-card-title">하반신 마비 위기에도 포기할 수 없는 어머니의 소원</strong>
                                <em class="tab-panel-content-card-label">785,004원 모금중</em>
                            </div>
                        </a>
                    </div>
                    <div class="tab-panel-content-card">
                        <a href="" class="tab-panel-content-card-link">
                            <div class="tab-panel-content-card-thumbnail thumbnail2" src="https://mud-kage.kakaocdn.net/dn/bszgjO/btskEY9WFxw/n4LIFFzGEzMeRKbFYinGo1/c360.jpg"></div>
                            <div class="tab-panel-content-card-text-wrap">
                                <strong class="tab-panel-content-card-title">복지사각지대 1인가구의 장바구니를 채워주세요</strong>
                                <em class="tab-panel-content-card-label">845,604원 모금중</em>
                            </div>
                        </a>
                    </div>
                    <div class="tab-panel-content-card">
                        <a href="" class="tab-panel-content-card-link">
                            <div class="tab-panel-content-card-thumbnail thumbnail3" src="https://mud-kage.kakaocdn.net/dn/c02Lrr/btsiaETHkNJ/i4ZK7D2zN7hvvYKHlVfxP0/c360.jpg"></div>
                            <div class="tab-panel-content-card-text-wrap">
                                <strong class="tab-panel-content-card-title">아내를 세 살배기 아이로 만들어버린 뇌 손상</strong>
                                <em class="tab-panel-content-card-label">4,462,300원 모금중</em>
                            </div>
                        </a>
                    </div>
                    <div class="tab-panel-content-card">
                        <a href="" class="tab-panel-content-card-link">
                            <div class="tab-panel-content-card-thumbnail thumbnail4" src="https://mud-kage.kakaocdn.net/dn/nsewk/btsj04iXLHt/eKdDkwwzZyaGKt4i5Ay4mK/c360.jpg"></div>
                            <div class="tab-panel-content-card-text-wrap">
                                <strong class="tab-panel-content-card-title">에너지 취약계층에게 시원한 바람을 선물해 주세요.</strong>
                                <em class="tab-panel-content-card-label">1,698,100원 모금중</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- 사이드 -->
        <section class="aside-section">
            <div class="aside-epilogue-container">
                <div class="total-donation">
                    <h4 class="total-donation-title-wrap">
                        <a href="" class="total-donation-title-link">
                            <span class="total-donation-title-text">우리가<br>같이만든 변화들</span>
                        </a>
                    </h4>
                    <p class="total-donation-title-subtext">2023.08.10 기준</p>
                    <div class="total-donation-image-box"></div>
                    <div>
                        <a href="" class="donation-statistics-link">
                            <div class="total-donate-box">
                                <i class="total-donate-icon"></i>
                                <strong class="total-donate-title">총 기부금</strong>
                                <em class="total-donate-money">68,812,721,840원</em>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 후기배너 -->
                <div class="neulhearang-review-container">
                    <div>
                        <a href="" class="neulhearang-review-link">
                            <h4 class="neulhearang-review-container-title">따뜻한 후기</h4>
                        </a>
                    </div>
                    <div class="neulhearang-review-paging-carousel">
                        <div class="neulhearang-review-slider-container">
                            <div class="neulhearang-review-style-container">
                                <div class="slider-control-bottomright">
                                    <ul class="list_paging">
                                        <li class="active">
                                            <button type="button" color="black"
                                                    class="button__ButtonBase-sc-1qp1zsm-0 esYdwF button "
                                                    aria-label="슬라이드 1/3" aria-current="true"></button>
                                        </li>
                                        <li>
                                            <button type="button" color="black"
                                                    class="button__ButtonBase-sc-1qp1zsm-0 esYdwF button "
                                                    aria-label="슬라이드 2/3" aria-current="false"></button>
                                        </li>
                                        <li>
                                            <button type="button" color="black"
                                                    class="button__ButtonBase-sc-1qp1zsm-0 esYdwF button "
                                                    aria-label="슬라이드 3/3" aria-current="false"></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-frame"
                                 style="overflow:hidden;width:100%;position:relative;outline:none;height:auto;transition:height 300ms ease-in-out;will-change:height"
                                 aria-label="따뜻한 후기 슬라이드" role="region" tabindex="0">
                                <div class="slider-list"
                                     style="width: 900%; text-align: left; transform: translate3d(-66.6667%, 0px, 0px); display: flex;">
                                    <div class="slide prev-cloned"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/105598">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="56">국가유공자
                                            어르신에게 여름키트를 전달했어요</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj idfoUw">
                                                안녕하세요, 후원자님! 지난 5월 18일 '나라사랑 아름다운 동행' 모금 개설 후 3,609명의 후원자님이 함께해
                                                주셨습니다. 덕분에 1,157,010원이라는 금액이 모였고, 국가유공자분들에게 감사 인사를 전할 수 있었습니다.

                                                판암사회복지관은 6월 호국보훈의 달을 맞</p></div>
                                    </a></div>
                                    <div class="slide prev-cloned"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/99878">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="28.0625">워킹맘으로
                                            변신한 라오스 시골 엄마들!</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj ftYSvI">
                                                라오스 북부 깊은 산속, 소수민족 마을의 젊은 엄마 란은 늘 걱정이 많았습니다. 아이들을 사랑하는 마음만 가지고는 현실적
                                                장애물이 너무나 많았습니다. 남성 중심 농업 문화로 라오스 시골 지역 여성은 무급으로 자급자족하거나, 가사 노동에만
                                                종사하는 경향이 많았습니다. 그런</p></div>
                                    </a></div>
                                    <div class="slide prev-cloned"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/103061">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="28.0625">무더운
                                            여름이 이제 두렵지 않습니다</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj ftYSvI">
                                                많은 분의 관심으로 에어컨을 설치한 한 가정에서 보내주신 아름다운 감사 인사를 전해 드립니다!

                                                "3형제, 친정 엄마와 함께 사는 저희 집은 선풍기만으로 여름을 버텼습니다. 매년 여름, 좁은 공간에 가득한 열기로
                                                움직이지 않아도 아이들은 더위로 예민했습니다.

                                                발달장애를</p></div>
                                    </a></div>
                                    <div class="slide"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/105598">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="56">국가유공자
                                            어르신에게 여름키트를 전달했어요</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj idfoUw">
                                                안녕하세요, 후원자님! 지난 5월 18일 '나라사랑 아름다운 동행' 모금 개설 후 3,609명의 후원자님이 함께해
                                                주셨습니다. 덕분에 1,157,010원이라는 금액이 모였고, 국가유공자분들에게 감사 인사를 전할 수 있었습니다.

                                                판암사회복지관은 6월 호국보훈의 달을 맞</p></div>
                                    </a></div>
                                    <div class="slide"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/99878">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="28.0625">워킹맘으로
                                            변신한 라오스 시골 엄마들!</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj ftYSvI">
                                                라오스 북부 깊은 산속, 소수민족 마을의 젊은 엄마 란은 늘 걱정이 많았습니다. 아이들을 사랑하는 마음만 가지고는 현실적
                                                장애물이 너무나 많았습니다. 남성 중심 농업 문화로 라오스 시골 지역 여성은 무급으로 자급자족하거나, 가사 노동에만
                                                종사하는 경향이 많았습니다. 그런</p></div>
                                    </a></div>
                                    <div class="slide"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/103061">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="28.0625">무더운
                                            여름이 이제 두렵지 않습니다</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj ftYSvI">
                                                많은 분의 관심으로 에어컨을 설치한 한 가정에서 보내주신 아름다운 감사 인사를 전해 드립니다!

                                                "3형제, 친정 엄마와 함께 사는 저희 집은 선풍기만으로 여름을 버텼습니다. 매년 여름, 좁은 공간에 가득한 열기로
                                                움직이지 않아도 아이들은 더위로 예민했습니다.

                                                발달장애를</p></div>
                                    </a></div>
                                    <div class="slide slide-current next-cloned slide-visible"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1">
                                        <a class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                           href="https://together.kakao.com/fundraisings/105598">
                                            <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong
                                                    size="17" color="gray80"
                                                    class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                    width="308" height="56">국가유공자 어르신에게 여름키트를 전달했어요</strong>
                                                <p size="14"
                                                   class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj idfoUw">
                                                    안녕하세요, 후원자님! 지난 5월 18일 '나라사랑 아름다운 동행' 모금 개설 후 3,609명의 후원자님이 함께해
                                                    주셨습니다. 덕분에 1,157,010원이라는 금액이 모였고, 국가유공자분들에게 감사 인사를 전할 수 있었습니다.

                                                    판암사회복지관은 6월 호국보훈의 달을 맞</p></div>
                                        </a></div>
                                    <div class="slide next-cloned"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/99878">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="28.0625">워킹맘으로
                                            변신한 라오스 시골 엄마들!</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj ftYSvI">
                                                라오스 북부 깊은 산속, 소수민족 마을의 젊은 엄마 란은 늘 걱정이 많았습니다. 아이들을 사랑하는 마음만 가지고는 현실적
                                                장애물이 너무나 많았습니다. 남성 중심 농업 문화로 라오스 시골 지역 여성은 무급으로 자급자족하거나, 가사 노동에만
                                                종사하는 경향이 많았습니다. 그런</p></div>
                                    </a></div>
                                    <div class="slide next-cloned"
                                         style="width:11.11111111111111%;flex:1;height:auto;padding:0 0px;opacity:1"
                                         inert="true"><a
                                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                                            href="https://together.kakao.com/fundraisings/103061">
                                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><strong size="17"
                                                                                                          color="gray80"
                                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jMvRSp text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueTitle-sc-1kvnysv-0 ilRySg JQCuW"
                                                                                                          width="308"
                                                                                                          height="28.0625">무더운
                                            여름이 이제 두렵지 않습니다</strong>
                                            <p size="14"
                                               class="container__ContainerBase-sc-1blfbq7-0 lcTjUH text__Text-sc-55es3p-0 fundraising-epilogue-item__EpilogueDescription-sc-1kvnysv-1 kyIMBj ftYSvI">
                                                많은 분의 관심으로 에어컨을 설치한 한 가정에서 보내주신 아름다운 감사 인사를 전해 드립니다!

                                                "3형제, 친정 엄마와 함께 사는 저희 집은 선풍기만으로 여름을 버텼습니다. 매년 여름, 좁은 공간에 가득한 열기로
                                                움직이지 않아도 아이들은 더위로 예민했습니다.

                                                발달장애를</p></div>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj rectangle-banner__BannerBaseContainer-sc-1mz45gh-0 gdCJJH">
                <a src="https://t1.kakaocdn.net/together_action_prod/admin/20230804/642fc545247a45259171baff036d3250"
                   href="https://together.kakao.com/tags/133?phase=2"
                   class="rectangle-banner__BannerBase-sc-1mz45gh-1 iJigvz">
                    <div class="container__ContainerBase-sc-1blfbq7-0 cdyVFy rectangle-banner__BannerContainer-sc-1mz45gh-2 beApLE">
                        <strong size="18" color="white"
                                class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 rectangle-banner__TitleText-sc-1mz45gh-3 ikuzbv ldPPlj">힘겹게
                            여름을 버티는
                            이웃을 도와주세요</strong>
                        <p size="13" color="white"
                           class="container__ContainerBase-sc-1blfbq7-0 eIIUhG text__Text-sc-55es3p-0 rectangle-banner__SubText-sc-1mz45gh-4 dNMuJW hjmRMo">
                            #여름나기 모금함</p></div>
                </a></div>
            <div class="container__ContainerBase-sc-1blfbq7-0 dljVxc mind__MindContainerBase-sc-17o2nfp-0 hBzENP">
                <h4 class="container__ContainerBase-sc-1blfbq7-0 jNuphj"><a
                        class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                        aria-label="마음날씨, 오늘 당신의 마음을 응원해요" href="https://together.kakao.com/hello">
                    <div aria-hidden="true"><em size="13" color="gray60"
                                                class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 mind__TitleText-sc-17o2nfp-1 fXNpwR bQLOCA">마음날씨</em><strong
                            size="20" color="black"
                            class="container__ContainerBase-sc-1blfbq7-0 fCSEJW text__Text-sc-55es3p-0 mind__TitleContainer-sc-17o2nfp-2 eFvGuw hBgdCZ">오늘
                        당신의 마음을 응원해요</strong></div>
                </a></h4>
                <ul class="list__ListUlBase-sc-btykj5-1 gKaPZJ mind__MindList-sc-17o2nfp-3 eFBUWM">
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"><a
                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink happiness-item__ItemLink-sc-135734r-1 bqxmLY"
                            href="https://together.kakao.com/hello/2">
                        <div src="https://mud-kage.kakaocdn.net/dn/bSqPwZ/btqhdjpbTW1/6Ncx5UtbidCHsXTSR7N3H0/img.png?type=thumb&amp;opt=S500x500"
                             class="avatar__Avatar-sc-1o57jkz-0 happiness-item__ThumbnailAvatar-sc-135734r-0 jwSFep ipUjSG"></div>
                        <div class="container__ContainerBase-sc-1blfbq7-0 crxCEs"><strong size="15" color="gray80"
                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 happiness-item__TitleText-sc-135734r-2 lnLtOd kBNznU">나의
                            감사 파워 등급은?</strong>
                            <p size="13" color="gray60"
                               class="container__ContainerBase-sc-1blfbq7-0 hjyviS text__Text-sc-55es3p-0 fMAVji">
                                173,949<!-- --> 명 참여</p></div>
                    </a></li>
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"><a
                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink happiness-item__ItemLink-sc-135734r-1 bqxmLY"
                            href="https://together.kakao.com/hello/1">
                        <div src="https://mud-kage.kakaocdn.net/dn/giHSd/btqhbM7Eaf3/ieAIEp4ckYKEMXbvklZxH0/img.png?type=thumb&amp;opt=S500x500"
                             class="avatar__Avatar-sc-1o57jkz-0 happiness-item__ThumbnailAvatar-sc-135734r-0 dykthb ipUjSG"></div>
                        <div class="container__ContainerBase-sc-1blfbq7-0 crxCEs"><strong size="15" color="gray80"
                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 happiness-item__TitleText-sc-135734r-2 lnLtOd kBNznU">나의
                            자존감 레벨은?</strong>
                            <p size="13" color="gray60"
                               class="container__ContainerBase-sc-1blfbq7-0 hjyviS text__Text-sc-55es3p-0 fMAVji">
                                602,804<!-- --> 명 참여</p></div>
                    </a></li>
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"><a
                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink asmr-item__ItemLink-sc-1juyfx2-3 iCjMNq"
                            href="https://together.kakao.com/mind/37">
                        <div src="https://mud-kage.kakaocdn.net/dn/btcB3b/btqhc89zWqJ/hztUvw3S8l0QZ6L1VgIxa1/img.jpg?type=thumb&amp;opt=S500x500"
                             class="avatar__Avatar-sc-1o57jkz-0 asmr-item__ThumbnailAvatar-sc-1juyfx2-0 jtsPeZ UBSKy">
                            <i class="asmr-item__VodIcon-sc-1juyfx2-1 gpZdIj"></i></div>
                        <div class="container__ContainerBase-sc-1blfbq7-0 crxCEs"><strong size="15" color="gray80"
                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 asmr-item__TitleText-sc-1juyfx2-4 lnLtOd eBxOUu">아침을
                            깨우는
                            빗소리</strong>
                            <p size="13" color="gray60"
                               class="container__ContainerBase-sc-1blfbq7-0 hjyviS text__Text-sc-55es3p-0 asmr-item__SubText-sc-1juyfx2-2 fMAVji etRMMw">
                                120,007<!-- --> 명 재생</p></div>
                    </a></li>
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined"><a
                            class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink asmr-item__ItemLink-sc-1juyfx2-3 iCjMNq"
                            href="https://together.kakao.com/mind/46">
                        <div src="https://mud-kage.kakaocdn.net/dn/Ccv96/btqhcvkpa0v/r8GPtqSs8OTKVqWZJOrjRk/img.jpg?type=thumb&amp;opt=S500x500"
                             class="avatar__Avatar-sc-1o57jkz-0 asmr-item__ThumbnailAvatar-sc-1juyfx2-0 esvenf UBSKy">
                            <i class="asmr-item__VodIcon-sc-1juyfx2-1 gpZdIj"></i></div>
                        <div class="container__ContainerBase-sc-1blfbq7-0 crxCEs"><strong size="15" color="gray80"
                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 asmr-item__TitleText-sc-1juyfx2-4 lnLtOd eBxOUu">머나먼
                            해변가</strong>
                            <p size="13" color="gray60"
                               class="container__ContainerBase-sc-1blfbq7-0 hjyviS text__Text-sc-55es3p-0 asmr-item__SubText-sc-1juyfx2-2 fMAVji etRMMw">
                                82,224<!-- --> 명 재생</p></div>
                    </a></li>
                </ul>
            </div>
            <div class="container__ContainerBase-sc-1blfbq7-0 cdyVFy faq__FaqSectionBase-sc-1xx8e5p-0 fdiNLT"><h4
                    size="13" color="gray60"
                    class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 faq__TitleText-sc-1xx8e5p-1 fXNpwR cCWEfu">
                같이가치 NOW</h4><strong size="20" color="black"
                                     class="container__ContainerBase-sc-1blfbq7-0 jxFfVe text__Text-sc-55es3p-0 faq__TitleContainer-sc-1xx8e5p-2 eFvGuw Xbotf">놓치면
                아까운 같이가치 소식</strong>
                <ul class="list__ListUlBase-sc-btykj5-1 gKaPZJ faq__FaqList-sc-1xx8e5p-3 ljHSCM">
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj faq__ItemContainer-sc-1xx8e5p-6 la-dYHr">
                            <a class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                               href="https://pf.kakao.com/_NlxcxlM"><strong size="15" color="white"
                                                                            class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 faq__TitleFaq-sc-1xx8e5p-4 GKvWa kqDcmg">카카오같이가치
                                카카오톡 채널을
                                추가해보세요! </strong><i class="faq__FaqIcon-sc-1xx8e5p-5 ipReQk"></i></a></div>
                    </li>
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj faq__ItemContainer-sc-1xx8e5p-6 kXljqR">
                            <a class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                               href="https://together.kakao.com/fundraisings/now"><strong size="15" color="white"
                                                                                          class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 faq__TitleFaq-sc-1xx8e5p-4 GKvWa kqDcmg">참여만으로도
                                기부에
                                참여할 수 있어요!</strong><i class="faq__FaqIcon-sc-1xx8e5p-5 ipReQk"></i></a></div>
                    </li>
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj faq__ItemContainer-sc-1xx8e5p-6 kXljqR">
                            <a class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                               href="https://www.instagram.com/explore/tags/%EB%AA%A8%EB%91%90%EC%9D%98%ED%96%89%EB%8F%99/"><strong
                                    size="15" color="white"
                                    class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 faq__TitleFaq-sc-1xx8e5p-4 GKvWa kqDcmg">SNS에서도
                                '모두의행동'
                                인증할 수 있어요 📷</strong><i class="faq__FaqIcon-sc-1xx8e5p-5 ipReQk"></i></a></div>
                    </li>
                    <li class="list__ListItemContainer-sc-btykj5-2 kzmrex undefined">
                        <div class="container__ContainerBase-sc-1blfbq7-0 jNuphj faq__ItemContainer-sc-1xx8e5p-6 la-dYHr">
                            <a class="hyperlink__LinkBase-sc-1ifn50f-0 eEBkuc external_hyperlink "
                               href="https://together.kakao.com/notices/1289"><strong size="15" color="white"
                                                                                      class="container__ContainerBase-sc-1blfbq7-0 jNuphj text__Text-sc-55es3p-0 faq__TitleFaq-sc-1xx8e5p-4 GKvWa kqDcmg">모금을
                                제안하고 싶은
                                당신을 위한 꿀팁💡</strong><i class="faq__FaqIcon-sc-1xx8e5p-5 ipReQk"></i></a></div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>
</body>
</html>