{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제안하기 선택</title>
    <link rel="stylesheet" href="{% static 'css/common/common.css'%}" />
    <link rel="stylesheet" href="{% static 'css/suggestion/choice.css'%}" />
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
  </head>
  <body>
    <div id="dkWrap" class="together_top">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
      <span id="rootContent"
        ><ng-component
          ><div id="dkContent" class="cont_suggest">
            <div id="mArticle">
              <div class="wrap_fundmake">
                <div class="inner_fundmake">
                  <div
                    class="suggest_fundmake suggest_project"
                  >
                    <span class="ico_together2 ico_project"></span
                    ><strong class="tit_fundmake"> 늘해랑 </strong>
                    <p class="desc_fundmake">직접 기획한 프로젝트에 기부금을 사용할 수 있어요.</p>
                    <ul class="list_fundmake">
                      <li>전문기관의 심사를 받습니다.</li>
                      <li>봉사활동 진행 후 결과보고는 필수!</li>
                      <li>
                        <a  class="link_guide" href="/notice/detail/?notice_id=1"
                          >모금 제안 가이드</a
                        >
                      </li>
                    </ul>
                    <a href="/mypage/neulhaerang/write-form"
                      class="link_fundmake"
                      ><span class="txt_start">제안하기</span></a
                    >
                  </div>
                </div>
                <div class="inner_fundmake">
                    <div
                      class="suggest_fundmake suggest_project"
                    >
                      <span class="behave" ></span
                      ><strong class="tit_fundmake"> 늘하장 </strong>
                      <p class="desc_fundmake">직접 기획한 프로젝트에 기부금을 사용할 수 있어요.</p>
                      <ul class="list_fundmake">
                        <li>전문기관의 심사를 받습니다.</li>
                        <li>행동 종료후 공략 인증은 필수!</li>
                        <li>
                          <a href="/notice/detail/?notice_id=1" class="link_guide"
                            >늘하장 제안 가이드</a
                          >
                        </li>
                      </ul>
                      <a href="/mypage/neulhajang/write-form"
                        class="link_fundmake"
                        ><span class="txt_start">제안하기</span></a
                      >
                    </div>
                  </div>
              </div>
            </div>
          </div></ng-component
        ></span
      >
    {% include 'footer/footer.html' %}
    </div>
  </body>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}

<script>
    let member_email = "{{ request.session.member_email }}"
  $('.link_fundmake').each((i,value)=>{
      $(value).on("click",e=>{
            e.preventDefault()
      if(!member_email){
           $('#modalOFF').attr('id','modalON')
        $('.dimmed_layer').css('height','100%');
        $('.dialog-content').css('display','block');
        $('.modal-delete').css('display','block');
        $('.modal-policy').css('display','none');
        return
      }
      location.href = $(value).attr("href")

      })
  })
</script>
</html>
