{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 회원 목록</title>
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/side-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin-common.css' %}">
    <link rel="icon" href="{% static 'image/favicon.png' %}">
</head>

<body>

<!-- 사이드 바 -->
{% include "admin/side-bar.html" %}
<!-- </div> -->
<!-- 사이드 바 끝-->
<div class="wrap">

    <div class="container">
        <div class="container-margin">
            <!-- 헤더 -->
            <div class="board-info-title-box">
                <h1 class="title-txt">회원 목록</h1>
            </div>
            <!-- 내용 섹션 -->
            <section class="board-info-box-layout">
                <div class="delete-box-layout">
                    <div class="delete-box">
                        <button class="delete-button" style="font-size: 14px">선택 회원 전환</button>
                    </div>
                    <div>
                        <input class="admin-search-box" type="search" placeholder=" 검색어를 입력해주세요.">
                        <img class="search-icon" src="{% static 'image/admin/search_icon.svg' %}">
                    </div>

                </div>
                <div class="board-info-box">


                    <div class="info-table">
                        <table class="member-table">
                        </table>
                    </div>
                </div>
            </section>

            <!-- 페이지 버튼 -->

            <div class="page-button-box-layout">

            </div>
            <!-- 페이지 버튼 끝 -->
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/admin/select-all.js' %}"></script>
<script src="{% static 'js/admin/side-bar.js' %}"></script>
<script>
    let staticUrl = "{% get_static_prefix %}"
</script>
<script src="{% static 'js/admin/member.js' %}"></script>


</html>