.wrap_tab2 {
    margin-top: 24px;
}

.wrap_tab2 .list_tab {
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.wrap_tab2 .list_tab li {
    display: inline-block;
}

.wrap_tab2 .list_tab .link_tab {
    display: block;
    position: relative;
    padding: 0 12px 0 19px;
    font-size: 20px;
    font-family: KakaoBig Bold,sans-serif;
    color: #444;
}

.wrap_tab2 .list_tab .txt_tab {
    position: relative;
}

.wrap_tab2 .list_tab li {
    display: inline-block;
}

.wrap_tab2 .on .link_tab {
    color: #dc287c;
}

.wrap_tab2  .list_tab .on .link_tab:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #333;
    content: "";
}

.wrap_tab2 .list_tab .txt_tab {
    position: relative;
}

.reward{
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    margin-top: 83px;
}

