{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 공지사항 수정</title>
    <link rel="stylesheet" href="{% static 'css/admin/admin-write.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/side-bar.css' %}">
    <link rel="icon" href="{% static 'image/favicon.png' %}">

</head>
<body>

<!-- 사이드 바 -->
{% include "admin/side-bar.html" %}
<!-- </div> -->
<!-- 사이드 바 끝-->

<!-- 작성폼 -->
<div class="mainContent">

    <div class="content-wrap">
        <h2 class="title-name-a">공지사항 상세보기</h2>
        <!-- [S] 공지사항 등록 -->
        <form action="">
            <div class="con-write-wrap">
                <div class="notice-write">
                    <div class="write-title">제목</div>
                    <div class="write-sec">
                        <input class="write-text write-input" type="text" placeholder="공지사항 제목을 적어주세요." name="title">
                    </div>
                </div>
                <div class="notice-write">
                    <div class="write-title">내용</div>
                    <div class="write-sec">
                        <textarea class="write-text write-notice" type="text" placeholder="공지사항 내용을 적어주세요."
                                  name="content"></textarea>
                    </div>
                </div>

                <div class="notice-write">
                    <div class="write-title">첨부파일</div>
                    <div class="write-sec notice-img-sec">
                        <div class="notice-images-list">
                            <div class="notice-img thum-img"></div>
                            <div class="notice-img">
                                <div class="cancel">X</div>
                            </div>
                        </div>
                        <label for="attach">
                            <div class="search-notice-img">찾아보기</div>
                        </label>
                        <input type="file" id="attach" style="display: none;" name="upload">
                    </div>
                </div>
            </div>
            <!-- [E] 공지사항 등록 -->


            <!-- 수정하기 btn -->
            <div class="write-btn-wrap">
                <button type="button" class="btn btn-list"><a class="go-list" href="javascript:void(0)">목록</a></button>
                <button type="button" class="btn btn-write">등록하기</button>
            </div>
        </form>

    </div>


</div>


<!-- [E] mainSidebar -->


<!-- [E] wrap -->

</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/admin/side-bar.js' %}"></script>
</html>