{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필'닉네임':기부앤테이크</title>
    <link rel="stylesheet" href="../../static/css/common/common.css"/>
    <link rel="stylesheet" href="../../static/css/mypage/mypage_main.css"/>
  </head>
  <body>
    <div id="whole-wrap">
      <!-- 헤더 -->
      <header></header>
      <!-- 메인 -->
      <main id="root-content">
        <main-section>
          <div id="main-content" class="cont-mypage">
            <div id="article">
              <div class="mypage-cont">
                <div class="group-profile">
                  <div class="area-name">
                    <div class="link-myprofile">
                      <strong class="txt-nick">기부천사</strong>
                      <div class="box-name">
                        <strong class="txt-name"> 계정ID - **** </strong>
                      </div>
                    </div>
                  </div>
                  <div class="area-thumb">
                    <a class="link-badge" href="javascript:void(0)">
                      <span class="badge-thumb">
                        <img
                          class="img-thumb"
                          src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png"
                        />
                      </span>
                    </a>
                    <a class="link-thumb" href="javascript:void(0)">
                      <span class="profile-thumb">
                        <img
                          alt="프로필 사진"
                          class="img-thumb"
                          src="https://t1.kakaocdn.net/together_image/common/avatar/avatar02.png"
                        />
                      </span>
                    </a>
                  </div>
                  <div class="area-setting">
                    <a class="link-setting" href="javascript:void(0)">
                      신고
                    </a>
                  </div>
                </div>
                <user-profile>
                  <div class="group-shadow group-donatedetail">
                    <h3 class="title-section section-type2">기부내역</h3>
                    <button type="button" class="link-round btn-release">
                      비공개
                    </button>
                    <div class="area-donatedetail">
                      <div class="total-donate">
                        <strong class="title-total">총 기부금</strong>
                        <span class="num-total">0원</span>
                      </div>
                      <div class="detail-donate">
                        <ul class="list-detail">
                          <li>
                            <span class="title-detail">기부횟수</span>
                            <span class="num-detail">0회</span>
                          </li>
                          <li>
                            <span class="title-detail">직접기부</span>
                            <span class="num-detail">0원</span>
                          </li>
                          <li>
                            <span class="title-detail">참여기부</span>
                            <span class="num-detail">0원</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="area-moreinfo">
                      <ul class="list-moreinfo">
                        <li>
                          <a class="link-more" href="javascript:void(0)"> 기부내역 </a>
                        </li>
                        <!-- <li>
                          <a class="link-more" href="javascript:void(0)">
                            기부금 영수증
                          </a>
                        </li>
                        <li>
                          <a class="link-more" href="javascript:void(0)">
                            활동증서
                          </a>
                        </li>
                        <li>
                          <a class="link-more" href="javascript:void(0)">
                             기부쿠폰
                          </a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <!-- 늘해랑/늘하장 -->
                  <!-- 행동 내역이 있을때 -->
                  <user-actions>
                    <div class="group-shadow group-action-attend">
                      <h3 class="title-section section-type2"> 늘해랑/늘하장 참여 목록
                        <span class="color-g1">2</span>
                      </h3>
                      <actions-list>
                        <ul class="list-actions">
                          <li>
                            <div class="action-content-card">
                              <a class="link-action-card" href="javascript:void(0)">
                                <span class="thumb-action">
                                  <img alt="이미지" class="img-thumb"
                                  src="https://t1.kakaocdn.net/together_action_prod/action/20230805/q4yw7g3e3bkm_9a35522ca6184e31a73e697b9b305717?type=thumb&amp;opt=S100x100">
                                </span>
                                <div class="info-action">
                                  <strong class="title-action">자랑스러운 태극기! 춘식이와 함께 카카오톡에 달아요</strong>
                                  <p class="desc-action"></p>
                                  <span class="txt-date">2023.08.05</span>
                                </div>
                              </a>
                              <button type="button" class="btn-delete"> 삭제 </button>
                            </div>
                          </li>
                          <li>
                            <div class="action-content-card">
                              <a class="link-action-card" href="javascript:void(0)">
                                <span class="thumb-action">
                                  <img alt="이미지" class="img-thumb" src="../../static/image/mypage/nelhajang_thumbnail01.png">
                                </span>
                                <div class="info-action">
                                  <strong class="title-action">게시글 제목</strong>
                                  <p class="desc-action"></p>
                                  <span class="txt-date">(행동한날짜)2023.00.00</span>
                                </div>
                              </a>
                              <button type="button" class="btn-delete"> 삭제 </button>
                            </div>
                          </li>
                        </ul>
                      </actions-list>
                      <div class="list-more">
                        <a class="link-round" href="javascript:void(0)"> 더보기 </a>
                      </div>
                    </div>
                  </user-actions>
                  <!-- /행동 내역이 있을때 -->
                  <!-- 내가 쓴 댓글 -->
                  <user-comments>
                    <div class="group-shadow group-comment comment-type3">
                      <h3 class="title-section section-type2"> 댓글
                        <span class="color-g1">4</span>
                      </h3>
                      <ul class="list-comment">
                        <li>
                          <div class="comment-info">
                            <span class="info-append">
                              <em class="emph-sign">모금함</em>
                              <a class="link-fund" href="javascript:void(0)"> 어르신께 맛있는 김치를~ "밥상 위 작은 기적" </a>
                            </span>
                            <span class="txt-comment">
                              <span class="desc-comment">응원합니다</span>
                            </span>
                            <span class="info-append">
                              <span class="txt-time">3시간 전</span>
                              <like-comment>
                                <button type="button" class="btn-like" >
                                  <span class="ico-together ico-like"></span>&nbsp;좋아요&nbsp;
                                  <span class="num-like">2</span>
                                </button>
                              </like-comment>
                              <button type="button" class="btn-delete"> 삭제 </button>
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="comment-info">
                            <span class="info-append">
                              <em class="emph-sign">모금함</em>
                              <a class="link-fund" href="javascript:void(0)"> 게시글 제목</a>
                            </span>
                            <span class="txt-comment">
                              <span class="desc-comment">댓글 내용</span>
                            </span>
                            <span class="info-append">
                              <span class="txt-time">방금 전</span>
                              <like-comment>
                                <button type="button" class="btn-like on">
                                  <span class="ico-together ico-like"></span>
                                  &nbsp;좋아요&nbsp;
                                  <span class="num-like">1</span>
                                </button>
                              </like-comment>
                              <button type="button" class="btn-delete"> 삭제 </button>
                            </span>
                          </div>
                        </li>
                      </ul>
                      <div class="list-more">
                        <button type="button" class="link-round link-other2">
                          더보기
                        </button>
                      </div>
                    </div>
                  </user-comments>
                  <!-- 뱃지리스트 -->
                  <user-badge-list>
                    <div class="group-shadow group-badge group-badge-type02">
                      <h3 class="title-section section-type2">
                        스탬프
                        <span class="color-g1">4</span>
                      </h3>
                      <ul class="list-badge">
                        <li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" alt="진짜 나를 발견왕"
                              src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png"
                            />
                            <strong class="name-badge">진짜 나를 발견왕</strong>
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                        <li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" alt="그냥 응원하는 그냥이"
                              src="https://mud-kage.kakaocdn.net/dn/wAcMI/btqcJGCmdqi/8y3t5GRvKS78AoakgTkWZ1/img.png"
                            />
                            <strong class="name-badge"
                              >그냥 응원하는 그냥이</strong
                            >
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                        <li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" alt="행복 연구가"
                              src="https://mud-kage.kakaocdn.net/dn/Mr2bL/btqhcKOaWaB/ZtGl8UDVWPYacTEQ6BYZek/img.png"
                            />
                            <strong class="name-badge">행복 연구가</strong>
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                        <li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" alt="같이가치 새내기"
                              src="https://mud-kage.kakaocdn.net/dn/cdS2zq/btqcKJyBiPS/SDkrVVYcKkxHXkcD8l68i0/img.png"
                            />
                            <strong class="name-badge">같이가치 새내기</strong>
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                        <li>
                          <a class="link-badge">
                            <img class="thumb-badge" alt="대한민국 사랑꾼"
                              src="https://mud-kage.kakaocdn.net/dn/oLbSF/btqsZjySQCw/C6KjWeC9eeFHLIrZxwuA5K/img.png"/>
                            <strong class="name-badge">대한민국 사랑꾼</strong>
                          </a>
                        </li>
                      </ul>
                      <div class="list-more">
                        <button type="button" class="link-round">
                          더보기
                        </button>
                      </div>
                    </div>
                  </user-badge-list>
                                    <user-byeoljii-list>
                    <div class="group-shadow group-badge group-badge-type02">
                      <h3 class="title-section section-type2">
                        별찌
                        <span class="color-g1">4</span>
                      </h3>
                                    <div class="group_meditation">
                  <div class="inner_meditation">
                    <ul class="list_meditation">
                      <li>
                          <a class="link_meditation"
                          href="/mind/110">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">기쁨에 접속하는 3단계 호흡법</strong>
                              <span class="txt_option">
                                  명상가 유정은
                                  3분
                              </span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호(ex.1등 최고의 기부천사, 2등 감동의 기부천사, 3등 은은한 기부천사)</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
                      <div class="list-more">
                        <button type="button" class="link-round">
                          더보기
                        </button>
                      </div>
                    </div>
                  </user-byeoljii-list>
                </user-profile>
              </div>
            </div>
          </div>
        </main-section>
      </main>
      <footer></footer>
      <!-- height 100%시 모달 등장 -->
      <div class="dimmed_layer"></div>
    </div>
    <modal>
        <!-- 모달 꺼지면 id modalOFF display:none -->
        <div tabindex="0" role="dialog" class="dialog-content opened-modal"
         id="modalOFF" style="display: none">
            <modal-content class="modal-delete">
              <div class="inner-together-layer inner-together-layer2">
                <div class="layer-body">
                  <p class="desc-together">
                    <span class="txt-desc"></span>
                  </p>
                  <div class="wrap-btn">
                    <a href="javascript:void(0)" class="btn-set btn-type1">확인</a>
                    <a href="javascript:void(0)" class="btn-set btn-type2">취소</a>
                  </div>
                </div>
              </div>
            </modal-content>
            <modal-content class="modal-badge">
              <div class="inner-together-layer inner-together-layer2">
                  <div class="layer-body">
                      <div class="wrap-badge">
                          <!-- 뱃지 이미지 샘플 -->
                          <img class="thumb-badge"
                               src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png"
                               alt="진짜 나를 발견왕">
                          <strong class="name-badge">뱃지 이름</strong>
                          <p class="txt-badge">뱃지 내용입니다.
                              뱃지 내용입니다.
                              뱃지 내용입니다.
                          </p>
                          <a class="link-look" href="javascript:void(0)"> 뱃지링크입니다. </a>
                      </div>
                  </div>
                  <div class="layer-foot">
                      <button type="button" class="btn-close">
                          <span class="ico-together">닫기</span>
                      </button>
                  </div>
              </div>
            </modal-content>
        </div>
    </modal>
    <div id="toast-container" class="toast-bottom-center" style="display: none">
        <div class="toast toast-success">
            <div class="toaster-icon icon-success"></div>
            <div class="toast-content">
                <div class="toast-title"></div>
                <div class="toast-message">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
  </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/mypage/mypage_main.js"></script>
</html>


