<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my 댓글:기부앤테이크</title>
  <link rel="stylesheet" href="../../static/css/common.css">
  <link rel="stylesheet" href="../../static/css/mypage/mypage_reply.css">
</head>
<body>
  <div id="whole-wrap">
    <!-- 헤더 -->
    <header></header>
    <span id="main-content"></span>
      <user-header>
        <div id="dkContent" class="cont_mypage">
          <div id="mArticle">
            <div class="mycmt_cont">
              <!-- 프로필 -->
              <div class="group_profile">
                <div class="area_name">
                  <div class="link_myprofile">
                    <strong class="txt_nick">기부천사</strong>
                    <div class="box_name">
                      <strong class="txt_name"> (계정ID) b73** </strong>
                    </div>
                  </div>
                </div>
                <div class="area_thumb">
                  <a class="link_badge" href="/my/badges">
                    <span class="badge_thumb">
                      <img class="img_thumb" src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png">
                    </span>
                  </a>
                  <a class="link_thumb" href="/preferences/profile">
                    <span class="profile_thumb">
                      <img class="img_thumb" src="https://t1.kakaocdn.net/together_image/common/avatar/avatar02.png">
                    </span>
                  </a>
                </div>
              </div>
              <!-- 댓글 목록 -->
              <ng-component>
                <div class="group_commentlist cmt_type3 #comment">
                  <h3 class="tit_section section_type6"> 댓글
                    <span class="color_g1">11</span>
                  </h3>
                  <ul class="list_cmt">
                    <!-- 댓글 1 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                             게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">15분 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">1</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 2 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글링크">
                             게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">15분 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 3 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                             게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">16분 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 4 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                             게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">17시간 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">3</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 5 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                            게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">17시간 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">3</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 6 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                            게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">17시간 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">3</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 7 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                            게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">17시간 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">3</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 8 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                            게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">17시간 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">3</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 9 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                            게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">17시간 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">3</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                    <!-- 댓글 10 -->
                    <li>
                      <div class="cmt_info">
                        <span class="info_append">
                          <em class="emph_sign">모금함</em>
                          <a class="link_fund" href="게시글 링크">
                            게시글 제목 </a>
                        </span>
                        <span class="txt_cmt">
                          <span class="desc_cmt">댓글 내용</span>
                          <span class="emoticon_pack"></span>
                        </span>
                        <span class="info_append">
                          <span class="txt_time">17시간 전</span>
                          <like-comment>
                            <button type="button" freezebutton="" class="btn_like on">
                              <span class="ico_together ico_like"></span>
                              &nbsp;좋아요&nbsp;
                              <span class="num_like">3</span>
                            </button>
                          </like-comment>
                          <button type="button" class="btn_delete"> 삭제 </button>
                        </span>
                      </div>
                    </li>
                  </ul>
                  <div class="list_more">
                    <button type="button" class="link_round link_other2">
                      더보기 
                    </button>
                  </div>
                </div>
              </ng-component>
            </div>
          </div>
        </div>
      </user-header>
  </div>
</body>
</html>