{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>뱃지:기부앤테이크</title>
  <link rel="stylesheet" href="{% static 'css/common/common.css'%}">
  <link rel="stylesheet" href="{% static 'css/mypage/mypage_badge.css'%}">
  <link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
</head>
<body>
  <div id="whole-wrap">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
    <header></header>
    <main id="root-content">
      <main-section>
        <div id="main-content" class="cont-mypage">
          <div id="article">
            <div class="mybadge-cont">
            <!-- 프로필 -->
              <div class="group-profile">
                <div class="area-name">
                  <div class="link-myprofile">
                    <strong class="txt-nick">{{ donation_level }}기부천사</strong>
                    <div class="box-name">
                      <strong class="txt-name"> {{ member_nickname }} </strong>
                    </div>
                  </div>
                </div>
                <div class="area-thumb">
                    {% if member_profile_badge %}
                  <a class="link-badge" href="javascript:void(0)">
                    <span class="badge-thumb">
                      <img class="img-thumb" src=/{{ member_profile_badge }}>
                    </span>
                  </a>
                    {% endif %}
                  <a class="link-thumb" href="javascript:void(0)">
                    <span class="profile-thumb">
                      <img class="img-thumb" src=/upload/{{ profile_image }}>
                    </span>
                  </a>
                </div>
              </div>

              <!-- 뱃지 목록 -->
              <component-section>
                <div class="group-badge">
                  <h3 class="tit-section section-type6">뱃지
                    <span class="color-g1">{{ badge_count }}</span>
                  </h3>
                  <div class="area-badge">
                    <!-- 스탬프 리스트 -->
                    <ul class="list-badge">
                        {% for badges in www_badge_list %}
                      <li class="my-badge">
                        <a class="link-badge">
                          <img class="thumb-badge" alt="진짜 나를 발견왕" src=/{{ badges.badge.badge_image }}>
                          <strong class="name-badge">{{ badges.badge.badge_name }}</strong>
                          <span class="num-badge">{{ badge_count }}</span>
                        </a>
                      </li>
                        {% endfor %}
                    {% for nobadges in www_nobadge_list %}
                      <li>
                        <a class="link-badge">
                          <img class="thumb-badge" alt="그냥 응원하는 그냥이" src=/{{ nobadges.badge_image }}>
                          <strong class="name-badge">{{ nobadges.badge_name }}</strong>
                          <span class="num-badge"></span>
                        </a>
                      </li>
                    {% endfor %}
{#                      <li class="my-badge">#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="행복 연구가" src="https://mud-kage.kakaocdn.net/dn/Mr2bL/btqhcKOaWaB/ZtGl8UDVWPYacTEQ6BYZek/img.png">#}
{#                          <strong class="name-badge">행복 연구가</strong>#}
{#                          <span class="num-badge">1회</span>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li class="my-badge">#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="같이가치 새내기" src="https://mud-kage.kakaocdn.net/dn/cdS2zq/btqcKJyBiPS/SDkrVVYcKkxHXkcD8l68i0/img.png">#}
{#                          <strong class="name-badge">같이가치 새내기</strong>#}
{#                          <span class="num-badge">1회</span>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="대한민국 사랑꾼" src="https://mud-kage.kakaocdn.net/dn/oLbSF/btqsZjySQCw/C6KjWeC9eeFHLIrZxwuA5K/img.png">#}
{#                          <strong class="name-badge">대한민국 사랑꾼</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="착한 힘꾼" src="https://mud-kage.kakaocdn.net/dn/qv8Is/btqqY4YwzWO/taAKALNEjmDXI8VZPSCqeK/img.png">#}
{#                          <strong class="name-badge">착한 힘꾼</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="착한 요리왕" src="https://mud-kage.kakaocdn.net/dn/cFII9u/btqpqAqPfW8/9kCftmsQhJnffRzbslM4d1/img.png">#}
{#                          <strong class="name-badge">착한 요리왕</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="지구야♥︎사랑해" src="https://mud-kage.kakaocdn.net/dn/GAP22/btqpjqn2xFg/qM0kzJ3rlTPGtW7SArThp1/img.png">#}
{#                          <strong class="name-badge">지구야♥︎사랑해</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="나는 금손이다" src="https://mud-kage.kakaocdn.net/dn/bTLOvI/btqpjZjquPI/nfIo3WsWCKfOSxZrl0KyBK/img.png">#}
{#                          <strong class="name-badge">나는 금손이다</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="카카오뱅크의 천사" src="https://mud-kage.kakaocdn.net/dn/cO5dKt/btqm9mfLQlS/rxkcDLNpsXv83Mp7ImxXGk/img.png">#}
{#                          <strong class="name-badge">카카오뱅크의 천사</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="BTS의 친구" src="https://mud-kage.kakaocdn.net/dn/2Cg3c/btqjCXKZJGX/kYiZKDekUnbdtsgTr9YVj1/img.png">#}
{#                          <strong class="name-badge">BTS의 친구</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="같이가치 10주년" src="https://mud-kage.kakaocdn.net/dn/iuXTb/btqiqzlJysK/v4Fjc6P4cVBGRknHO7m4Ak/img.png">#}
{#                          <strong class="name-badge">같이가치 10주년</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="한글교육 후원자" src="https://mud-kage.kakaocdn.net/dn/cq3fTW/btqisyyqmfI/yDKjfoTH1GnW5E6K3KxUk1/img.png">#}
{#                          <strong class="name-badge">한글교육 후원자</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="마음전문 기상캐스터" src="https://mud-kage.kakaocdn.net/dn/j5ma1/btqhdjbd5hg/XEGzsIxxuqmxPuBKR7zYl1/img.png">#}
{#                          <strong class="name-badge">마음전문 기상캐스터</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="나는 자연인이다!" src="https://mud-kage.kakaocdn.net/dn/bFBJyP/btqhdjPPJd1/I0gp1HpgIXEJXC0FHMot00/img.png">#}
{#                          <strong class="name-badge">나는 자연인이다!</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="마음 병아리" src="https://mud-kage.kakaocdn.net/dn/bONU1K/btqhcUbWlUf/2iZ3UkeRkRzRwvRzUhkK90/img.png">#}
{#                          <strong class="name-badge">마음 병아리</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="수애의 친구" src="https://mud-kage.kakaocdn.net/dn/l3AxT/btqfNIDKYi0/R9biP62fClM9k4tX4NemU0/img.png">#}
{#                          <strong class="name-badge">수애의 친구</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="야생동물의 수호자" src="https://mud-kage.kakaocdn.net/dn/bTZA6Z/btqgeBMCfYZ/2g0WEYclzTGNQMhH5pLZfK/img.png">#}
{#                          <strong class="name-badge">야생동물의 수호자</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="기브티콘 후원자" src="https://mud-kage.kakaocdn.net/dn/cRu5GX/btqfM0ksZTf/KZa7Bhc90NkYzjQ2HpbUnK/img.png">#}
{#                          <strong class="name-badge">기브티콘 후원자</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="하트뿅뿅 랜선집사" src="https://mud-kage.kakaocdn.net/dn/cHaLzb/btqge1RDvjd/jOatTwyg7oatBI4pj4ZNX0/img.png">#}
{#                          <strong class="name-badge">하트뿅뿅 랜선집사</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="속마음 탐구자" src="https://mud-kage.kakaocdn.net/dn/ReVkz/btqezX3yP5O/nICTYkKtNn4nWCqyYNI3E1/img.png">#}
{#                          <strong class="name-badge">속마음 탐구자</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="어떤 봉사왕" src="https://mud-kage.kakaocdn.net/dn/cM6BQ2/btqezLPH0uh/kk6PPDwSVlCIbHNCzWcySK/img.png">#}
{#                          <strong class="name-badge">어떤 봉사왕</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="어떤 봉사자" src="https://mud-kage.kakaocdn.net/dn/E9Y2t/btqeknH60XN/I9AgzDzXrDKm4BHSviXAVK/img.png">#}
{#                          <strong class="name-badge">어떤 봉사자</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="카톡 패셔니스타" src="https://mud-kage.kakaocdn.net/dn/cv0qVD/btqcULcDe5P/BrZ3EhCgZzXveNeofStrh0/img.png">#}
{#                          <strong class="name-badge">카톡 패셔니스타</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="스마트 기부왕" src="https://mud-kage.kakaocdn.net/dn/HMerN/btqcRHVCqrQ/kNxkVjkm6Dv1qqzlJyUOpK/img.png">#}
{#                          <strong class="name-badge">스마트 기부왕</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="같이가치" src="https://mud-kage.kakaocdn.net/dn/cjTc8W/btqcJYbN66A/tuQkgU3pHtvEHtPswfgB70/img.png">#}
{#                          <strong class="name-badge">같이가치</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="프로젝트 스타터" src="https://mud-kage.kakaocdn.net/dn/dD3j2u/btqcKIsVoWn/vGfS2BO5xmJMJbAvZ7AAm0/img.png">#}
{#                          <strong class="name-badge">프로젝트 스타터</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="같이가치 파트너" src="https://mud-kage.kakaocdn.net/dn/vO5o1/btqcJUULAv8/9PFsb6rEwUgWNXHs2KOKU0/img.png">#}
{#                          <strong class="name-badge">같이가치 파트너</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="미래의 기부왕" src="https://mud-kage.kakaocdn.net/dn/b2GT94/btqcJI1eFaD/34qt4DrkbDAhjlFo10783K/img.png">#}
{#                          <strong class="name-badge">미래의 기부왕</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="희망해 천사" src="https://mud-kage.kakaocdn.net/dn/2cMRd/btqcJXxc6dh/rgeA9ataafOlSYy5vkc5mk/img.png">#}
{#                          <strong class="name-badge">희망해 천사</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="추억하고 추모합니다" src="https://mud-kage.kakaocdn.net/dn/KgoEm/btqcMXLgdr2/yivQwqaCWfBQrjgcYHlAEk/img.png">#}
{#                          <strong class="name-badge">추억하고 추모합니다</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="기념일 축하!" src="https://mud-kage.kakaocdn.net/dn/fcJWD/btqcJJFRvxX/FiISJSOy1MeJkGwxyArNvk/img.png">#}
{#                          <strong class="name-badge">기념일 축하!</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="동물의 친구" src="https://mud-kage.kakaocdn.net/dn/ekV3BA/btqcJQx41KU/hypJU91fQbXK7dxA081qck/img.png">#}
{#                          <strong class="name-badge">동물의 친구</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="지구촌 촌장님" src="https://mud-kage.kakaocdn.net/dn/comvUF/btqcJJMDprH/aSPcp5KN2Lstz0E0MruKcK/img.png">#}
{#                          <strong class="name-badge">지구촌 촌장님</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="이주민의 친구" src="https://mud-kage.kakaocdn.net/dn/J1L4y/btqcJMo4hQC/WknogmRf5GFDwxqYnMjVa1/img.png">#}
{#                        <strong class="name-badge">이주민의 친구</strong>#}
{#                      </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="장애인의 친구" src="https://mud-kage.kakaocdn.net/dn/dI7DWU/btqcJRwYRKy/jj9bqXHm7Es7Ui0r9dVIMk/img.png">#}
{#                          <strong class="name-badge">장애인의 친구</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="내 나이가 어때서" src="https://mud-kage.kakaocdn.net/dn/Lm7Jm/btqcKIsVnX2/f3O7WtZRGMMKLCOb1SfcVK/img.png">#}
{#                          <strong class="name-badge">내 나이가 어때서</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="우먼 파워" src="https://mud-kage.kakaocdn.net/dn/mCler/btqcJTuNBvr/GyjmRLZJSIE6NV8yNvV1q1/img.png">#}
{#                          <strong class="name-badge">우먼 파워</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="청춘 만만세" src="https://mud-kage.kakaocdn.net/dn/fiHG8/btqcJJ6UGeD/LTboLWj2he2rt1NUQDv7E1/img.png">#}
{#                          <strong class="name-badge">청춘 만만세</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="새싹 지킴이" src="https://mud-kage.kakaocdn.net/dn/cB3Gmf/btqcKGu6Qp6/qSBStjKCEpZvnrgz9F4jL0/img.png">#}
{#                          <strong class="name-badge">새싹 지킴이</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="이웃 사랑꾼" src="https://mud-kage.kakaocdn.net/dn/PEWcW/btqcJK5Sg7Q/IOVTNQ1ToDa1R6OIGzK630/img.png">#}
{#                          <strong class="name-badge">이웃 사랑꾼</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="우리 함께♡" src="https://mud-kage.kakaocdn.net/dn/kQAXZ/btqcJTVSxCd/bTeqkY8cP7VUzI5X7vTQBK/img.png">#}
{#                          <strong class="name-badge">우리 함께♡</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="함께 사는 사회" src="https://mud-kage.kakaocdn.net/dn/wrpQo/btqcJE5Ccoz/ka50JMCHveYviX58NcgLbk/img.png">#}
{#                          <strong class="name-badge">함께 사는 사회</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="마을 전문가" src="https://mud-kage.kakaocdn.net/dn/dKDjrq/btqcJKY3eEg/D973xwPUMCfO1VT3WK8fn0/img.png">#}
{#                          <strong class="name-badge">마을 전문가</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="지구별 수호자" src="https://mud-kage.kakaocdn.net/dn/QF8Xc/btqcJYbNPxd/nqK8kjDf0JflfLOhOKVSpK/img.png">#}
{#                          <strong class="name-badge">지구별 수호자</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="평화의 비둘기상" src="https://mud-kage.kakaocdn.net/dn/EBQH7/btqcJMo4gXf/JljaegpXBB0L1JkcwGPqrk/img.png">#}
{#                          <strong class="name-badge">평화의 비둘기상</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="같이 튼튼상" src="https://mud-kage.kakaocdn.net/dn/cRjwbj/btqcJZu03fz/LJSNXRJJn559j5BLYyqWmk/img.png">#}
{#                          <strong class="name-badge">같이 튼튼상</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="뜨거운 땀방울" src="https://mud-kage.kakaocdn.net/dn/dnvd9t/btqcJMJlCDB/aMU3MBeD1s5SuGkd3Y03HK/img.png">#}
{#                          <strong class="name-badge">뜨거운 땀방울</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="힘내라 힘" src="https://mud-kage.kakaocdn.net/dn/bzTQmA/btqcJUAvEOE/wH8jPKYXKobYQDkuLdeTt1/img.png">#}
{#                          <strong class="name-badge">힘내라 힘</strong>#}
{#                        </a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a class="link-badge">#}
{#                          <img class="thumb-badge" alt="스승의 마음" src="https://mud-kage.kakaocdn.net/dn/cyEwA9/btqcKKqJ6fR/YGCvL2bkJMyuCj4M2b0BL0/img.png">#}
{#                          <strong class="name-badge">스승의 마음</strong>#}
{#                        </a>#}
{#                      </li>#}
                    </ul>
                  </div>
                </div>
              </component-section>
            </div>
          </div>
        </div>
      </main-section>
      {% include 'footer/footer.html' %}
      <!-- height 100%시 모달 등장 -->
      <div class="dimmed_layer"></div>
    </main>
  </div>
  <modal>
      <!-- 모달창 띄울 시 id=modalON으로 변경 display: block -->
      <!-- 모달창 보류 -->
      <div tabindex="0" role="dialog" class="dialog-content opened-modal" id="modalOFF"
           style="display: none;">
          <modal-content>
              <div class="inner-together-layer inner-together-layer2">
                  <div class="layer-body">
                      <div class="wrap-badge">
                          <!-- 뱃지 이미지 샘플 -->
                          <img class="thumb-badge"
                               src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png"
                               alt="진짜 나를 발견왕">
                          <strong class="name-badge">뱃지 이름</strong>
                          <p class="txt-badge">뱃지 내용입니다.
                              뱃지 내용입니다.
                              뱃지 내용입니다.
                          </p>
                          <a class="link-look" href="javascript:void(0)"> 뱃지링크입니다. </a>
                      </div>
                  </div>
                  <div class="layer-foot">
                      <button type="button" class="btn-close">
                          <span class="ico-together">닫기</span>
                      </button>
                  </div>
              </div>
          </modal-content>
      </div>
  </modal>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/mypage/mypage_badge.js'%}"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>