<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기부내역:기부앤테이크</title>
  <link rel="stylesheet" href="../../static/css/common.css">
  <link rel="stylesheet" href="../../static/css/mypage/mypage_donate.css">
</head>
<body>
  <div id="dkWrap" class="together_top">
    <!-- 헤더 -->
    <header>
      <div id="dkHead"></div>
    </header>
    <main id="rootContent">
      <div id="dkContent" class="cont_mypage">
        <div id="mArticle">
          <div class="donate_cont">
            <!-- 프로필 -->
            <div class="group_profile">
              <div class="area_name">
                <div class="link_myprofile">
                  <strong class="txt_nick">기부천사</strong>
                  <div class="box_name">
                    <strong class="txt_name"> (계정ID) b73** </strong>
                  </div>
                </div>
              </div>
              <div class="area_thumb">
                <a class="link_badge" href="/my/badges">
                  <span class="badge_thumb">
                    <img class="img_thumb" src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png">
                  </span>
                </a>
                <a class="link_thumb" href="/preferences/profile">
                  <span class="profile_thumb">
                    <img class="img_thumb" src="https://t1.kakaocdn.net/together_image/common/avatar/avatar02.png">
                  </span>
                </a>
              </div>
            </div>
            <section-component>
              <div class="group_donate">
                <h3 class="tit_section section_type6">기부내역</h3>
                <div class="area_doselect">
                  <div class="box_select">
                    <div class="inner_box">
                      <div class="opt_comm">
                        <select id="opPeriod" class="opt_select ng-untouched ng-pristine ng-valid">
                          <option value="">전체</option>
                          <option value="1: 2023"> 2023 </option>
                          <option value="2: 2022"> 2022 </option>
                          <option value="3: 2021"> 2021 </option>
                          <option value="4: 2020"> 2020 </option>
                          <option value="5: 2019"> 2019 </option>
                        </select>
                        <span class="box_arrow">
                          <span class="ico_together ico_arrow"></span>
                        </span>
                        <span class="select_option select_on"> 전체 </span>
                      </div>
                    </div>
                    <div class="inner_box">
                      <div class="opt_comm">
                        <select id="opMeans" class="opt_select ng-untouched ng-pristine ng-valid">
                          <option>전체</option>
                          <option value="1: 0">직접기부</option>
                          <option value="2: 1">참여기부</option>
                        </select>
                        <span class="box_arrow">
                          <span class="ico_together ico_arrow"></span>
                        </span>
                        <span class="select_option select_on"> 전체 </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="area_receipt">
                  <h4 class="tit_area"> 2023년 8월 
                    <span class="emph_num">(20건)</span>
                  </h4>
                  <div class="box_receipt">
                    <ul class="list_receipt list_donate">
                      <!-- 리스트 1 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 2 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 3 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 4 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 5 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 6 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 7 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 8 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 9 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 10 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 11 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 12 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 13 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 14 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 15 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 16 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 17 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 18 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 19 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>
                      <!-- 리스트 20 -->
                      <li class="item_donate">
                        <p class="txt_sumdata"> 2023.00.00 </p>
                        <p class="tit_sum">
                          <a class="link_sum" href="게시글 url">게시글 제목</a>
                        </p>
                        <div class="donate_numinfo">
                          <strong class="num_sumprice">(금액)100원</strong>
                          <span class="txt_sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box_link"></div>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="list_more">
                  <button type="button" class="link_round link_other2">
                    더보기 
                  </button>
                </div>
              </div>
            </section-component>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>