{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>작성글 목록:기부앤테이크</title>
    <link rel="stylesheet" href="{% static 'css/common/common.css'%}">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage_post_list.css'%}">
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
</head>
<body>
    <div id="whole-wrap">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
{#    <form id="keywordForm" method="post" action='{% url 'post-list' %}'>#}
{#    {% csrf_token %}#}
{#    <input type="hidden" id="keywordInput" name="keyword" value="">#}
{#    </form>#}
        <main id="root-content">
          <main-section>
            <div id="main-content" class="cont-mypage">
              <div id="article">
                <div class="myaction-cont">
                  <!-- 프로필 -->
                  <div class="group-profile">
                    <div class="area-name">
                      <div class="link-myprofile">
                        <strong class="txt-nick">{{ member_level }}기부천사</strong>
                        <div class="box-name">
                          <strong class="txt-name"> {{ member_nickname }} </strong>
                        </div>
                      </div>
                    </div>
                     <div class="area-thumb">
                  {% if member_profile_badge %}
                      <a class="link-badge-profile" href={% url 'mypage:badge' %}>
                          <span class="badge-thumb">
                            <img
                              class="img-thumb"
                              src={% get_static_prefix %}{{ member_profile_badge }}
                            />
                          </span>
                        </a>
                  {% endif %}

                    <a class="link-thumb" href={% url 'mypage:profile' %}>
                    <span class="profile-thumb">
                        <!--  -->
                     <img alt="프로필" class="img-thumb" id="checkProfileImg"
                      {% if member.profile_image %}
                           {% if member.profile_image_choice == 'kakao' %}
                                src="{{ member.profile_image }}"
                           {% else %}
                               src="{{ member.profile_image.url }}"
                           {% endif %}
                       {% else %}
                            src = "{% static 'image/avatar.png' %}"
                      {% endif %}

                     >
                        <!--  -->

                  <!--  <img
                          alt="프로필 사진"
                          class="img-thumb"
                          src=/{{ member_profile_image }}
                        />
                        -->
                      </span>
                    </a>
                  </div>
                  </div>
                    <div class="myaction-section">
                        <div class="myaction-content">
                            <div class="wrap_tab">
                                    <ul class="list_tab tab_type6">
                                        <li routerlinkactive="on" class="nav-top on">
{#                                            <button class="link_tab">#}
{#                                                <span class="txt_tab">전체</span>#}
{#                                            </button>#}
                                        </li>
                                        <li routerlinkactive="on" class="nav-top">
                                            <button class="link_tab">
                                                <span class="txt_tab">늘해랑</span>
                                            </button>
                                        </li>
                                        <li routerlinkactive="on" class="nav-top">
                                            <button class="link_tab ">
                                                <span class="txt_tab">늘하장</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                            <div class="inner-myaction-section">
                                <div id="nav-neulhaerang" class="sort_cate">
                                    <!-- 늘해랑 탭 -->
                                    <span class="inner_sort_cate">
                                        <span class="box_sorting">
                                            <label class="lab_sort">전체</label>
                                        </span>
                                        <span class="box_sorting">
                                            <label class="lab_sort" data-key="늘해랑 주최한 행동">늘해랑 주최한 행동</label>
                                        </span>
                                        <span class="box_sorting">
                                            <label class="lab_sort" data-key="늘해랑 참여한 행동">늘해랑 참여한 행동</label>
                                        </span>
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">후기</label>#}
{#                                        </span>#}
                                         <span class="box_sorting">
                                            <label class="lab_sort" data-key="늘해랑 응원한 행동">늘해랑 응원한 행동</label>
                                        </span>
                                    </span>
                                </div>
                                <!-- 늘해랑 누르면 늘하장탭 hide -->
                                <div id="nav-neulhajang" class="sort_cate">
                                    <!-- 늘하장 탭 -->
                                    <span class="inner_sort_cate">
                                        <span class="box_sorting">
                                            <label class="lab_sort">전체</label>
                                        </span>
                                        <span class="box_sorting">
                                            <label class="lab_sort" data-key="늘하장 주최한 행동">늘하장 주최한 행동</label>
                                        </span>
                                        <span class="box_sorting">
                                            <label class="lab_sort" data-key="늘하장 참여한 행동">늘하장 참여한 행동</label>
                                        </span>
                                         <span class="box_sorting">
                                            <label class="lab_sort" data-key="늘하장 응원한 행동">늘하장 응원한 행동</label>
                                        </span>
                                    </span>
                                </div>
                                </form>
{#                            <div class="wrap_tab">#}
{#                                    <ul class="list_tab tab_type6">#}
{#                                           <li routerlinkactive="on" class="nav-top on">#}
{#                                            <button class="link_tab">#}
{#                                                <span class="txt_tab">전체</span>#}
{#                                            </button>#}
{#                                        </li>#}
{#                                        <li routerlinkactive="on" class="nav-top">#}
{#                                            <button class="link_tab">#}
{#                                                <span class="txt_tab">늘해랑</span>#}
{#                                            </button>#}
{#                                        </li>#}
{#                                        <li routerlinkactive="on" class="nav-top">#}
{#                                            <button class="link_tab ">#}
{#                                                <span class="txt_tab">늘하장</span>#}
{#                                            </button>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>-->#}
                            <div class="inner-myaction-section">
{#                                <div id="nav-neulhaerang" class="sort_cate">#}
{#                                    <!-- 늘해랑 탭 -->#}
{#                                    <span class="inner_sort_cate">#}
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">전체</label>#}
{#                                        </span>#}
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">주최한 행동</label>#}
{#                                        </span>#}
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">참여한 행동</label>#}
{#                                        </span>#}
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">후기</label>#}
{#                                        </span>#}
{#                                         <span class="box_sorting">#}
{#                                            <label class="lab_sort">응원한 행동</label>#}
{#                                        </span>#}
{#                                    </span>#}
{#                                </div>#}
{#                                <!-- 늘해랑 누르면 늘하장탭 hide -->#}
{#                                <div id="nav-neulhajang" class="sort_cate">#}
{#                                    <!-- 늘하장 탭 -->#}
{#                                    <span class="inner_sort_cate">#}
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">전체</label>#}
{#                                        </span>#}
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">주최한 행동</label>#}
{#                                        </span>#}
{#                                        <span class="box_sorting">#}
{#                                            <label class="lab_sort">참여한 행동</label>#}
{#                                        </span>#}
{#                                         <span class="box_sorting">#}
{#                                            <label class="lab_sort">응원한 행동</label>#}
{#                                        </span>#}
{#                                    </span>#}
{#                                </div>#}
                                <h3 class="tit-section">
                                    인증 피드
                                    <span class="color-g1"> {{ feeds_count }}</span>
                                </h3>
                                <div class="myaction-card-list">
                                    <user-action-list>
                                        <ul class="list-action-card">
                                           <!-- <li>
                                                <div class="action-content-card">
                                                    <a class="link-action-card"
                                                       href=>
                                                        <span class="thumb-action">
                                                            <img alt="이미지" class="img-thumb" src="https://t1.kakaocdn.net/together_action_prod/admin/20230523/737ab5168c9d40cc9af489081c84d18d?type=thumb&amp;opt=S100x100"></span>
                                                        <div class="info-action">
                                                            <strong class="tit-action">게시글 제목</strong>
                                                            <p class="desc-action">내가 입력한 인증 피드 내용</p>
                                                            <span class="txt-date">2023.00.00</span>
                                                        </div>
                                                    </a>
                                                    <button class="btn-delete">삭제</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="action-content-card">
                                                    <a class="link-action-card" href=>
                                                        <span class="thumb-action">
                                                            <img alt="이미지" class="img-thumb" src="https://t1.kakaocdn.net/together_action_prod/action/20230805/q4yw7g3e3bkm_9a35522ca6184e31a73e697b9b305717?type=thumb&amp;opt=S100x100">
                                                        </span>
                                                        <div class="info-action">
                                                            <strong class="tit-action">게시글 제목</strong>
                                                            <p class="desc-action"></p>
                                                            <span class="txt-date">2023.00.00</span>
                                                        </div>
                                                    </a>
                                                    <button type="button" class="btn-delete"> 삭제 </button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="action-content-card">
                                                    <a class="link-action-card" href=>
                                                        <span class="thumb-action">
                                                            <img alt="이미지" class="img-thumb" src="https://t1.kakaocdn.net/together_action_prod/action/20230805/q4yw7g3e3bkm_9a35522ca6184e31a73e697b9b305717?type=thumb&amp;opt=S100x100">
                                                        </span>
                                                        <div class="info-action">
                                                            <strong class="tit-action">게시글 제목</strong>
                                                            <p class="desc-action"></p>
                                                            <span class="txt-date">2023.00.00</span>
                                                        </div>
                                                    </a>
                                                    <button type="button" class="btn-delete"> 삭제 </button>
                                                </div>
                                            </li>
                                             <li>
                                                <div class="action-content-card">
                                                    <a class="link-action-card" href=>
                                                        <span class="thumb-action">
                                                            <img alt="이미지" class="img-thumb" src="https://t1.kakaocdn.net/together_action_prod/action/20230805/q4yw7g3e3bkm_9a35522ca6184e31a73e697b9b305717?type=thumb&amp;opt=S100x100">
                                                        </span>
                                                        <div class="info-action">
                                                            <strong class="tit-action">게시글 제목</strong>
                                                            <p class="desc-action"></p>
                                                            <span class="txt-date">2023.00.00</span>
                                                        </div>
                                                    </a>
                                                    <button type="button" class="btn-delete"> 삭제 </button>
                                                </div>
                                            </li>
                                             <li>
                                                <div class="action-content-card">
                                                    <a class="link-action-card" href=>
                                                        <span class="thumb-action">
                                                            <img alt="이미지" class="img-thumb" src="https://t1.kakaocdn.net/together_action_prod/action/20230805/q4yw7g3e3bkm_9a35522ca6184e31a73e697b9b305717?type=thumb&amp;opt=S100x100">
                                                        </span>
                                                        <div class="info-action">
                                                            <strong class="tit-action">게시글 제목</strong>
                                                            <p class="desc-action"></p>
                                                            <span class="txt-date">2023.00.00</span>
                                                        </div>
                                                    </a>
                                                    <button type="button" class="btn-delete"> 삭제 </button>
                                                </div>
                                            </li>-->
                                        </ul>
                                        <div class="list-more" >
                                            <button type="button" class="link-round link-other2" style="display: none">더보기</button>
                                        </div>
                                    </user-action-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </main-section>
        </main>
        {% include 'footer/footer.html' %}
        <!-- height 100%시 모달 등장 -->
        <div class="dimmed_layer"></div>
        </main>
      </div>
      <modal>
        <!-- 모달 꺼지면 id modalOFF display:none -->
        <div tabindex="0" role="dialog" class="dialog-content opened-modal"
         id="modalOFF" style="display: none">
        <modal-content>
          <div class="inner-together-layer inner-together-layer2">
            <div class="layer-body">
              <p class="desc-together">
                <span class="txt-desc">행동 삭제시 복구가 불가능합니다.<br>정말 삭제하시겠습니까?
                </span>
              </p>
              <div class="wrap-btn">
                <a href="javascript:void(0)" class="btn-set btn-type1">확인</a>
                <a href="javascript:void(0)" class="btn-set btn-type2">취소</a>
              </div>
            </div>
          </div>
        </modal-content>
        </div>
      </modal>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
     let staticUrl = "{% get_static_prefix %}"
    let mediaUrl = "{% get_media_prefix %}"
</script>
<script src="{% static 'js/mypage/mypage_post_list.js' %}"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>