{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>프로필 설정:기부앤테이크</title>
  <link rel="stylesheet" href="{% static 'css/common/common.css'%}">
  <link rel="stylesheet" href="{% static 'css/mypage/mypage_profile.css' %}">
  <link rel="shortcut icon" href="{% static 'image/favicon_Test.png' %}">
</head>
<body>
  <div id="whole-wrap">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
  <form method="post" action="{% url 'mypage:save_data' %}" enctype="multipart/form-data" id="save_data">
      {% csrf_token %}
      <input type="hidden" name="xFlag" value="false">
      <input type="hidden" name="kakaoFlag" value="false">
    <main id="root-content">
      <section-component>
        <div id="main-content">
          <div id="article">
            <div class="wrap-project wrap-profile">
              <div class="cont-thumb">
                <div class="file-upload" >

                  <img alt="프로필" class="img-thumb" id="checkProfileImg"
                      {% if profile_image %}
                           {% if member.profile_image_choice == 'kakao' %}
                                src="{{ member.profile_image }}"
                           {% else %}
                               src={{ member.profile_image.url }}
                           {% endif %}
                       {% else %}
                       src={% static 'image/avatar.png' %}
                      {% endif %}

                  >
                  <label class="lab-photo">
                    <span class="ico-together ico-photo"
                         {% if profile_image %}
                            style="display: none"
                         {% endif %}
                    >
                        <input class="upload-profile-img" id="upload-profile-img" type="file" name="profile_image"> 사진첨부</span>
                  </label>
                  <!-- 이미지가 업로드 되지 않은 상태면 display:none; -->
                  <button type="button" class="btn-del" >
                    삭제
                  </button>
                  <!-- /이미지가 업로드 되지 않은 상태면 display:none; -->
                </div>
                <input type="file" id="profileInput" class="tf-attach" accept="image/*">
              </div>
              <div class="box-cont">
                <dl class="list-write">
                  <dd class="item-btn">
                    <button type="button" class="btn-katalk">
                      <span class="ico-together ico-katalk">
                      </span>카카오톡 프로필 정보 불러오기
                    </button>
                  </dd>
                  <dt>닉네임</dt>
                  <dd>
                    <!-- input 클릭 하면 tf_active class 생기고 입력이 가능하게 됨 -->
                    <div class="group-tf">
                      <input value="{{ member_nickname }}" type="text" name="member_nickname" id="subTitle" maxlength="20" class="tf-write">
                    </div>
                    <div class="info-append">
                      <!-- 닉네임 글자수 맞춰서 텍스트에 넣어줘야함 -->
                      <span class="txt-num" id="charCount">0/</span>
                      20
                    </div>
                  </dd>
                  <div class="bg-dashline"></div>

                <!--<dt> 연락처 </dt>-->
                    <!-- 연락처가 입력되어 있지 않을경우 -->

                    <!--<dd class="phone-item">
                      <div class="group-tf">
                        <button type="button" class="btn-number"> 휴대폰 번호 입력 </button>
                      </div>
                    </dd>-->

                    <!-- 연락처가 입력되어있을경우 -->
                    <!--<dt> 연락처 </dt>
                    <dd class="phone-item">
                      <div class="group-tf">
                        <div class="box-output"> 01000000000 </div>
                       <button type="button" class="btn-modify"> 변경 </button>
                        <button type="button" class="btn-del"> 삭제 </button>
                      </div>
                    </dd>-->
                    <dt> 이메일 </dt>
                    <dd class="phone-item">
                      <div class="group-tf">
                        <div class="box-output">{{ member_email }}</div>
          <!--              <button type="button" class="btn-modify"> 변경 </button>    -->
                      </div>
                    </dd>
                    <!--<dt> 나이 </dt>
                    <dd>
                      <div class="pack-select">
                        <div class="box-select">
                          <div class="opt-comm">
                            <span id="select-age" class="select-option select-on">선택</span>-->
                              <!-- option 선택시 select_on 생기며 (스타일은 없음) select-option에 텍스트 입력됨 -->
                            <!--<select id="opAge" class="opt-select ">
                              <option value="" class="select-option"> 선택안함 </option>
                              <option value="15">2009년생</option>
                              <option value="16">2008년생</option>
                              <option value="17">2007년생</option>
                              <option value="18">2006년생</option>
                              <option value="19">2005년생</option>
                              <option value="20">2004년생</option>
                              <option value="21">2003년생</option>
                              <option value="22">2002년생</option>
                              <option value="23">2001년생</option>
                              <option value="24">2000년생</option>
                              <option value="25">1999년생</option>
                              <option value="26">1998년생</option>
                              <option value="27">1997년생</option>
                              <option value="28">1996년생</option>
                              <option value="29">1995년생</option>
                              <option value="30">1994년생</option>
                              <option value="31">1993년생</option>
                              <option value="32">1992년생</option>
                              <option value="33">1991년생</option>
                              <option value="34">1990년생</option>
                              <option value="35">1989년생</option>
                              <option value="36">1988년생</option>
                              <option value="37">1987년생</option>
                              <option value="38">1986년생</option>
                              <option value="39">1985년생</option>
                              <option value="40">1984년생</option>
                              <option value="41">1983년생</option>
                              <option value="42">1982년생</option>
                              <option value="43">1981년생</option>
                              <option value="44">1980년생</option>
                              <option value="45">1979년생</option>
                              <option value="46">1978년생</option>
                              <option value="47">1977년생</option>
                              <option value="48">1976년생</option>
                              <option value="49">1975년생</option>
                              <option value="50">1974년생</option>
                              <option value="51">1973년생</option>
                              <option value="52">1972년생</option>
                              <option value="53">1971년생</option>
                              <option value="54">1970년생</option>
                              <option value="55">1969년생</option>
                              <option value="56">1968년생</option>
                              <option value="57">1967년생</option>
                              <option value="58">1966년생</option>
                              <option value="59">1965년생</option>
                              <option value="60">1964년생</option>
                              <option value="61">1963년생</option>
                              <option value="62">1962년생</option>
                              <option value="63">1961년생</option>
                              <option value="64">1960년생</option>
                              <option value="65">1959년생</option>
                              <option value="66">1958년생</option>
                              <option value="67">1957년생</option>
                              <option value="68">1956년생</option>
                              <option value="69">1955년생</option>
                              <option value="70">70대</option>
                            </select>
                            <span class="box-arrow">
                              <span class="ico-together ico-arrow"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </dd>-->
                    <dt> 성별 </dt>
                    <dd>
                      <div class="group-tf group-gender">
                        <span class="choice-comm choice-btn">
                          <input type="radio" id="genderChk1" name="genderChk" class="inp-comm" value="male">
                          <label for="genderChk1" class="lab-comm">남자</label>
                        </span>
                        <span class="choice-comm choice-btn">
                          <input type="radio" id="genderChk2" name="genderChk" class="inp-comm" value="female">
                          <label for="genderChk2" class="lab-comm">여자</label>
                        </span>
                        <span class="choice-comm choice-btn">
                          <input type="radio"  id="genderChk3" name="genderChk" class="inp-comm" value="notselect">
                          <label for="genderChk3" class="lab-comm">선택안함</label>
                        </span>
                      </div>
                    </dd>
                     </form>
                     </dl>




                  <!--<dt> 지역 </dt>
                    <dd>
                      <div class="pack-select select-type2">
                        <div class="box-select">
                          <div class="opt-comm">
                            <span id="select-parentRegion" class="select-option select-on">시, 도 선택</span>
                            <select name="parentRegion" id="selectTarget" class="opt-select">
                              <option value="">시, 도 선택</option>
                              <option value="11"> 서울 </option>
                              <option value="26"> 부산 </option>
                              <option value="27"> 대구 </option>
                              <option value="28"> 인천 </option>
                              <option value="29"> 광주 </option>
                              <option value="30"> 대전 </option>
                              <option value="31"> 울산 </option>
                              <option value="36"> 세종 </option>
                              <option value="41"> 경기 </option>
                              <option value="42"> 강원 </option>
                              <option value="43"> 충북 </option>
                              <option value="44"> 충남 </option>
                              <option value="45"> 전북 </option>
                              <option value="46"> 전남 </option>
                              <option value="47"> 경북 </option>
                              <option value="48"> 경남 </option>
                              <option value="50"> 제주 </option>
                              <option value="99"> 해외 </option>
                            </select>
                            <span class="box-arrow">
                              <span class="ico-together ico-arrow"></span>
                            </span>
                          </div>
                        </div>
                        <div class="box-select">
                          <div class="opt-comm">
                            <span class="select-option"></span>
                            <span id="select-region" class="select-option select-on">시,군,구 지역선택</span>
                            <select name="region" id="selectRegion" class="opt-select ">
                              <option value="">시,군,구 지역선택</option>
                              <option value="41110"> 수원시 </option>
                              <option value="41111"> 수원시 장안구 </option>
                              <option value="41113"> 수원시 권선구 </option>
                              <option value="41115"> 수원시 팔달구 </option>
                              <option value="41117"> 수원시 영통구 </option>
                              <option value="41130"> 성남시 </option>
                              <option value="41131"> 성남시 수정구 </option>
                              <option value="41133"> 성남시 중원구 </option>
                              <option value="41135"> 성남시 분당구 </option>
                              <option value="41150"> 의정부시 </option>
                              <option value="41170"> 안양시 </option>
                              <option value="41171"> 안양시 만안구 </option>
                              <option value="41173"> 안양시 동안구 </option>
                              <option value="41190"> 부천시 </option>
                              <option value="41210"> 광명시 </option>
                              <option value="41220"> 평택시 </option>
                              <option value="41250"> 동두천시 </option>
                              <option value="41270"> 안산시 </option>
                              <option value="41271"> 안산시 상록구 </option>
                              <option value="41273"> 안산시 단원구 </option>
                              <option value="41280"> 고양시 </option>
                              <option value="41281"> 고양시 덕양구 </option>
                              <option value="41285"> 고양시 일산동구 </option>
                              <option value="41287"> 고양시 일산서구 </option>
                              <option value="41290"> 과천시 </option>
                              <option value="41310"> 구리시 </option>
                              <option value="41360"> 남양주시 </option>
                              <option value="41370"> 오산시 </option>
                              <option value="41390"> 시흥시 </option>
                              <option value="41410"> 군포시 </option>
                              <option value="41430"> 의왕시 </option>
                              <option value="41450"> 하남시 </option>
                              <option value="41460"> 용인시 </option>
                              <option value="41461"> 용인시 처인구 </option>
                              <option value="41463"> 용인시 기흥구 </option>
                              <option value="41465"> 용인시 수지구 </option>
                              <option value="41480"> 파주시 </option>
                              <option value="41500"> 이천시 </option>
                              <option value="41550"> 안성시 </option>
                              <option value="41570"> 김포시 </option>
                              <option value="41590"> 화성시 </option>
                              <option value="41610"> 광주시 </option>
                              <option value="41630"> 양주시 </option>
                              <option value="41650"> 포천시 </option>
                              <option value="41670"> 여주시 </option>
                              <option value="41800"> 연천군 </option>
                              <option value="41820"> 가평군 </option>
                              <option value="41830"> 양평군 </option>
                            </select>
                            <span class="box-arrow">
                              <span class="ico-together ico-arrow"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </dd>-->
                    <!-- 모달 -->   <!--
                    <update-phone-modal>
                      <modal>
                        <div tabindex="-1" role="dialog" class="ngdialog-content" id="modalOFF" style="position: fixed; display: none; top: 25%; margin-left: -192px;">
                          <modal-content>
                            <div class="inner-together-layer inner-together-layer2">
                              <div class="layer-head">
                              </div>
                              <div class="layer-body">
                                <form novalidate="" class="form-phone ">
                                  <fieldset>
                                    <div class="wrap-phone write-phone">
                                      <dl class="list-write">
                                        <dt> 같이가치와 연락가능한 휴대폰 번호를 입력해주세요.<br>
                                          입력하신 휴대폰 번호로 발송된 인증번호를 입력 후 확인 버튼 클릭 시 휴대폰 번호가 즉시 변경됩니다. 
                                        </dt>
                                        <dd>
                                          <div class="info-phone">
                                            <div class="group-tf">
                                              <input type="text" id="phoneNum1" maxlength="3" name="first" numberonly="" class="tf-write ">
                                            </div>
                                            <span class="dash-among">
                                              <span class="inner-among"></span>
                                            </span>
                                            <div class="group-tf">
                                              <input type="text" id="phoneNum2" maxlength="4" name="middle" numberonly="" class="tf-write ">
                                            </div>
                                            <span class="dash-among">
                                              <span class="inner-among"></span>
                                            </span>
                                            <div class="group-tf">
                                              <input type="text" id="phoneNum3" maxlength="4" name="last" numberonly="" class="tf-write ">
                                            </div>
                                          </div>
                                          <button type="button" class="btn-certify"> 인증번호  받기 </button>
                                          <div class="group-tf">
                                            <label for="certifyNum" class="txt-lab">인증번호 4자리 입력</label>
                                            <input numberonly="" type="text" min="0" id="certifyNum" name="otpCode" class="tf-write ng-untouched ng-pristine" maxlength="100" disabled="">
                                          </div>
                                        </dd>
                                      </dl>
                                    </div>
                                    <div class="wrap-btn wrap-btn-type">
                                      <button type="button" class="btn-set btn-type1"> 확인 </button>
                                    </div>
                                  </fieldset>
                                </form>
                              </div>
                              <div class="layer-foot">
                                <button type="button" class="btn-close">
                                  <span class="ico-together">닫기</span>
                                </button>
                              </div>
                            </div>
                          </modal-content>
                        </div>
                      </modal>
                    </update-phone-modal>
                    <update-email-modal>
                      <modal>
                        <div tabindex="-1" role="dialog" class="ngdialog-content" id="modalOFF" style="position: fixed; display: none; top: 25%; margin-left: -192px;">
                          <modal-content>
                            <div class="inner-together-layer inner-together-layer2">
                              <div class="layer-head">
                              </div>
                              <div class="layer-body">
                                <form novalidate="" class="form-phone ">
                                  <fieldset>
                                    <div class="wrap-phone write-phone">
                                      <dl class="list-write">
                                        <dt> 같이가치와 연락가능한 이메일 입력해주세요.<br>
                                          입력하신 이메일 주소로 발송된 인증번호를 입력 후<br>
                                          확인 버튼 클릭 시 이메일 주소가 즉시 변경됩니다. 
                                        </dt>
                                        <dd>
                                          <div class="info-phone" style="width: 100%;">
                                            <div class="group-tf" style="width: 100%;">
                                              <label for="certifyEmail1" class="txt-lab">이메일 주소를 입력하세요</label>
                                              <input type="text" id="certifyEmail1" name="personal-email" class="tf-write " maxlength="200">
                                            </div>
                                          </div>
                                          <button type="button" class="btn-certify"> 인증번호  받기 </button>
                                          <div class="group-tf">
                                            <label for="certifyEmail2" class="txt-lab">인증번호를 입력하세요</label>
                                            <input type="text" id="certifyEmail2" name="otpCode" class="tf-write " maxlength="100">
                                          </div>
                                        </dd>
                                      </dl>
                                    </div>
                                    <div class="wrap-btn wrap-btn-type">
                                      <button type="submit" class="btn-set btn-type1"> 확인 </button>
                                    </div>
                                  </fieldset>
                                </form>
                              </div>
                              <div class="layer-foot">
                                <button type="button" class="btn-close">
                                  <span class="ico-together">닫기</span>
                                </button>
                              </div>
                            </div>
                          </modal-content>
                        </div>
                      </modal>
                    </update-email-modal>    -->
                  </profile-edit>
                </dl>
              </div>
              <div class="bg-dashline"></div>
              <div class="box-cont">
                <dl class="list-write policy-regs">
                  <dt>약관 동의</dt>
                  <dd class="info-policy">
                    <span class="choice-comm choice-checkbox">
                      <input type="checkbox" id="checkPolicy" name="chk" class="inp-comm ng-valid ng-dirty ng-touched">
                      <label for="checkPolicy" class="lab-comm">
                        <span class="ico-together ico-checkbox"></span>
                        개인정보 수집 및 이용 동의 
                        <em class="emph-color">(필수)</em>
                        </label>
                      </span>
                      <!-- 내용보기 누르면 아래 내용 펼쳐짐 -->
                      <!-- default값은 hidden 속성을 줌 -->
                      <button type="button" class="btn-view"> 내용보기 </button>
                      <span class="ico-together ico-warn">미입력 경고</span>
                      <div class="area-policy open-policy">
                        <p class="txt-effort">
                           기부앤테이크의 서비스는 아래의 목적으로 개인정보를 수집 및 이용하며, 회원의 개인정보를 안전하게 처리하는데 최선을 다합니다.
                        </p>
                        <div class="box-policy">
                          <strong class="tit-policy">목적</strong>
                          <p class="desc-policy">서비스내 이용자 식별 및 회원관리</p>
                          <strong class="tit-policy">항목</strong>
                          <p class="desc-policy">카카오계정, 프로필사진, 닉네임</p>
                          <strong class="tit-policy">보유기간</strong>
                          <p class="desc-policy">회원 탈퇴 시 지체없이 파기</p>
                        </div>
                        <p class="txt-policy"> 서비스 제공을 위해 필요한 최소한의 개인정보이므로 동의를 해 주셔야 서비스 이용이 가능합니다.
                          <br> 더 자세한 내용에 대해서는
                          <a href="javascript:void(0)" target="_blank" class="link-policy">개인정보처리방침</a>
                          을 참고하시기 바랍니다.
                        </p>
                      </div>
                    </dd>
                  </dl>
              </div>
              <div class="btn-step-type">
{#                  <form id="saveData" method="get">#}

                <button id="submitButton" type="button" class="link-step link-type3"> 저장하기 </button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </section-component>
    </main>
    {% include 'footer/footer.html' %}
    <!-- height 100%시 모달 등장 -->
    <div class="dimmed_layer"></div>
  </div>
  <modal>
    <!-- 모달 꺼지면 id modalOFF display:none -->
    <div tabindex="0" role="dialog" class="dialog-content opened-modal"
     id="modalOFF" style="display: none">
        <!--<modal-content class="modal-delete">
          <div class="inner-together-layer inner-together-layer2">
            <div class="layer-body">
              <p class="desc-together">
                <span class="txt-desc">프로필 이미지가 삭제됩니다.<br>정말 삭제하시겠습니까?</span>
              </p>
              <div class="wrap-btn">
                <a  class="btn-set btn-type1"><span id="deleteProfile" name="delete-image"></span>확인</a>
                <a href="javascript:void(0)" class="btn-set btn-type2">취소</a>
              </div>
            </div>
          </div>
        </modal-content>-->
        <modal-content class="modal-policy">
            <div class="inner-together-layer inner-together-layer2">
                <div class="layer-body">
                    <p class="desc-together">
                        <span class="txt-desc">개인정보 수집 및 이용에 대한 동의를 확인해주세요.</span>
                    </p>
                    <div class="wrap-btn wrap-btn-type">
                        <a class="btn-set btn-type1 btn-confirm">확인</a>
                    </div>
                </div>
                <div class="layer-foot">
                    <button type="button" class="btn-close">
                        <span class="ico-together">닫기</span>
                    </button>
                </div>
            </div>
        </modal-content>
    </div>
  </modal>
</form>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script> let memberGender = "{{ member_gender }}"
console.log(memberGender)
            let staticUrl = "{% get_static_prefix %}"


        let kakao_image_url = "{{ request.session.kakao_image_url }}"
</script>
    <script src="{% static 'js/mypage/mypage_profile.js' %}"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>