{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기부내역:기부앤테이크</title>
  <link rel="stylesheet" href="{% static 'css/common/common.css'%}">
  <link rel="stylesheet" href="{% static 'css/mypage/mypage_donate.css' %}">
  <link rel="shortcut icon" href="{% static 'image/favicon_Test.png' %}">
</head>
<body>
  <div id="whole-wrap">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
    <!-- 메인 -->
    <main id="root-content">
      <div id="main-content" class="cont-mypage">
        <div id="article">
          <div class="donate-cont">
            <!-- 프로필 -->
            <div class="group-profile">
              <div class="area-name">
                <div class="link-myprofile">
                  <strong class="txt-nick">{{ donation_level }}기부천사</strong>
                  <div class="box_name">
                    <strong class="txt-name"> {{ member_nickname }} </strong>
                  </div>
                </div>
              </div>
              <div class="area-thumb">
                <a class="link-badge" href="javascript:void(0)">
                  <span class="badge-thumb">
                    <img class="img-thumb" src=/{{ member_profile_badge }}>
                  </span>
                </a>
                <a class="link-thumb" href="javascript:void(0)">
                  <span class="profile-thumb">
                    <img class="img-thumb" src=/upload/{{ member_profile_image }}>
                  </span>
                </a>
              </div>
            </div>
            <component-section>
              <div class="group-donate">
                <h3 class="tit-section section-type6">기부내역</h3>
                <div class="area-doselect">
                  <div class="box-select">
                    <div class="inner-box">
                      <div class="opt-comm">
                        <select id="op-period" class="opt-select">
                          <option value="">전체</option>
                          <option value="1: 2023"> 2023 </option>
                          <option value="2: 2022"> 2022 </option>
                          <option value="3: 2021"> 2021 </option>
                          <option value="4: 2020"> 2020 </option>
                          <option value="5: 2019"> 2019 </option>
                        </select>
                        <span class="box-arrow">
                          <span class="ico-together ico-arrow"></span>
                        </span>
                        <!-- select option 선택한게 아래 텍스트에 입력 되어야함  -->
                       <span class="select-option select-on"> 전체 </span>
                      </div>
                    </div>
                    <!--<div class="inner-box">
                      <div class="opt-comm">
                        <select id="op-means" class="opt-select">
                          <option>전체</option>
                          <option value="1: 0">직접기부</option>
                          <option value="2: 1">참여기부</option>
                        </select>
                        <span class="box-arrow">
                          <span class="ico-together ico-arrow"></span>
                        </span>
                        <span class="select-option select-on"> 전체 </span>
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="area-receipt">
                  <!-- 현재 날짜 기준 -->
                  <!--<h4 class="tit-area"> 2023년 8월 -->
                    <!-- 더보기 하면 20건에서 더 늘어남 -->
                    <!--<span class="emph-num">(20건)</span>
                  </h4>-->
                  <div class="box-receipt">
                    <!-- 20개까지 화면에 보여지고 더보기를 누르면 늘어남 -->
                    <ul class="list-receipt list-donate">
                      <!-- 리스트 1 -->
                      <li class="item-donate">
                        <p class="txt-sumdata"> 2023.00.00 </p>
                        <p class="tit-sum">
                          <a class="link-sum" href="javascript:void(0)">게시글 제목</a>
                        </p>
                        <div class="donate-numinfo">
                          <strong class="num-sumprice">(금액)000원</strong>
                          <span class="txt-sumprice"> (방식) - 참여기부 (댓글참여) </span>
                        </div>
                        <div class="box-link"></div>
                      </li>
                      <!-- 리스트 2 반복이라 다 지웠음 필요시 복사-->


                    </ul>
                  </div>
                </div>
                <div class="list-more">
                  <button type="button" class="link-round link-other2">
                    더보기 
                  </button>
                </div>
              </div>
            </component-section>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </div>
</body>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>