{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원탈퇴:기부앤테이크</title>
  <link rel="stylesheet" href="../../static/css/common/common.css">
  <link rel="stylesheet" href="../../static/css/mypage/mypage_sign-out.css">
</head>
<body>
  <div id="whole-wrap">
    <header></header>
    <main id="root-content">
      <main-section>
        <div id="main-content">
          <div id="article">
            <div class="wrap-leave">
              <p class="txt-leave"> 안녕하세요. 기부앤테이크 입니다.
                <br class="mo-linefeed">탈퇴 시 삭제되는 정보를 확인해 주세요. 
              </p>
              <strong class="tit-info">1. 삭제되는 정보</strong>
              <ul class="list-info">
                <li>프로필 이미지, 닉네임, 전화번호</li>
              </ul>
              <strong class="tit-info">2.삭제되지 않는 정보</strong>
              <ul class="list-info">
                <li>
                  <strong class="item-info">1) 기부내역</strong>
                   소득세법 제 160조 3항 '기부금 영수증 발급명세의 작성·보관의무'에 의거하여 기부하신 내역을 5년간 보관합니다. 
                </li>
                <li>
                  <strong class="item-info">2) 댓글과 게시물</strong>
                   서비스에 남겨주신 댓글과 게시물은, 서비스를 탈퇴하셔도 삭제하지 않고 남게 됩니다.<br>
                    단, 프로필 정보가 삭제되므로 누가 작성했는지 알 수 없게 되니 안심하세요. 
                </li>
                <li>
                  <strong class="item-info">3) 모금함 및 프로젝트팀 정보</strong>
                   기부자들의 기부금과 연결된 정보이기 때문에, 제안하신 모금함 콘텐츠 정보와 해당 모금함의 프로젝트팀 정보는 삭제되지 않습니다. </li>
              </ul>
              <p class="txt-bye"> 위 내용을 모두 확인하셨다면
                <br>아래 탈퇴 버튼을 통해 탈퇴 하실 수 있습니다.
              </p>
              <div class="btn-step-type">
                <button type="button" class="link-step"> 탈퇴하기 </button>
              </div>
            </div>
          </div>
        </div>
      </main-section>
    </main>
  </div>
</body>
</html>