{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지:기부앤테이크</title>
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage/mypage_main.css' %}">
      <link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
  </head>
  <body>
    <div id="whole-wrap">
      <!-- 헤더 -->

          {% if request.session.member_email %}
          {% include 'header/logined-header.html' %}
          {% else %}
          {% include 'header/header.html' %}
          {% endif %}
      <!-- 메인 -->
      <main id="root-content">
        <main-section>
          <div id="main-content" class="cont-mypage">
            <div id="article">
              <div class="mypage-cont">
                <div class="group-profile">
                  <div class="area-name">
                    <div class="link-myprofile">
                      <strong class="txt-nick">{{ donation_level }}기부천사</strong>
                      <div class="box-name">
                        <strong class="txt-name"> {{ member_nickname }} </strong>
                      </div>
                    </div>
                  </div>
                  <div class="area-thumb">
                  {% if member_profile_badge %}
                      <a class="link-badge-profile" href={% url 'mypage:badge' %}>
                          <span class="badge-thumb">
                            <img
                              class="img-thumb"
                              src=/{{ member_profile_badge }}
                            />
                          </span>
                        </a>
                  {% endif %} 

                    <a class="link-thumb" href={% url 'mypage:profile' %}>
                    <span class="profile-thumb">
                        <!--  -->
                     <img alt="프로필" class="img-thumb" id="checkProfileImg"
                      {% if member.profile_image %}
                           {% if member.profile_image_choice == 'kakao' %}
                                src="{{ member.profile_image }}"
                           {% else %}
                               src="{{ member.profile_image.url }}"
                           {% endif %}
                       {% else %}
                            src = "{% static 'image/avatar.png' %}"
                      {% endif %}

                     >
                        <!--  -->

                  <!--  <img
                          alt="프로필 사진"
                          class="img-thumb"
                          src=/{{ member_profile_image }}
                        />
                        -->
                      </span>
                    </a>
                  </div>
                  <div class="area-setting">
                    <a class="link-setting" href={% url 'mypage:service-setting' %}>
                      설정
                    </a>
                  </div>
                </div>
                <user-profile>
                  <div class="group-shadow group-donatedetail">
                    <h3 class="title-section section-type2">기부내역</h3>
                    <button type="button" class="link-round btn-release">{{ donation_status }}</button>
                    <div class="area-donatedetail">
                      <div class="total-donate">
                        <strong class="title-total">총 기부금</strong>
                        <span class="num-total">{{ total_donation_fund }}원</span>
                      </div>
                      <div class="detail-donate">
                        <ul class="list-detail">
                          <li>
                            <span class="title-detail">기부횟수</span>
                            <span class="num-detail">{{ total_donation_count }}회</span>
                          </li>
                      <!--    <li>
                            <span class="title-detail">직접기부</span>
                            <span class="num-detail">0원</span>
                          </li>
                          <li>
                            <span class="title-detail">참여기부</span>
                            <span class="num-detail">0원</span>
                          </li>  -->
                        </ul>
                      </div>
                    </div>
                    <div class="area-moreinfo">
                      <ul class="list-moreinfo">
                        <li>
                          <a class="link-more" href={% url 'mypage:donate' %}> 기부내역 </a>
                        </li>
                        <!-- <li>
                          <a class="link-more" href="javascript:void(0)">
                            기부금 영수증
                          </a>
                        </li>
                        <li>
                          <a class="link-more" href="javascript:void(0)">
                            활동증서
                          </a>
                        </li>
                        <li>
                          <a class="link-more" href="javascript:void(0)">
                             기부쿠폰
                          </a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                      <!-- 늘해랑/늘하장 -->
                  <!-- 행동을 안했을때 -->
                    {% if not feeds %}
                        <user-actions>
                    <span id="aaa" class="group-shadow group-action-before" >
                      <strong class="title-action">
                        더 나은 세상을 위해<br />
                        함께 할 수 있는 일이 있어요!
                      </strong>
                      <p class="desc-action">지금 늘하장이 진행중입니다.</p>
                      <span class="box-thumbnail">
                        <img
                          src="//t1.kakaocdn.net/together_image/my_action.png"
                          class="img-thumb"
                        />
                      </span>
                        <a class="link-round" href= {% url 'neulhajang:list' %} >늘하장 둘러보기</a>
                    </span>
                  </user-actions>
                    {% else %}
                         <div id="bbb">
                  <user-actions>
                    <div class="group-shadow group-action-attend">
                      <h3 class="title-section section-type2"> 늘하장 인증피드
                        <span class="color-g1">{{ feeds_count }}</span>
                      </h3>
                      <actions-list>
                        <ul class="list-actions">
                        {% for feed in feeds %}
                        <li>
                            <div class="action-content-card">
                              <a class="link-action-card" href="/neulhajang/detail/{{ feed.neulhajang.id }}" >
                                <span class="thumb-action">
                                  <img alt="이미지" class="img-thumb"
                                  src='{% get_media_prefix %}{{ feed.feedPhoto }}'>
                                </span>
                                <div class="info-action">
                                  <strong class="title-action">{{ feed.neulhajang.neulhajang_title }}</strong>
                                  <p class="desc-action">{{ feed.feedContent }}</p>
                                  <span class="txt-date">{{ feed.created_date | date:'Y.m.d'}}</span>
                                </div>
                              </a>
                              <button type="button" class="btn-delete"> 삭제 </button>
                            </div>
                          </li>
                        {% endfor %}
                         </ul>
                      </actions-list>
                    {% if feeds_count > 2 %}
                        <div class="list-more">
                        <a class="link-round" href={% url 'mypage:post-list' %}> 모든 피드 보러가기 </a>
                      </div>
                    {% endif %}

                    </div>
                  </user-actions>
                </div>

                    {% endif %}

                  <!-- /행동을 안했을때 -->
                  <!-- 행동 내역이 있을때 -->


                  <!-- /행동 내역이 있을때 -->
                  <!-- 내가 쓴 댓글 -->
                {% if total_reply_sorted %}
                    <user-comments>
                    <div class="group-shadow group-comment comment-type3">
                      <h3 class="title-section section-type2"> 댓글
                        <span class="color-g1">{{ total_reply_count }}</span>
                      </h3>
                      <ul class="list-comment">
                          {% for reply in total_reply_sorted %}
                        <li>
                          <div class="comment-info">
                            <span class="info-append">
                              <em class="emph-sign">{{ reply.type }}</em>
                                {% if reply.type == "늘해랑" %}
                                    <a class="link-fund" href= "/neulhaerang/detail/{{ reply.neulhaerang.id }}"> {{ reply.neulhaerang.neulhaerang_title }} </a>
                                    {% else %}
                                     <a class="link-fund" href= "/neulhaerang_review/review/detail/{{ reply.neulhaerang_review.id }}"> {{ reply.neulhaerang_review.review_title }} </a>
                                {% endif %}

                            </span>
                            <span class="txt-comment">
                              <span class="desc-comment">{{ reply.reply_content }}</span>
                            </span>
                            <span class="info-append">

                                <span class="txt-time" data-timestamp="{{ reply.created_date|date:"U" }}"></span>
                              <like-comment>
                                <button style="cursor: default" type="button" class="btn-like" >
                                  <span class="ico-together ico-like"></span>&nbsp;좋아요&nbsp;
                                  <span class="num-like">{{ reply.like_count }}</span>
                                </button>
                              </like-comment>

                              <button type="button" class="btn-delete"> 삭제 </button>
                            </span>
                          </div>
                        </li>
                          {% endfor %}

                      </ul>
                    {% if total_reply_count > 2 %}
                        <div class="list-more">
                        <a class="link-round" href={% url 'mypage:reply' %}> 더보기 </a>
                      </div>
                    {% endif %}

                    </div>
                  </user-comments>

                {% endif %}

                  <!-- 뱃지리스트 -->
                  <user-badge-list>
                    <div class="group-shadow group-badge group-badge-type02">
                      <h3 class="title-section section-type2">
                        뱃지
                        <span class="color-g1">{{ badge_count }}</span>
                      </h3>
                      <ul class="list-badge">
                          {% for badge in www_badge_content %}
                        <li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" src=/{{ badge.badge.badge_image }}
                            />
                            <strong class="name-badge">{{ badge.badge.badge_name }}</strong>
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                          {% endfor %}
                        <!--<li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" alt="그냥 응원하는 그냥이"
                              src="https://mud-kage.kakaocdn.net/dn/wAcMI/btqcJGCmdqi/8y3t5GRvKS78AoakgTkWZ1/img.png"
                            />
                            <strong class="name-badge"
                              >그냥 응원하는 그냥이</strong
                            >
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                        <li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" alt="행복 연구가"
                              src="https://mud-kage.kakaocdn.net/dn/Mr2bL/btqhcKOaWaB/ZtGl8UDVWPYacTEQ6BYZek/img.png"
                            />
                            <strong class="name-badge">행복 연구가</strong>
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                        <li class="my-badge">
                          <a class="link-badge">
                            <img class="thumb-badge" alt="같이가치 새내기"
                              src="https://mud-kage.kakaocdn.net/dn/cdS2zq/btqcKJyBiPS/SDkrVVYcKkxHXkcD8l68i0/img.png"
                            />
                            <strong class="name-badge">같이가치 새내기</strong>
                            <span class="num-badge">1회</span>
                          </a>
                        </li>
                        <li>
                          <a class="link-badge">
                            <img class="thumb-badge" alt="대한민국 사랑꾼"
                              src="https://mud-kage.kakaocdn.net/dn/oLbSF/btqsZjySQCw/C6KjWeC9eeFHLIrZxwuA5K/img.png"/>
                            <strong class="name-badge">대한민국 사랑꾼</strong>
                          </a>
                        </li> -->
                      </ul>
                      <div class="list-more">
                        <a class="link-round" href={% url 'mypage:badge' %}> 더보기 </a>
                      </div>
                    </div>
                  </user-badge-list>
                  <user-byeoljii-list>
                    <div class="group-shadow group-badge group-badge-type02">
                      <h3 class="title-section section-type2">
                        별찌
                        <span class="color-g1">{{ byeoljji_count }}</span>
                      </h3>
                                    <div class="group_meditation">
                  <div class="inner_meditation">
                    <ul class="list_meditation">
                        {% for byeoljji_contents in www_byeoljji_content %}
                      <li>
                          <a class="link_meditation" href= >
                              <span>
                                  <img class="thumb_img" src=/{{ byeoljji_contents.byeoljji.byeoljji_img }}>
                              </span>
                              <strong class="tit_meditation">{{ byeoljji_contents.byeoljji.byeoljji_name}}</strong>
                              <span class="txt_option">
                                  명상가 유정은
                                  3분
                              </span>
                          </a>
                      </li>
                        {% endfor %}
                   <!--<li>
                          <a class="link_meditation" href= >
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호(ex.1등 최고의 기부천사, 2등 감동의 기부천사, 3등 은은한 기부천사)</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href= >
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href= >
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>-->
                    </ul>
                  </div>
                </div>
                      <div class="list-more">
                        <a class="link-round" href={% url 'mypage:byeoljji' %}> 더보기 </a>
                      </div>
                    </div>
                  </user-byeoljii-list>
                </user-profile>
              </div>
            </div>
          </div>
        </main-section>
      </main>
      <footer></footer>
      <!-- height 100%시 모달 등장 -->
      <div class="dimmed_layer"></div>
    </div>
    <modal>
        <!-- 모달 꺼지면 id modalOFF display:none -->
        <div tabindex="0" role="dialog" class="dialog-content opened-modal"
         id="modalOFF" style="display: none">
            <modal-content class="modal-delete">
              <div class="inner-together-layer inner-together-layer2">
                <div class="layer-body">
                  <p class="desc-together">
                    <span class="txt-desc"></span>
                  </p>
                  <div class="wrap-btn">
                    <a href="javascript:void(0)" class="btn-set btn-type1">확인</a>
                    <a href="javascript:void(0)" class="btn-set btn-type2">취소</a>
                  </div>
                </div>
              </div>
            </modal-content>
            <modal-content class="modal-badge">
              <div class="inner-together-layer inner-together-layer2">
                  <div class="layer-body">
                      <div class="wrap-badge">
                          <!-- 뱃지 이미지 샘플 -->
                          <img class="thumb-badge"
                               src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png"
                               alt="진짜 나를 발견왕">
                          <strong class="name-badge">뱃지 이름</strong>
                          <p class="txt-badge">뱃지 내용입니다.
                              뱃지 내용입니다.
                              뱃지 내용입니다.
                          </p>
                          <a class="link-look" href="javascript:void(0)"> 뱃지링크입니다. </a>
                      </div>
                  </div>
                  <div class="layer-foot">
                      <button type="button" class="btn-close">
                          <span class="ico-together">닫기</span>
                      </button>
                  </div>
              </div>
            </modal-content>
        </div>
    </modal>
    <div id="toast-container" class="toast-bottom-center" style="display: none">
        <div class="toast toast-success">
            <div class="toaster-icon icon-success"></div>
            <div class="toast-content">
                <div class="toast-title"></div>
                <div class="toast-message">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
  </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
<script> let NeulhaerangCount = {{ member_neulhaerang_count }} </script>
<script> let NeulhajangCount = {{ member_neulhajang_count }} </script>
<script src="{% static 'js/mypage/mypage_main.js' %}"></script>

</html>


