<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>별찌 목록:기부앤테이크</title>
  <link rel="stylesheet" href="../../static/css/common/common.css">
  <link rel="stylesheet" href="../../static/css/mypage/mypage_reply.css">
</head>

<body>
  <div id="whole-wrap">
    <!-- 헤더 -->
    <header></header>
    <main id="root-content">
      <main-section>
        <div id="main-content" class="cont-mypage">
          <div id="article">
            <div class="mypage-cont">
              <!-- 프로필 -->
              <div class="group-profile">
                <div class="area-name">
                  <div class="link-myprofile">
                    <strong class="txt-nick">기부천사</strong>
                    <div class="box-name">
                      <strong class="txt-name"> (계정ID) b73** </strong>
                    </div>
                  </div>
                </div>
                <div class="area-thumb">
                  <a class="link-badge" href="javascript:void(0)">
                    <span class="badge-thumb">
                      <img class="img-thumb"
                        src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png">
                    </span>
                  </a>
                  <a class="link-thumb" href="javascript:void(0)">
                    <span class="profile-thumb">
                      <img class="img-thumb" src="https://t1.kakaocdn.net/together_image/common/avatar/avatar02.png">
                    </span>
                  </a>
                </div>
              </div>
              <div class="inner_meditation">
                <ul class="list_meditation">
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/110"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">기쁨에 접속하는
                        3단계 호흡법</strong><span class="txt_option"><span class="screen_out">명상가</span>명상가 유정은
                        /<!----><!----><span class="screen_out">재생시간</span> 3분 <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/82"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/clUrvy/btqhdrobvUP/JBMvDPf14UZiiEEcx11y4k/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">먹기 명상
                        (긴 버전)</strong><span class="txt_option"><span class="screen_out">명상가</span>명상가 주혜명
                        /<!----><!----><span class="screen_out">재생시간</span> 11분 <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/77"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/FKiQC/btqhdSLSelV/qd9llqDDZRBlIOsOCOFgHk/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">풍요를 부르는
                        감사 명상</strong><span class="txt_option"><span class="screen_out">명상가</span>명상가 주혜명
                        /<!----><!----><span class="screen_out">재생시간</span> 4분 <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/240"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/bdenc0/btqCykoamew/GusKGGZW201aYaSe7nSwx0/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">[코로나] 치료를 받으며 마음을 다스릴 때</strong><span class="txt_option"><span
                          class="screen_out">명상가</span>명상가 유정은 /<!----><!----><span class="screen_out">재생시간</span> 10분
                        <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/111"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/1It2H/btqhdEUVehN/DJCDzfwsMN2Bdcwt7U91D1/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">정신없이 바쁠 때
                        듣기 좋은 명상</strong><span class="txt_option"><span class="screen_out">명상가</span>명상가 유정은
                        /<!----><!----><span class="screen_out">재생시간</span> 7분 <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/215"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/lZdsA/btqiPGcGTGK/89cNTrcduCX3ZsGJeLg0F1/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">매일 새로운 하루의 시작
                        - 아침명상</strong><span class="txt_option"><span class="screen_out">명상가</span>명상가 유정은
                        /<!----><!----><span class="screen_out">재생시간</span> 10분 <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/137"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/jR7ak/btqib4yWuBs/lMj4NnTPDmaaruclYuLrX0/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">사람들에게 화가 났을 때 하는 명상</strong><span class="txt_option"><span
                          class="screen_out">명상가</span>명상가 주혜명 /<!----><!----><span class="screen_out">재생시간</span> 7분
                        <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/227"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/tzWL8/btqjWFxIIS9/Lj9DoFBwn2m5qo7ykwfiP0/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">진정한 행복에 이르는 길</strong><span class="txt_option"><span
                          class="screen_out">명상가</span>명상가 유정은 /<!----><!----><span class="screen_out">재생시간</span> 8분
                        <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/192"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/rKDEL/btqifBPSKEZ/ZW9mSffaZKDP98yUS4Ify0/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">스트레스를 느낄 때</strong><span class="txt_option"><span
                          class="screen_out">명상가</span>명상가 안희영 /<!----><!----><span class="screen_out">재생시간</span> 9분
                        <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/242"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/clRucX/btqCE8zP8e4/ToNSfmdtzkUAoFOAazTkk1/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">[코로나] 집에서 근무나 공부를 해야 할 때</strong><span class="txt_option"><span
                          class="screen_out">명상가</span>명상가 유정은 /<!----><!----><span class="screen_out">재생시간</span> 7분
                        <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/278"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/cfxxHW/btrQIR7jDYG/Yb9sqspb8KBgAtY7ACVt40/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">트라우마로 인한 일상의 불안에 대해</strong><span class="txt_option"><span
                          class="screen_out">명상가</span>명상가 유정은 /<!----><!----><span class="screen_out">재생시간</span> 8분
                        <!----><!----><!----></span></a></li>
                  <li><a data-tiara-layer="list_card" data-tiara-action-name="명상카드_클릭" class="link_meditation"
                      href="/mind/226"><span class="thumb_img"
                        style="background-image: url(&quot;https://mud-kage.kakaocdn.net/dn/Crllp/btqjOcIpRXr/FFk4V6wJ4skkgYDQIBeOSk/c360.jpg&quot;);"></span><strong
                        class="tit_meditation">SNS를 하면 할수록
                        우울해진다면</strong><span class="txt_option"><span class="screen_out">명상가</span>명상가 유정은
                        /<!----><!----><span class="screen_out">재생시간</span> 15분 <!----><!----><!----></span></a></li>
                  <!---->
                </ul>
                <div class="list_more"><button type="button" data-tiara-layer="more" data-tiara-action-name="더보기_클릭"
                    class="link_round"><span class="screen_out">리스트</span> 더보기 </button><!----><!----></div>
              </div>
            </div>
          </div>
        </div>
      </main-section>
      <!-- 푸터 -->
      <footer></footer>
      <!-- height 100%시 모달 등장 -->
      <div class="dimmed_layer"></div>
    </main>
  </div>
  <modal>
    <!-- 모달 꺼지면 id modalOFF display:none -->
    <div tabindex="0" role="dialog" class="dialog-content opened-modal" id="modalOFF" style="display: none">
      <modal-content>
        <div class="inner-together-layer inner-together-layer2">
          <div class="layer-body">
            <p class="desc-together">
              <span class="txt-desc">댓글 삭제시 복구가 불가능합니다.<br>정말 삭제하시겠습니까?
              </span>
            </p>
            <div class="wrap-btn">
              <a href="javascript:void(0)" class="btn-set btn-type1">확인</a>
              <a href="javascript:void(0)" class="btn-set btn-type2">취소</a>
            </div>
          </div>
        </div>
      </modal-content>
    </div>
  </modal>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../static/js/mypage/mypage_reply.js"></script>

</html>