{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>별찌 목록:기부앤테이크</title>
  <link rel="stylesheet" href="{% static 'css/common/common.css'%}">
  <link rel="stylesheet" href="{% static 'css/mypage/mypage_byeoljji.css' %}">
  <link rel="shortcut icon" href="{% static 'image/favicon_Test.png' %}">
</head>
<body>
  <div id="whole-wrap">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
    <main id="root-content">
      <main-section>
        <div id="main-content" class="cont-mypage">
          <div id="article">
            <div class="happy_cont">
              <!-- 프로필 -->
              <div class="group-profile">
                <div class="area-name">
                  <div class="link-myprofile">
                    <strong class="txt-nick">기부천사</strong>
                    <div class="box-name">
                      <strong class="txt-name"> (계정ID) b73** </strong>
                    </div>
                  </div>
                </div>
                <div class="area-thumb">
                  <a class="link-badge" href="javascript:void(0)">
                    <span class="badge-thumb">
                      <img class="img-thumb"
                        src="https://mud-kage.kakaocdn.net/dn/bCLr4s/btqza7sfp3R/WxdDJXdeicgPOs1M1EAO00/img.png">
                    </span>
                  </a>
                  <a class="link-thumb" href="javascript:void(0)">
                    <span class="profile-thumb">
                      <img class="img-thumb" src="https://t1.kakaocdn.net/together_image/common/avatar/avatar02.png">
                    </span>
                  </a>
                </div>
              </div>
              <div class="group_meditation">
                  <div class="inner_meditation">
                    <ul class="list_meditation">
                      <li>
                          <a class="link_meditation"
                          href="/mind/110">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">기쁨에 접속하는 3단계 호흡법</strong>
                              <span class="txt_option">
                                  명상가 유정은
                                  3분
                              </span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호(ex.1등 최고의 기부천사, 2등 감동의 기부천사, 3등 은은한 기부천사)</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>
                      <li>
                          <a class="link_meditation" href="javascript:void(0)">
                              <span>
                                  <img class="thumb_img" src="https://mud-kage.kakaocdn.net/dn/bJoYbt/btqhc8WXQAd/36fmf5Y1bqkFKhEf5oTm1k/c360.jpg&quot">
                              </span>
                              <strong class="tit_meditation">별찌 이름</strong>
                              <span class="txt_option">별찌 칭호</span>
                          </a>
                      </li>

                    </ul>
                    <div class="list-more">
                        <button type="button" class="link-round">
                            더보기
                        </button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </main-section>
      <!-- 푸터 -->
      <footer></footer>
      <!-- height 100%시 모달 등장 -->
      <div class="dimmed_layer"></div>
    </main>
  </div>
  <modal>
    <!-- 모달 꺼지면 id modalOFF display:none -->
    <div tabindex="0" role="dialog" class="dialog-content opened-modal" id="modalOFF" style="display: none">
      <modal-content>
        <div class="inner-together-layer inner-together-layer2">
          <div class="layer-body">
            <p class="desc-together">
              <span class="txt-desc">댓글 삭제시 복구가 불가능합니다.<br>정말 삭제하시겠습니까?
              </span>
            </p>
            <div class="wrap-btn">
              <a href="javascript:void(0)" class="btn-set btn-type1">확인</a>
              <a href="javascript:void(0)" class="btn-set btn-type2">취소</a>
            </div>
          </div>
        </div>
      </modal-content>
    </div>
  </modal>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/mypage/mypage_reply.js' %}"></script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>