{% load static %}
<div class="area_form"><strong class="tit_head">SNS</strong>
    <teams-sns-editor><p class="sub_head"> 홈페이지외 추가하고 싶은 소셜미디어를 추가하세요.
    </p>
        <div class="desc_form list_write"><!---->
            <div class="group_sns">
                <button type="button" class="btn_add"><span class="ico_add"><span class="ico_social"></span></span><span
                        class="txt_add">추가</span></button>
                <div class="btnplus_layer">
                    <button type="button" class="ico_social ico_kakaostory social_on"> kakaostory 등록하기</button>
                    <button type="button" class="ico_social ico_facebook social_on"> facebook 등록하기</button>
                    <button type="button" class="ico_social ico_twitter social_on"> twitter 등록하기</button>
                    <button type="button" class="ico_social ico_youtube social_on"> youtube 등록하기</button>
                    <button type="button" class="ico_social ico_instagram social_on"> instagram 등록하기</button>
                    <button type="button" class="ico_social ico_band social_on"> 밴드 등록하기</button>
                    <button type="button" class="ico_social ico_blog social_on"> 블로그 등록하기</button>
                    <button type="button" class="ico_social ico_cafe social_on"> 카페 등록하기</button>
                    <button type="button" class="ico_social ico_favicon social_on"> 기타 SNS 등록하기</button>
                </div>
            </div>
        </div>
    </teams-sns-editor>
</div>