<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 늘해랑 게시판</title>
    <link rel="stylesheet" href="../../../static/css/common.css">
    <link rel="stylesheet" href="/static/css/admin/admin-common.css">
    <link rel="icon" href="/static/image/favicon.png">
</head>

<body>

        <div class="wrap">

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
  <div class="board-info-title-box">
                                <h1 class="title-txt">늘해랑 게시판 목록</h1>
                            </div>
                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                    <div class="delete-box-layout">
                        <div class="delete-box">
                            <button class="delete-button" style="font-size: 14px">선택 게시물 삭제</button>
                        </div>
                        <div>
                            <input class="admin-search-box" type="search" placeholder=" 검색어를 입력해주세요.">
                            <img class="search-icon" src="/workspace/static/image/admin/search_icon.svg">
                        </div>

                    </div>
                        <div class="board-info-box">

                            <div class="info-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="checkbox-line">
                                                <input type="checkbox" id="selectAll">
                                            </th>
                                            <th>No</th>
                                            <th>작성자</th>
                                            <th style="font-weight: bold">늘해랑 제목</th>
                                            <th>작성 날짜</th>
                                            <th>상태</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="checkbox-line">
                                            <input class="subCheckbox" type="checkbox" name="check">
                                        </td>
                                        <td class="noticeId">
                                            1
                                        </td>
                                        <td>임웅빈</td>
                                        <td>
                                            <a style="font-weight: bold;">
                                                웅빈이와 함께하는 늘해랑
                                            </a>
                                        </td>
                                        <td>
                                            2023.00.00 00:00
                                        </td>
                                        <td class="color-icon">
                                            <span class="icon-wrap">
                                                <img class="yellow" src="/static/image/admin/caution.png" alt="승인대기">
                                                <img class="green" src="/static/image/admin/check.png" alt="승인">
                                                <img class="red" src="/static/image/admin/x-icon.png" alt="거절">
                                            </span>
                                        </td>


                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>

                    <!-- 페이지 버튼 -->

                    <div class="page-button-box-layout">
                        <div class="page-button-box">
                            <!-- 페이지 번호 -->
                            <div class="">
                                <div class="page-button-margin">
                                    <div>
                                        <img src="/static/image/admin/left_icon.png"
                                            class="left-button">
                                    </div>
                                </div>
                            </div>
                            <div class="page-button-active page-button">
                                <div class="page-button-margin">
                                    <div>
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-button">
                                <div class="page-button-margin">
                                    <div>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-button">
                                <div class="page-button-margin">
                                    <div>
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="page-button-margin">
                                    <div>
                                        <img src="/static/image/admin/right_icon.png"
                                            class="right-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 페이지 버튼 끝 -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {
  $("#selectAll").click(function() {
    $(".subCheckbox").prop("checked", this.checked);
  });

  $(".subCheckbox").click(function() {
    if ($(".subCheckbox:checked").length === $(".subCheckbox").length) {
      $("#selectAll").prop("checked", true);
    } else {
      $("#selectAll").prop("checked", false);
    }
  });
});
</script>
</html>