<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/common/common.css" />
    <link rel="stylesheet" href="../../static/css/footer/footer.css" />
    <link rel="stylesheet" href="../../static/css/footer/media-footer.css" />
    <title>footer</title>
</head>
<body>
<footer class="footer">
    <div class="footer-inner-container">
        <a href="" class="pc-footer-logo-link"></a>
        <div class="pc-footer-propose-container">
            <p class="pc-footer-propose-text">당신의 착한 마음을 응원합니다.<br>더 좋은 세상을 꿈꾼다면 지금 시작해보세요.</p>
            <a href="" class="pc-footer-propose-link-button">제안하기</a>
        </div>
        <div class="pc-footer-info-container">
            <a target="_blank" class="footer-copyright-hyperlink" href="">
                <small class="footer-copyright-text">©giboo&take Corp.</small>
            </a>
            <ul class="footer-menu-list">
                <li class="footer-menu-list-item">
                    <a target="_blank" class="footer-list-item-link" href="">
                        <span class="footer-list-item-text exclude-policy">도움말</span>
                    </a>
                </li>
                <li class="footer-menu-list-item">
                    <a target="_blank" class="footer-list-item-link" href="">
                        <span class="footer-list-item-text exclude-policy">이용약관</span>
                    </a>
                </li>
                <li class="footer-menu-list-item">
                    <a target="_blank" class="footer-list-item-link" href="">
                        <span class="footer-list-item-text privacy-policy">개인정보처리방침</span>
                    </a>
                </li>
            </ul>
            <!-- sns list -->
            <ul class="footer-sns-list">
                <li class="list-item">
                    <a target="_blank" class="footer-list-item-link" href="">
                        <span class="footer-list-item-text footer-sns-item-text exclude-policy">
                            <i class="footer-sns-icon-kakaotalk"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a target="_blank" class="footer-list-item-link" href="">
                        <span class="footer-list-item-text footer-sns-item-text exclude-policy">
                            <i class="footer-sns-icon-kakaostory"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a target="_blank" class="footer-list-item-link" href="">
                        <span class="footer-list-item-text footer-sns-item-text exclude-policy">
                            <i class="footer-sns-icon-facebook"></i>
                        </span>
                    </a>
                </li>
                <li class="list-item">
                    <a target="_blank" class="footer-list-item-link" href="">
                        <span class="footer-list-item-text footer-sns-item-text exclude-policy">
                            <i class="footer-sns-icon-instagram"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 반응형 -->
        <div class="mobile-footer">
            <ul class="mobile-footer-menu-list">
                <li class="mobile-footer-list-item mobile-footer-propose">
                    <a class="mobile-footer-item-link" href="">
                        <span class="mobile-footer-items-text exclude-policy">제안하기</span>
                    </a>
                </li>
                <li class="mobile-footer-list-item">
                    <a target="_blank" class="mobile-footer-item-link" href="">
                        <span class="mobile-footer-items-text exclude-policy">도움말</span>
                    </a>
                </li>
                <li class="mobile-footer-list-item">
                    <a target="_blank" class="mobile-footer-item-link" href="">
                        <span class="mobile-footer-items-text exclude-policy">이용약관</span>
                    </a>
                </li>
                <li class="mobile-footer-list-item">
                    <a target="_blank" class="mobile-footer-item-link" href="">
                        <span class="mobile-footer-items-text privacy-policy">개인정보처리방침</span>
                    </a>
                </li>
            </ul>
            <a target="_blank" class="mobile-footer-item-link mobile-footer-copyright-hyperlink" href="">
                <small class="mobile-footer-copyright-text">© Giboo&take Corp.</small>
            </a>
            <a href="" class="mobile-footer-logo-link"></a>
            <ul class="footer-sns-list">
                <li class="mobile-footer-sns-item">
                    <a target="_blank" class="mobile-footer-sns-link" href="">
                        <span class="mobile-footer-items-text exclude-policy sns-item">
                            <i class="mobile-sns-item-kakaotalk"></i>
                        </span>
                    </a>
                </li>
                <li class="mobile-footer-sns-item">
                    <a target="_blank" class="mobile-footer-sns-link" href="https://story.kakao.com/ch/k_together">
                        <span class="mobile-footer-items-text exclude-policy sns-item">
                            <i class="mobile-sns-item-kakaostory"></i>
                        </span>
                    </a>
                </li>
                <li class="mobile-footer-sns-item">
                    <a target="_blank" class="mobile-footer-sns-link" href="https://www.facebook.com/kakao.together">
                        <span class="mobile-footer-items-text exclude-policy sns-item">
                            <i class="mobile-sns-item-facebook"></i>
                        </span>
                    </a>
                </li>
                <li class="mobile-footer-sns-item">
                    <a target="_blank" class="mobile-footer-sns-link" href="https://www.instagram.com/together_kakao">
                        <span class="mobile-footer-items-text exclude-policy sns-item">
                            <i class="mobile-sns-item-instagram"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>