{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/common/common.css" />
    <link rel="stylesheet" href="../../static/css/neulhaerang/detail.css" />
    <link rel="stylesheet" href="../../static/css/neulhaerang/review-detail.css" />
    <title>늘해랑 : 후기</title>
  </head>
  <body>
    <app>
      <div class="dkwrap">
        <!-- <header></header> -->

        <span class="rootContent">
          <div id="dkContent" class="cont_project">
            <article id="mArticle" class="mArticle">
              <!--상단 타이틀 부분-->
              <div class="wrap_visual">
                <div class="cont_visual">
                  <div class="front_pack">
                    <!--타이틀-->
                    <h4 class="tit_visual ellipsis_type1">삼복더위, 물러가계(鷄)!</h4>
                    <!--주최자-->
                    <span class="txt_sponsor ellipsis_g">by 내당노인복지관</span>
                    <!--뱃지목록 (획득가능)-->
                    <div class="badge_group">
                      <button type="button" class="link_badge">
                        <img
                          class="thumb_badge"
                          src="https://mud-kage.kakaocdn.net/dn/bzTQmA/btqcJUAvEOE/wH8jPKYXKobYQDkuLdeTt1/img.png"
                          alt="힘내라 힘"
                        /></button
                      ><button type="button" class="link_badge">
                        <img
                          class="thumb_badge"
                          src="https://mud-kage.kakaocdn.net/dn/Lm7Jm/btqcKIsVnX2/f3O7WtZRGMMKLCOb1SfcVK/img.png"
                          alt="내 나이가 어때서"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--본문-->
              <div class="wrap_subject">
                <div id="lnb_menu" class="wrap_tab2">
                  <ul  class="list_tab">
                    <li>
                      <a
                        class="link_tab"
                        href="/fundraisings/96287/story"
                        ><span class="txt_tab">스토리</span></a
                      >
                    </li>
                    <li  class="on">
                      <a
                        class="link_tab"
                        href="/fundraisings/96287/epilogue"
                        ><span class="inner_tab"><span class="txt_tab">모금후기</span></span></a
                      >
                    </li>
                  </ul>
                </div>

                <div class="cont_subject">
                  <!--소제목-->
                  <span class="tit_subject"> 어르신들에게 가혹한 폭염... </span>
                  <!--내용-->
                  <p class="desc_subject">
                    평년 대비 여름철 기온이 높아지며 전국적으로 무더위를 대비하고 있는 가운데, 다른
                    지역보다 유난히 덥고 습한 대구의 올해 여름 날씨는 작년 8월의 최고치인 36.2℃를
                    웃도는 38℃까지 올라갈 것으로 예상되어 벌써부터 어르신들의 기력을 한층 더 꺾이게
                    만듭니다. 1년 중 가장 더운 삼복 중 마지막이자 입추 후 첫째 경일인 '말복'에
                    사람들은 더위를 이겨냄과 동시에 가을을 기운차게 보내기 위한 보양식을 챙겨
                    먹습니다. 그중에서도 대표격인 삼계탕은 평소 고기를 섭취하지 못하는 어르신들의
                    기운을 북돋아 줄 수 있으며 인삼, 마늘, 대추 등의 부재료는 각각 원기 회복, 면역
                    체계 향상 등의 효능을 가지고 있어 노인에게 안성맞춤인 보양식입니다.
                  </p>
                  <!--사진 슬라이드-->
                  <div class="photo_slide">
                    <!--사진들-->
                    <div class="inner_photo">
                      <ul class="list_photo">
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/dGhrgZ/btslJ3ozDjt/Kp7MFxBdG5bqf2BgLa9wMK/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/bxucvS/btslJdE1EYM/u0gLYcSfVmqQ5RTngyP0cK/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/dGhrgZ/btslJ3ozDjt/Kp7MFxBdG5bqf2BgLa9wMK/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/bxucvS/btslJdE1EYM/u0gLYcSfVmqQ5RTngyP0cK/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                      </ul>
                    </div>
                    <!--페이징 버튼과 이전 다음 버튼-->
                    <div class="paging_slide">
                      <span class="num_paging">
                        <span class="num_page">1</span>
                        / 4
                      </span>
                      <button class="btn_prev" type="button">
                        <span class="ico_together2 ico_prev">이전버트</span>
                      </button>
                      <button class="btn_next" type="button">
                        <span class="ico_together2 ico_next">다음버튼</span>
                      </button>
                    </div>
                  </div>

                  <span class="tit_subject"
                    >지친 기력 회복을 위하여 꼭 필요한 보양식, 하지만...</span
                  >
                  <p class="desc_subject">
                    복지관 이용자의 큰 비중을 차지지하고 있는 독거어르신은 대체로 가족이 차려주는
                    따뜻한 밥을 드시지 못하기 때문에 저희 경로식당의 '고봉밥 한 끼'가 하루 중 유일한
                    식사인 경우가 많습니다. 대구광역시 서구는 총 인구 대비 노인 인구 증가 비율이
                    가장 큰 상위 10개 시군구 중 하나로, 대구 내에서 평균 소득이 가장 낮습니다.
                    대구광역시 서구에 위치하고 있는 내당노인복지관은 서울 지역 내 노인복지관 평균
                    식대 4,000원, 대구 지역 내 노인복지관 평균 식대 1,650원보다도 적은 1,300원으로,
                    최소한의 비용으로 최대한 영양가 높은 식단을 어르신들께 제공하고자 노력하고
                    있습니다. 하지만 무더위로 바닥까지 기력이 떨어진 어르신들의 기운을 되찾아 줄
                    대표 보양식 삼계탕은 보통 15,000원 정도에 사 먹을 수 있는데, 적을 때는
                    1,300원으로 한 끼를 드시는 어르신들에게 너무도 큰 금액입니다.
                  </p>
                  <div class="photo_slide">
                    <!--사진들-->
                    <div class="inner_photo">
                      <ul class="list_photo">
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/bq1ezk/btslGzO5vrW/GQuNzSvOYR9B79FIDyh260/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">사진한개</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/bq1ezk/btslGzO5vrW/GQuNzSvOYR9B79FIDyh260/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">사진한개</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/bq1ezk/btslGzO5vrW/GQuNzSvOYR9B79FIDyh260/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">사진한개</span>
                        </li>
                      </ul>
                    </div>
                    <!--페이징 버튼과 이전 다음 버튼-->
                    <div class="paging_slide">
                      <span class="num_paging">
                        <span class="num_page">1</span>
                        / 4
                      </span>
                      <button class="btn_prev" type="button">
                        <span class="ico_together2 ico_prev">이전버트</span>
                      </button>
                      <button class="btn_next" type="button">
                        <span class="ico_together2 ico_next">다음버튼</span>
                      </button>
                    </div>
                  </div>
                  <span class="tit_subject"
                    >여러분의 관심과 사랑이 합쳐져 완성할 '삼계탕 한 그릇'</span
                  >
                  <p class="desc_subject">
                    카카오같이가치 기부자 여러분의 따스한 마음을, 따뜻한 반계탕을 드시게 될
                    어르신들에게 온전히 전달할 수 있도록 하겠습니다. 뜨거운 여름, 어르신들의 한 끼
                    식사에 풍요로움 '한 움큼' 어떠신가요?
                  </p>


                  <!--별찌모음-->
                  <div class="reward">기부 펀딩 별찌</div>




                  <div class="photo_slide">
                    <!--사진들-->
                    <div class="inner_photo">
                      <ul class="list_photo">
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/unxQz/btspnkHEpOY/gJvTKdYCk7i0OaGY8qQY51/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/da5KpY/btspxchIsaY/q73juCeCL7aSKiUCrEVTj0/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/bJ6gIq/btspxcvhB0D/gL6jxgvNUnbQcDX70KIMKK/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/Ephif/btspBACAuGF/ITBTKMHndy9JDe63FQKqmk/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/setz2/btspBAihFc4/1XbGskItJ3EDKMhcst5Bq0/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/unxQz/btspnkHEpOY/gJvTKdYCk7i0OaGY8qQY51/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                        <li>
                          <span
                            class="img_slide"
                            style="
                              background-image: url('https://mud-kage.kakaocdn.net/dn/da5KpY/btspxchIsaY/q73juCeCL7aSKiUCrEVTj0/c360.jpg');
                            "
                          ></span
                          ><span class="txt_caption">내용</span>
                        </li>
                      </ul>
                    </div>
                    <!--페이징 버튼과 이전 다음 버튼-->
                    <div class="paging_slide">
                      <span class="num_paging">
                        <span class="num_page">1</span>
                        / 4
                      </span>
                      <button class="btn_prev" type="button">
                        <span class="ico_together2 ico_prev">이전버트</span>
                      </button>
                      <button class="btn_next" type="button">
                        <span class="ico_together2 ico_next">다음버튼</span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="info_story">
                  <!--오픈카톡 링크-->
                  <div class="story_rellink">
                    <strong class="tit_rellink">관련 링크</strong>
                    <ul class="list_ref">
                      <li>
                        <a class="link_ref" href="http://www.haeundaejangsan.or.kr/" target="_blank"
                          ><span class="txt_line">별찌 수령자 전용 오픈카톡</span></a
                        >
                      </li>
                    </ul>
                  </div>
                  <!--해시태그, 랜던값으로 색깔 지정-->
                  <div class="hash_group">
                    <a href="#" class="link_hash hash_type1">#실버세대</a>
                    <a href="#" class="link_hash hash_type2">#실버세대</a>
                    <a href="#" class="link_hash hash_type3">#실버세대</a>
                    <a href="#" class="link_hash hash_type4">#실버세대</a>
                    <a href="#" class="link_hash hash_type5">#실버세대</a>
                    <a href="#" class="link_hash hash_type6">#실버세대</a>
                    <a href="#" class="link_hash hash_type7">#실버세대</a>
                    <a href="#" class="link_hash hash_type8">#실버세대</a>
                    <a href="#" class="link_hash hash_type9">#실버세대</a>
                  </div>
                </div>
                <!--목표금액,랭킹,기부 퍼센트-->
                <div class="info_state">
                  <span class="total_fund"> 2,406,390<span class="txt_won">원</span> </span>
                  <span class="txt_goal">2,700,000원 목표</span>

                  <!--모금액 퍼센트이미지-->
                  <!--100%완료시 fund_end 추가-->
                  <!--100%완료못하고 기간 종료시 fund_fail 추가-->
                  <div id="animate-area" class="chart_fund pack_type2 fund_fail">
                    <span class="progress_road">
                      <span class="mark_pack">
                        <div class="inner_mark_pack">
                          <!--left로 퍼센트조정-->
                          <span class="mark_point" style="left: 90%">
                            <span class="ico_chart txt_result"
                              ><span class="num_per"> 90 </span><span class="txt_per">%</span>
                            </span>
                          </span>
                        </div>
                      </span>
                    </span>
                    <!--모금액 퍼센트 바-->
                    <span class="graph_road">
                      <span class="graph_bar">
                        <span class="inner_graph_bar">
                          <!--width로 퍼센트조정-->
                          <span class="sign_graph" style="width: 90%"> </span>
                        </span>
                      </span>
                    </span>
                  </div>
                  <!--기부금 상세정보-->
                  <dl class="detail_fund">
                    <dt class="tit_fund give_take">기부하고 별찌받자!</dt>
                    <dd class="txt_fund"></dd>
                  </dl>
                  <dl class="detail_fund fund_belong">
                    <dt class="tit_fund">ㄴ 최고의 기부천사 (1명)</dt>
                    <dd class="txt_fund">아이와 함께 만든 비즈 팔찌</dd>
                    <dt class="tit_fund">ㄴ 감동의 기부천사 (10명)</dt>
                    <dd class="txt_fund">아이와 함께 만든 비즈 반지</dd>
                    <dt class="tit_fund">ㄴ 은은한 기부천사(100명)</dt>
                    <dd class="txt_fund">아이의 손글씨 편지</dd>
                    <dt class="txt_fund warn_zzi">(익명 기부시 별찌 대상자에서 제외됩니다.)</dt>
                    <dt class="txt_fund warn_zzi">
                      (같은 금액 기부시 먼저 기부한 천사가 기부천사가 됩니다.)
                    </dt>
                  </dl>
                  <dl class="detail_fund"></dl>
                </div>
                <div class="wrap_plan receipt_none">
                  <div class="cont_plan plan_type2">
                    <div class="inner_plan">
                      <!--주최자-->
                      <div class="group_suggester">
                        <a href="#" class="link_suggester">
                          <span class="wrap_thumb">
                            <img
                              alt="대표 섬네일"
                              class="img_logo"
                              src="https://mud-kage.kakaocdn.net/dn/cbjWbu/btslaSWrOFE/dtSdEnXKALhBS05xUD6FRK/c160.jpg"
                            />
                          </span>
                          <span class="info_suggester">
                            <span class="txt_suggester">프로젝트 주최자</span>
                            <span class="name_suggester">내당노인복지관</span>
                          </span>
                        </a>
                        <!--홈페이지, 인스타 등등-->
                        <ul class="list_contact">
                          <li>
                            <a href="" class="ico_homepage ico_social"></a>
                            <a href="" class="ico_facebook ico_social"></a>
                            <a href="" class="ico_instagram ico_social"></a>
                          </li>
                        </ul>
                      </div>
                      <!--모집,모금기간-->
                      <dl class="story_date">
                        <dt class="tit_date">모금기간 :</dt>
                        <dd class="txt_date">2023.07.07 ~ 2023.08.07</dd>
                        <dt class="tit_date">봉사기간 :</dt>
                        <dd class="txt_date">2023.07.07 ~ 2023.08.07</dd>
                        <dt class="tit_date">후기작성 :</dt>
                        <dd class="txt_date">2023.07.07</dd>
                      </dl>
                      <!--모금액 사용 계획-->
                      <div class="info_plan">
                        <button type="button" class="btn_plan">
                          <!-- 누르면바뀜   background-position: -248px -116px;-->
                          <span class="ico_together ico_arr"></span
                          ><span>모금액, 이렇게 사용했습니다</span>
                        </button>
                        <!--토글 슬라이드 모금액-->
                        <div class="slide-togle" style="display: none">
                          <span class="plan_period">
                            < 사업기간 : 2023. 08. 18 ~ 2023. 08. 31 >
                          </span>
                          <ul class="list_plan">
                            <li>
                              <span class="num_plan"> 1.</span>
                              <span class="txt_plan">
                                <span class="txt_expense"> 보양식 식재료 6,750원×200명×2회 </span
                                ><span class="emph_sign"
                                  ><span class="num_type">2,700,000</span>원</span
                                ></span
                              >
                            </li>
                            <li>
                                <span class="num_plan"> 2.</span>
                                <span class="txt_plan">
                                  <span class="txt_expense"> 보양식 식재료 6,750원×200명×2회 </span
                                  ><span class="emph_sign"
                                    ><span class="num_type">2,700,000</span>원</span
                                  ></span
                                >
                              </li>
                              <li>
                                <span class="num_plan"> 3.</span>
                                <span class="txt_plan">
                                  <span class="txt_expense"> 보양식 식재료 6,750원×200명×2회 </span
                                  ><span class="emph_sign"
                                    ><span class="num_type">2,700,000</span>원</span
                                  ></span
                                >
                              </li>
                              <li>
                                <span class="num_plan"> 4.</span>
                                <span class="txt_plan">
                                  <span class="txt_expense"> 보양식 식재료 6,750원×200명×2회 </span
                                  ><span class="emph_sign"
                                    ><span class="num_type">2,700,000</span>원</span
                                  ></span
                                >
                              </li>
                          </ul>

                          <div class="info_goal">
                            <strong class="tit_goal"
                              >총모금액
                              <span class="num_goal emph_sign"
                                >2,700,000<span class="txt_per">원</span></span
                              ></strong
                            >
                          </div>
                         
                          <div class="info_receipt">
                            <span class="receipt_group"
                              >기부금 영수증 발급 기관 : 한국사회복지관협회</span
                            >
                          </div>
                          <span class="txt_notice">
                            본 모금은 한국사회복지관협회에서 사업 검토 및 기부금 집행, 사후관리를
                            담당하고 있습니다.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--하단 배너-->
              <div class="group_banner">
                <a class="link_banner" href="#"
                  ><img
                    class="img_banner"
                    style="max-width: 100%"
                    src="https://mud-kage.kakaocdn.net/dn/rqNZC/btspFjm77Ms/eyIL6hK6iAWZAMzavzBoA1/img.png"
                    alt="2023_815런"
                /></a>
              </div>
              <!--댓글-->

              <div data-tiara-layer="comment" class="wrap_cmt cmt_type3">
                <div class="write_cmt">
                  <div class="inner_write">
                    <div class="info_append">
                      <span class="txt_heading">카카오 지원 댓글 기부금 </span
                      ><span class="emph_sign">149,800원</span>
                    </div>
                    <a class="link_profile" href="#"
                      ><img
                        alt="프로필사진"
                        class="img_thumb"
                        src="https://t1.kakaocdn.net/together_image/common/avatar/avatar03.png"
                    /></a>
                    <!--댓글 작성-->
                    <div class="cmt_info">
                      <div class="txt_cmt">
                        <fieldset loginclick="" class="fld_cmt">
                          <textarea
                            class="tf_cmt"
                            placeholder="댓글로 따뜻한 마음을 전해주세요!"
                            minlength="1"
                            maxlength="500"
                            style="overflow: auto"
                          ></textarea>
                          <!--이모티콘-->
                          <!-- <div id="together_emoticon_area" class="inp_emot">
                              <div class="box_icon">
                                <img
                                  id="together_thumb_emoticon"
                                  alt="이모티콘"
                                  class="img_thumb"
                                  src="https://t1.kakaocdn.net/together_image/common/avatar/avatar03.png"
                                /><a class="ico_together2 btn_del">삭제</a>
                              </div>
                            </div> -->
                          <button type="button" class="btn_emot">
                            <span class="ico_together2 ico_emot"></span> 이모티콘
                          </button>

                          <!--이모티콘 누를시 내가가진 이모티콘이 나옴-->
                          <!-- <div class="emoticon_layer" style="display: none"></div> -->

                          <span class="txt_limit"
                            ><span class="num_now comment_num">0/</span>500 </span
                          ><button type="button" class="btn_comment">등록</button>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wrap_info">
                  <div class="inner_info">
                    <span class="txt_cmt">댓글 <span class="emph_sign">1,722</span></span>
                    <div class="wrap_sort">
                      <input type="checkbox" id="inpSort" class="inp_sort" /><label
                        for="inpSort"
                        class="lab_sort"
                        ><span class="ico_together ico_sort"></span>직접기부자만 보기</label
                      >
                    </div>
                  </div>
                </div>
                <!--댓글 시작-->
                <ul class="list_cmt">
                  <!--배뎃,몰래기부,남-->

                  <li>
                    <button class="link_profile">
                      <img
                        src="https://t1.kakaocdn.net/together_image/common/avatar/avatar_angel.png"
                        class="img_thumb"
                      />
                      <!--베뎃-->
                      <span class="ico_together2 ico_best"></span>
                    </button>
                    <div class="cmt_info">
                      <span class="info_append"
                        ><strong class="tit_nickname"
                          ><a href="#" class="link_nickname"> 몰래천사 </a></strong
                        ><span class="txt_money"> 1,000원 </span></span
                      ><span class="txt_cmt"
                        ><span class="desc_cmt">조용히 기부합니다.</span>
                        <!--이모티콘 있을시 아래에 넣음-->
                        <span class="emoticon_pack"></span> </span
                      ><span class="info_append"
                        ><span class="txt_time">2023년 07월 07일</span
                        ><button type="button" class="btn_like">
                          <span class="ico_together ico_like"></span>&nbsp;좋아요&nbsp;<span
                            class="num_like"
                            >26</span
                          >
                        </button></span
                      >
                    </div>
                  </li>
                  <!--내 댓글-->
                  <li>
                    <button class="link_profile">
                      <img
                        src="https://t1.kakaocdn.net/together_image/common/avatar/avatar_angel.png"
                        class="img_thumb"
                      />
                    </button>
                    <div class="cmt_info">
                      <span class="info_append"
                        ><strong class="tit_nickname"
                          ><a href="#" class="link_nickname"> des** </a></strong
                        ><span class="txt_money"> 1,000원 </span></span
                      ><span class="txt_cmt"
                        ><span class="desc_cmt">화이팅입니다.</span>
                        <!--이모티콘 있을시 아래에 넣음-->
                        <span class="emoticon_pack"></span> </span
                      ><span class="info_append"
                        ><span class="txt_time">2023년 07월 07일</span
                        ><button type="button" class="btn_like">
                          <span class="ico_together ico_like"></span>&nbsp;좋아요&nbsp;<span
                            class="num_like"
                            >26</span
                          >
                        </button>
                        <!--삭제 버튼-->
                        <button type="button" class="btn_delete">삭제</button>
                      </span>
                    </div>
                  </li>
                </ul>

                <!--더보기 버튼-->
                <div class="list_more">
                  <button type="button" class="link_round link_other2">더보기</button>
                </div>
              </div>
              <!--추천 목록-->
              <div class="group_endlist">
                <div class="inner_slide">
                  <ul class="list_slide" style="width: 900px">
                    <li>
                      <a href="#" class="link_slide">
                        <span
                          class="area_thumb"
                          style="
                            background-image: url('https://mud-kage.kakaocdn.net/dn/bj7qBs/btsnD7wMWxw/xK4tZzj0TSGymKYUCzFEE1/img.jpg?convert=c360x360');
                          "
                        ></span>
                      </a>
                      <div class="area_cont">
                        <a class="link_slide" href="#"
                          ><span class="tit_slide">모금함</span
                          ><span class="desc_slide ellipsis_type1"
                            >집중호우 피해 구호활동에 함께해주세요!</span
                          ></a
                        >
                      </div>
                    </li>
                    <li>
                      <a href="#" class="link_slide">
                        <span
                          class="area_thumb"
                          style="
                            background-image: url('https://mud-kage.kakaocdn.net/dn/bj7qBs/btsnD7wMWxw/xK4tZzj0TSGymKYUCzFEE1/img.jpg?convert=c360x360');
                          "
                        ></span>
                      </a>
                      <div class="area_cont">
                        <a class="link_slide" href="#"
                          ><span class="tit_slide">모금함</span
                          ><span class="desc_slide ellipsis_type1"
                            >집중호우 피해 구호활동에 함께해주세요!</span
                          ></a
                        >
                      </div>
                    </li>
                    <li>
                      <a href="#" class="link_slide">
                        <span
                          class="area_thumb"
                          style="
                            background-image: url('https://mud-kage.kakaocdn.net/dn/bj7qBs/btsnD7wMWxw/xK4tZzj0TSGymKYUCzFEE1/img.jpg?convert=c360x360');
                          "
                        ></span>
                      </a>
                      <div class="area_cont">
                        <a class="link_slide" href="#"
                          ><span class="tit_slide">모금함</span
                          ><span class="desc_slide ellipsis_type1"
                            >집중호우 피해 구호활동에 함께해주세요!</span
                          ></a
                        >
                      </div>
                    </li>
                    <li>
                      <a href="#" class="link_slide">
                        <span
                          class="area_thumb"
                          style="
                            background-image: url('https://mud-kage.kakaocdn.net/dn/bj7qBs/btsnD7wMWxw/xK4tZzj0TSGymKYUCzFEE1/img.jpg?convert=c360x360');
                          "
                        ></span>
                      </a>
                      <div class="area_cont">
                        <a class="link_slide" href="#"
                          ><span class="tit_slide">모금함</span
                          ><span class="desc_slide ellipsis_type1"
                            >집중호우 피해 구호활동에 함께해주세요!</span
                          ></a
                        >
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!--기부하기 버튼바-->
              <!-- btn_static 추가시 밑에 붙음-->
              <div class="fund_float">
                <button type="button" class="btn_g btn_cheer">
                  <span class="ico_together ico_cheer"></span
                  ><span class="txt_float txt_cheer"
                    >응원<span class="num_active">4,218</span></span
                  ></button
                ><button type="button" class="btn_g btn_participate">
                  <span class="ico_together ico_share"></span
                  ><span class="txt_float txt_share"
                    >동참<span class="num_active">20/30</span></span
                  ></button
                >
                <!--기부 종료료-->
                <button
                  type="button"
                  class="btn_g btn_off"
                >
                  <span><span class="txt_float txt_end"> 기부종료 </span></span>
                </button>

              </div>
            </article>
          </div>
        </span>

        <!--모달 백그라운드-->
        <div class="dimmed_layer"></div>
        <!--모달들 위치-->

        <!--상단 뱃지 모달 (해당 봉사 참여나 기부참여시 얻을 수 있는 뱃지 목록)-->
        <div
          class="ngdialog-content badge-modal"
          id="modalON"
          style="position: fixed; display: none; top: 25%; margin-left: -192px"
        >
          <modal-content>
            <div class="inner_together_layer inner_together_layer2">
              <div class="layer_body">
                <div class="wrap_ktbadge">
                  <strong class="tit_badge"
                    >당신은 같이가치의 히어로!<br />기부하고 다양한 스탬프를 모아보세요.</strong
                  ><img
                    class="thumb_badge"
                    src="https://mud-kage.kakaocdn.net/dn/bzTQmA/btqcJUAvEOE/wH8jPKYXKobYQDkuLdeTt1/img.png"
                  /><strong class="name_badge">힘내라 힘</strong>
                  <p class="txt_badge">
                    의식주 걱정없이 살아가는 세상을 만들어요. '기본 생활 지원' 프로젝트에
                    기부해보세요.
                  </p>
                </div>
                <plus-friend-button>
                  <div class="cont_plusfriend">
                    <span class="info_plusfriend"
                      >카카오같이가치 채널을 추가하면<br />기부한 모금함의 소식을 알려드려요.</span
                    >
                    <button type="button" class="btn_plusfriend">
                      <span class="ico_together3 ico_plusfriend"></span
                      ><span class="txt_plusfriend">채널 추가</span>
                    </button>
                  </div>
                </plus-friend-button>
              </div>
              <div class="layer_foot">
                <button type="button" class="btn_close">
                  <span class="ico_together">닫기</span>
                </button>
              </div>
            </div>
          </modal-content>
        </div>
        <!--댓글 삭제 모달 -->
        <div
          class="ngdialog-content comment_delete_modal"
          id="modalON"
          style="position: fixed; display: none; top: 25%; margin-left: -192px"
        >
          <modal-content>
            <div class="inner_together_layer inner_together_layer2">
              <div class="layer_body">
                <p class="desc_together">
                  <span class="txt_desc" style="white-space: pre-line"
                    >댓글 삭제시 복구가 불가능합니다.<br />정말 삭제하시겠습니까?</span
                  >
                </p>
                <div class="wrap_btn">
                  <a href="javascript:void(0)" class="btn_set btn_type1">확인</a
                  ><a href="javascript:void(0)" class="btn_set btn_type2">취소</a>
                </div>
              </div>
            </div>
          </modal-content>
        </div>
        <!--, 로그인 모달-->
        <div
          class="ngdialog-content need_login_modal"
          id="modalON"
          style="position: fixed; display: none; top: 25%; margin-left: -192px"
        >
          <modal-content>
            <div class="inner_together_layer inner_together_layer2">
              <div class="layer_body">
                <p class="desc_together">
                  <span class="txt_desc" style="white-space: pre-line"
                    >로그인이 필요한 기능입니다.<br />로그인 하시겠습니까?</span
                  >
                </p>
                <div class="wrap_btn">
                  <a href="javascript:void(0)" class="btn_set btn_type1">확인</a
                  ><a href="javascript:void(0)" class="btn_set btn_type2">취소</a>
                </div>
              </div>
            </div>
          </modal-content>
        </div>
        <!--, 동참 모달-->
        <div
          class="ngdialog-content participate_modal"
          id="modalON"
          style="position: fixed; display: none; top: 25%; margin-left: -192px"
        >
          <modal-content>
            <div class="inner_together_layer inner_together_layer2">
              <div class="layer_body">
                <p class="desc_together">
                  <span class="txt_desc" style="white-space: pre-line"
                    >당신은 천사입니다.<br />봉사활동에 동참하시겠습니까?</span
                  >
                </p>
                <div class="wrap_btn">
                  <a href="javascript:void(0)" class="btn_set btn_type1">확인</a
                  ><a href="javascript:void(0)" class="btn_set btn_type2">취소</a>
                </div>
              </div>
            </div>
          </modal-content>
        </div>

        <!--기부하기 모달-->
        <donation-modal>
          <modal>
            <div
              class="ngdialog-content fund_modal"
              id="modalON"
              style="
                position: fixed;
                display: none;
                inset: 0px;
                margin-left: 0px;
                align-items: center;
                justify-content: center;
              "
            >
              <modal-content>
                <div class="inner_modal">
                  <div class="layer_head"><strong class="tit_head">기부하기</strong></div>
                  <div class="layer_body">
                    <div class="info_profile">
                      <div
                        kagetype="c360"
                        class="thumb_img"
                        style="
                          background-image: url('https://mud-kage.kakaocdn.net/dn/bHhaxG/btsmGgN5xJu/kr3waBaWbEkCER8fswpA41/c360.jpg');
                        "
                      ></div>
                      <div class="area_info">
                        <strong class="tit_info"
                          >‘라면 한 끼’가 전부인 어르신에게 '한 끼'의 의미</strong
                        >
                        <p class="txt_sponsor">(복) 불국토 수영구 노인복지관</p>
                      </div>
                    </div>
                    <form
                      name="form"
                      class="form_manage ng-pristine ng-valid ng-touched ng-submitted"
                    >
                      <fieldset>
                        <div class="wrap_fund">
                          <div class="box_input_num">
                            <input
                              type="text"
                              inputmode="numeric"
                              id="tfWrite"
                              name="amount"
                              placeholder="0"
                              class="tf_g ng-pristine ng-valid ng-touched"
                            /><em class="txt_unit">원</em>
                            <button class="btn_reset" type="button">
                              <span class="ico_close_round"></span>
                            </button>
                          </div>

                          <div class="box_digit">
                            <button type="button" data-don="5000" class="btn_digit">+ 5천원</button>
                            <button type="button" data-don="10000" class="btn_digit">
                              + 1만원
                            </button>
                            <button type="button" data-don="30000" class="btn_digit">
                              + 3만원
                            </button>
                            <button type="button" data-don="50000" class="btn_digit">
                              + 5만원
                            </button>
                            <button type="button" data-don="100000" class="btn_digit">
                              + 10만원
                            </button>
                            <button type="button" data-don="500000" class="btn_digit">
                              + 50만원
                            </button>
                            <button type="button" data-don="1000000" class="btn_digit">
                              + 100만원
                            </button>
                            <button type="button" data-don="직접입력" class="btn_digit">
                              직접입력
                            </button>
                          </div>
                          <p class="txt_info">무통장은 3천원, 기타 결제는 1천원부터 가능합니다.</p>
                          <!----><!----><!---->
                          <div class="wrap_textarea">
                            <div class="box_tf">
                              <textarea
                                id="tfReply"
                                cols="30"
                                rows="10"
                                name="comment"
                                maxlength="300"
                                placeholder="응원하는 따뜻한 한마디를 남겨주세요."
                                class="tf_g ng-pristine ng-valid ng-touched"
                              ></textarea>
                              <div class="box_util">
                                <span class="txt_inp_limit"
                                  ><span class="num_now give_num">0</span>/300</span
                                >
                              </div>
                            </div>
                          </div>
                          <div class="group_choice">
                            <span class="choice_g choice_checkbox"
                              ><input
                                type="checkbox"
                                id="checkAnonymous"
                                name="anonymous"
                                class="inp_g ng-untouched ng-pristine ng-valid"
                                value="true" /><label for="checkAnonymous" class="lab_g"
                                ><span class="info_choice">익명으로 기부하기</span
                                ><span class="ico_check"></span></label
                            ></span>
                          </div>
                          <ul class="list_msg">
                            <li>결제 수수료는 카카오가 대신 부담합니다.</li>
                            <li>기부 완료 알림은 카카오톡으로 발송해드려요.</li>
                          </ul>
                        </div>
                        <div class="wrap_btns">
                          <button type="button" class="btn_set">기부하기</button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  <div class="layer_foot">
                    <button type="button" class="btn_close">
                      <span class="ico_close ir_pm">닫기</span>
                    </button>
                  </div>
                </div>
              </modal-content>
            </div>
          </modal>
        </donation-modal>

        <!--하단 토스트 메세지-->
        <div id="toast-container" class="toast-bottom-center" style="display: none">
          <div class="toast toast-success">
            <div class="toaster-icon icon-success"></div>
            <div class="toast-content">
              <div class="toast-title"></div>
              <div class="toast-message">
                <div>최소 2글자 이상 입력해주세요</div>
              </div>
            </div>
          </div>
        </div>

        <!-- <footer></footer> -->
      </div>
    </app>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/js/nelharang/detail.js"></script>
  <script src="/static/js/nelharang/review-detail.js"></script>
</html>
