{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"공지사항 타이틀"</title>
    <link rel="stylesheet" href="{% static 'css/notice/notice-detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon_Test.png' %}">
</head>
<body>
{% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
{% else %}
    {% include 'header/header.html' %}
{% endif %}
<!-- 메인 -->
<span class="main-wrap">
    <div class="total-main">
      <!-- 공지사항 탭 -->
      <div class="wrap-tab">
        <ul class="list-tab">
          <li >
            <a class="link-tab" href="/notice/list/?type=전체">
              <span class="txt-tab">전체</span>
            </a>
            </li>
            <li class="">
              <a class="link-tab" href="/notice/list/?type=서비스안내">
                <span class="txt-tab">서비스안내</span>
              </a>
            </li>
              <li class="">
                <a class="link-tab" href="/notice/list/?type=주최자안내">
                  <span class="txt-tab">주최자안내</span>
                </a>
              </li>
                <li class="">
                  <a class="link-tab" href="/notice/list/?type=참가자안내">
                    <span class="txt-tab">참가자안내</span>
                  </a>
                </li>
              </ul>
            </div>
        <div class="wrap-view notice-view">
          <div class="view-head">
            <span class="notice-title">{{ notice.type }}</span>
            <strong class="subject-official">{{ notice.notice_title }}</strong>
            <span class="date-official">{{ notice.created_date|date:'Y-m-d-H:i:s' }}</span>
          </div>
        </div>

          <div class="view-body">
            <p style="white-space: pre-line">
                {{ notice.notice_content }}
            </p>
              {% if notice.notice_image %}
                <img src="/upload/{{ notice.notice_image }}"
                   style="width: 700px;">
              {% endif %}

            <div class="view-foot">
              <strong class="name-writer">by : {{ notice.admin.member_nickname }}</strong>
          </div>
        </div>
        <div class="group-banner">
          <a class="link-banner" href="javascript:void(0);">
            <img class="img-banner" style="max-width: 100%;"
                 src="https://mud-kage.kakaocdn.net/dn/AQse3/btso927mBuT/7koV3SZxS7GaRKQ7FJaXiK/img.png"></a>
          </div>
        </div>
    </span>


{% include 'footer/footer.html' %}
</body>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}

<script>
    let notice_type = "{{ notice_type }}"
    $(".txt-tab").each((i,tab)=>{
        if($(tab).text()==notice_type){
            $(tab).closest("li").addClass("on")
        }
    })
</script>
</html>
