<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"공지사항 타이틀"</title>
  <link rel="stylesheet" href="../../static/css/notice/notice-detail.css">
  <link rel="stylesheet" href="../../static/css/common/common.css">
  <link rel="shortcut icon" href="/static/image/favicon.png" type="image/x-icon" >
</head>
<body>
  <!-- 메인 -->
  <span class="main-wrap">
    <div class="total-main">
      <!-- 공지사항 탭 -->
      <div class="wrap-tab">
        <ul class="list-tab">
          <li class="on">
            <a class="link-tab" href="javascript:void(0);">
              <span class="txt-tab">전체</span>
            </a>
            </li>
            <li class="">
              <a class="link-tab" href="javascript:void(0);">
                <span class="txt-tab">공지탭1</span>
              </a>
            </li>
              <li class="">
                <a class="link-tab" href="javascript:void(0);">
                  <span class="txt-tab">공지탭2</span>
                </a>
              </li>
                <li class="">
                  <a class="link-tab" href="javascript:void(0);">
                    <span class="txt-tab">공지탭3</span>
                  </a>
                </li>
              </ul>
            </div>
        <div class="wrap-view notice-view">
          <div class="view-head">
            <span class="notice-title">"안내 타겟"</span>
            <strong class="subject-official">"안내 타이틀"</strong>
            <span class="date-official">2023.00.00</span>
          </div>

          <div class="view-body">
            <p>
              <!-- 테스트용 자동생성 텍스트 지우고 기부앤테이크 공지사항 컨텐츠 넣기 -->
              <span style="font-family: Kakao Light, 맑은 고딕, Malgun Gothic, Apple SD Gothic Neo, 돋움, dotum, sans-serif; font-size: 16px; color: rgb(51, 51, 51);">
                두 발로 움켜잡은 초록빛 나뭇잎이 입안에서 톡 하고 터져 향기를 풍기며, 고요한 숲은 초식공룡들의 모습으로 가득했다. 무럭무럭 자라나는 나무들과 무성한 식물들 사이로 초식공룡들의 형형색색인 몸짓이 뒤섞여 있었다.
                <br><br>
                웅빈이라는 이름의 작은 초식공룡은 눈앞에 펼쳐진 식물들의 보물함을 즐겼다. 매일 아침마다 웅빈이라는 초식공룡은 나뭇잎 하나부터 작은 꽃 한 송이까지를 마구 먹어대며 숲을 살아갔다.
                <br><br>
                "웅빈아, 아침 식사 하고 있는 건가요?" 초록빛 나뭇잎이 부러지는 소리에 뒤돌아본 웅빈은 친구인 노바가 다가오는 모습을 보았다. 노바는 웅빈의 친구이자 이웃 초식공룡이었다.
                <br><br>
                "그래, 노바! 아침에 이렇게 맛있는 식물들을 찾아냈어." 웅빈은 입안을 터져 나온 작은 나뭇잎 조각을 뱉으며 말했다.
                <br><br>
                
                
            </p>
            <!-- 테스트 이미지 css 적용 완료 -->
            <!-- 사진의 위 아래로 내용 추가 가능 -->
            <!-- 내용부분은 스타일을 css에서 안주고 각각 부여 -->
            <p>
              <font face="Kakao Light">
              <img src="https://sandbox-k.kakaocdn.net/dn/bIQbt5/ZSgFjdWOl0/PMZ4lrT4o94xL2dD4mU3Uk/img.png" style="width: 863px;">
            </font>
          </p><br><br>
                노바는 미소를 지으며 다가와 웅빈의 위로 살짝 입을 대며 먹어보았다. "우와, 정말 맛있어! 이런 작은 식물도 맛있게 먹을 수 있구나."
                <br><br>
                웅빈은 노바와 함께 숲을 누비며 초식공룡들만의 작은 세계에서 행복하게 시간을 보냈다. 하지만 그들을 기다리는 모험과 도전들은 끝이 없었다...
              </span>
            <div class="view-foot">
              <strong class="name-writer">"by. 관리자"</strong>
              <div class="plusfriend-wrap">
              <span class="info-plusfriend">기부앤테이크 카카오톡 채널을 추가하면<br>중요한 이벤트 및 혜택을 알려드려요.</span>
              <button type="button" class="btn-plusfriend">
                <span class="icon-giventake ico-plusfriend"></span>
                <span class="plusfriend-txt">채널 추가</span>
              </button>
            </div>
          </div>
        </div>
        <div class="group-banner">
          <a class="link-banner" href="javascript:void(0);">
            <img class="img-banner" style="max-width: 100%;" src="https://mud-kage.kakaocdn.net/dn/AQse3/btso927mBuT/7koV3SZxS7GaRKQ7FJaXiK/img.png"></a>
          </div>
        </div>
      </div>
    </span>
          

</body>
<script src="/static/js/notice/on.js"></script>
</html>
