<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/common/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search/search-form.css' %}" />
    <title>검색창</title>
  </head>
  <body>
    <div id="dkWrap" class="together_top">
      <!--header-->
      {% if request.session.member_email %}
        {% include 'header/logined-header.html' %}
      {% else %}
        {% include 'header/header.html' %}
      {% endif %}
      <span id="rootContent">
        <search>
          <div id="dkContent" class="cont_search">
            <div id="mArticle">
              <div class="group_schkeyword">
                <form class="form_search ng-untouched ng-pristine ng-valid">
                  <fieldset>
                    <div class="box_search">
                      <input
                        placeholder="검색어를 입력하세요"
                        name="q"
                        type="text"
                        id="schKeyword"
                        class="tf_keyword ng-untouched ng-pristine ng-valid"
                      />
                    </div>
                      <button type="button" class="btn_delete" style="display: none;">
                          <span class="ico_together ico_delete">삭제</span>
                      </button>
                    <button type="submit" class="btn_search">
                      <span class="ico_together ico_search">검색</span>
                    </button>
                  </fieldset>
                </form>
              </div>
              <div class="search_cont">
                <div class="group_schtag">
                    <!--태그는 최근 태그 10개 정도 뿌리기-->
                  <h3 class="tit_section">태그로 찾기</h3>
                  <div class="hash_group">
                    <!--<tag-card><a class="link_hash hash_type10">#동물</a> </tag-card>
                    <tag-card><a class="link_hash hash_type2">#인권보호</a> </tag-card>
                    <tag-card><a class="link_hash hash_type6">#소아암</a> </tag-card>
                    <tag-card><a class="link_hash hash_type3">#생계지원</a> </tag-card>
                    <tag-card><a class="link_hash hash_type4">#EBS나눔0700</a> </tag-card>
                    <tag-card><a class="link_hash hash_type4">#문화예술</a> </tag-card>
                    <tag-card><a class="link_hash hash_type7">#친환경생활</a> </tag-card>
                    <tag-card><a class="link_hash hash_type6">#청각장애</a> </tag-card>
                    <tag-card><a class="link_hash hash_type3">#쪽방</a> </tag-card>
                    <tag-card><a class="link_hash hash_type4">#여성가장</a> </tag-card>-->
                  </div>
                </div>
                <div class="group_schtheme">
                  <h3 class="tit_section">카테고리별 찾기</h3>
                  <ul class="list_category">
                    <!--<li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/eE4eDt/btqeTEvo1oi/i3hCyjx9BasmNFN6Qnewz0/c160.jpg"
                        />어린이
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/UcO28/btqeSczkjeJ/QIoX8Kg45A3hnVyzQatqz1/c160.jpg"
                        />청년
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/z41G3/btqeTE3fkJ7/8m34WVDUITvKA9HK5sP5yk/c160.jpg"
                        />여성
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/cekYgk/btqeP3QlYgW/iGZakpOWT5gfqBPLIzZW80/c160.jpg"
                        />어르신
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/frExg/btqeTDJ2jTL/CqkNDew6OjvYCBLpRBTCF1/c160.jpg"
                        />장애인
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/brQVqD/btqeT7EeCWH/hcbrm9YzfqwSt7iu6tgaUk/c160.jpg"
                        />우리사회
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/iz3uB/btqeSecVdjr/6FTKuCc940lx8umkW62yxK/c160.jpg"
                        />지구촌
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/c1NBO8/btqeSdyhf27/jiHPeyih8G4tXMP0jKALBk/c160.jpg"
                        />어려운이웃
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/Bhaea/btqfGqi6rfE/FNXWp35egH4mZTvR5A02C0/c160.jpg"
                        />동물
                      </a>
                    </li>
                    <li>
                      <a class="link_category"
                        ><img
                          class="img_thumb"
                          src="https://mud-kage.kakaocdn.net/dn/bijvLv/btqfHG6PshT/4Lu4129OAJ0aRPXgRsm2kK/c160.jpg"
                        />환경
                      </a>
                    </li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </search>
      </span>
      <hr class="hide" />
      <!--footer-->
      {% include "footer/footer.html" %}
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/js/search/search-form.js"></script>
<script>
</script>
  {% if request.session.member_email %}
    <script src="/static/js/header/logined-header.js"></script>
  {% else %}
    <script src="/static/js/header/header.js"></script>
  {% endif %}
</html>
