.box_cont_suggest .photo_gallery .list_photo {
    overflow: auto;
    position: static;
    width: auto;
    margin-left: 0;
    padding: 0px;
    font-size: 0;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}