{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>늘하장:기부앤테이크</title>
    <link rel="stylesheet" href="../../../static/css/common/common.css">
    <link rel="stylesheet" href="../../../static/css/neulhaerang/detail.css">
    <link rel="stylesheet" href="../../../static/css/mypage/write/write_step1.css">
    <link rel="stylesheet" href="../../../static/css/mypage/write/write_step2.css">
    <link rel="stylesheet" href="../../../static/css/mypage/write/write_step3.css">
    <link rel="stylesheet" href="../../../static/css/mypage/write/neulhajang_step2.css">
    <link rel="stylesheet" href="../../../static/css/mypage/write/neulhajang_step3.css">
</head>
<body>
    <header></header>
    <span id="rootContent">
        <ng-component>
            <div id="dkContent" class="cont_suggest">
                <div id="mArticle">
                    <div class="wrap_tab">
                        <ul class="list_tab">
                            <li class="on">
                                <a href="#" class="link_tab">
                                    <span class="txt_tab">1. 나의 다짐</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link_tab">
                                    <span class="txt_tab"> 2. 사업계획</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link_tab">
                                    <span class="txt_tab">3. 모금스토리</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ng-component>
                        <div class="wrap_suggest">
                            <form novalidate="" name="form" class="form_project ng-invalid ng-touched ng-dirty">
                                <!-- step1 -->
                                <div class="form_cont form_cont1">
                                    <fieldset>
                                        <div class="group_apply">
                                            <div class="area_form">
                                                <strong class="tit_head">카테고리 선택
                                                    <span class="ico_new">new</span>
                                                </strong>
                                                <p class="sub_head"> 늘하장 개설 후 변경 불가! 신중하게 선택해주세요. </p>
                                                <div class="desc_form box_select">
                                                    <div class="opt_comm">
                                                        <span class="select_option select_on">카테고리</span>
                                                        <select name="target_tag_id" id="selectTarget" selectaccessibility="" class="opt_select ng-untouched ng-pristine ng-valid">
                                                            <option value="">카테고리</option>
                                                            <option value="10"> 아동|청소년 </option>
                                                            <option value="11"> 청년 </option>
                                                            <option value="12"> 여성 </option>
                                                            <option value="13"> 실버세대 </option>
                                                            <option value="14"> 장애인 </option>
                                                            <option value="15"> 이주민|다문화 </option>
                                                            <option value="16"> 지구촌 </option>
                                                            <option value="17"> 어려운이웃 </option>
                                                            <option value="18"> 우리사회 </option>
                                                            <option value="19"> 유기동물 </option>
                                                            <option value="97"> 야생동물 </option>
                                                        </select>
                                                        <span class="box_arrow">
                                                            <span class="ico_together ico_arrow"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <strong class="tit_head">늘하장 진행 일정과 과정</strong>
                                                <div class="desc_form desc_list">
                                                    <ol class="list_agree">
                                                        <li>1. 늘하장 제안</li>
                                                        <li> 2. 늘하장 검토
                                                            <em class="emph_sign">(평균 1~2주 소요)</em>
                                                        </li>
                                                        <li>3. 사업 진행</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <strong class="tit_head"> 기부앤테이크 기본 모금검토기준
                                                </strong>
                                                <div class="desc_form desc_list">
                                                    <ul class="list_agree">
                                                        <li>- 개인의 이익이 아닌 공익을 위한 모금이어야 합니다.</li>
                                                        <li>- 사업집행에 대한 구체적 근거와 계획이 필요합니다.</li>
                                                        <li>- 영리 목적의 프로젝트는 진행이 어렵습니다.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <div class="desc_form">
                                                    <span class="choice_comm2">
                                                        <input id="agree1" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree1" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            모금검토 기준을 꼼꼼히 확인하였습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                    <span class="choice_comm2">
                                                        <input id="agree2" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree2" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            동일한 내용으로 이중모금을 진행하지 않겠습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                    <span class="choice_comm2"><input id="agree3" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree3" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            투명한 기부금 집행을 위한 모금심사를 받겠습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn_step btn_float btn_static">
                                            <button data-tiara-layer="next" data-tiara-action-name="STEP2_클릭" type="button" class="link_step1 link_type3"> 다음 단계로 </button>
                                        </div>
                                    </fieldset>
                                </div>

                    <!-- step2 -->
                  <div class="form_cont form_cont2" style="display: none;">
                    <fieldset>
                      <div class="group_apply">
                        <div class="area_form">
                          <strong class="tit_head">늘하장 기간
                            <span class="ico_new">new</span>
                          </strong>
                          <p class="sub_head"> 행동을 실천할 기간을 설정해주세요.
                            <br>심사가 완료된 뒤 늘하장이 시작되며, 설정한 기간에 맞춰 자동 종료됩니다.
                          </p>
                          <div class="desc_form pack_radio">
                            <span class="choice_comm2 choice2_radio">
                              <input type="radio" name="fundraising_period"
                                class="inp_comm" id="checkPeriod0">
                              <label class="lab_comm" for="checkPeriod0">
                                <span class="ico_together2 ico_radio"></span>
                                30일
                              </label>
                            </span>
                            <span class="choice_comm2 choice2_radio">
                              <input type="radio" name="fundraising_period"
                                class="inp_comm" id="checkPeriod1">
                              <label class="lab_comm" for="checkPeriod1">
                                <span class="ico_together2 ico_radio"></span>
                                60일
                              </label>
                            </span>
                            <span class="choice_comm2 choice2_radio">
                              <input type="radio" name="fundraising_period"
                                class="inp_comm" id="checkPeriod2">
                              <label class="lab_comm" for="checkPeriod2">
                                <span class="ico_together2 ico_radio"></span>
                                90일
                              </label>
                            </span>
                            <span class="ico_together ico_warn">미입력 경고</span>
                          </div>
                        </div>
                        <div class="area_form">
                          <strong class="tit_head">공약실천기간
                            <span class="ico_new">new</span>
                          </strong>
                          <p class="sub_head"> 실제 사업을 실행하는 날짜입니다.
                            <br> 사업시작일은 검토 및 입금기간을 고려하여,
                            <br> 선택한 늘하장 기간에 15일을 더하여 설정할 수 있습니다.
                          </p>
                          <div class="desc_form list_write">
                            <div class="group_calendar">
                              <div class="group_tf">
                                <button cancel-bubble="" type="button" class="start-date btn_calendar">
                                  <span>시작일 설정</span>
                                  <span class="ico_together">캘린더 레이어 펼치기</span>
                                </button>
                              </div>
                              <div class="group_tf">
                                <button cancel-bubble="" type="button" class="end-date btn_calendar">
                                  <span>종료일 설정</span>
                                  <span class="ico_together">캘린더 레이어 펼치기</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="area_form">
                          <strong class="tit_head">늘하장 미션
                              <span class="ico_new">new</span>
                          </strong>
                          <p class="sub_head"> 미션 행동을 구체적으로 기입해주세요.
                          </p>
                          <!-- group_tf ng-cope 그룹이 지출항목 추가시 하나씩 추가됨  -->
                          <div class="desc_form pack_plan">
                            <div class="group_tf ng-scope" id="planBox0">
                              <div class="cont_tf">
                                  <input type="text" classoutline="" placeholder="미션 내용"
                                         title="미션 내용" autocomplete="off"
                                         class="tf_write ng-valid ng-dirty ng-valid-parse ng-touched ng-untouched ng-pristine">
                              </div>
                                <button type="button" class="btn_line_txt"> 삭제 </button>
                            </div>
                            <div class="pack_btn">
                                <button type="button" class="btn_add">
                                    <span class="ico_add">
                                        <span class="ico_social"></span>
                                    </span>
                                    <span class="txt_add">미션 추가</span>
                                </button>
                            </div>
                          </div>
                        </div>
                        <!-- 모집인원 입력란-->
                        <div class="area_form">
                          <strong class="tit_head">최대 모집 인원
                              <span class="ico_new">new</span>
                          </strong>
                          <p class="sub_head"> 최대로 모집할 인원을 입력해주세요.</p>
                          <div class="desc_form pack_plan">
                            <div class="group_tf" id="planBox0">
                              <div class="participants_count_tf">
                                  <input type="text" classoutline="" numberonly=""
                                         min="0" placeholder="모집 인원 설정" title="모집 인원" autocomplete="off"
                                         class="tf_write ng-valid ng-valid-min ng-dirty ng-valid-number ng-touched ng-untouched ng-pristine">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="area_form">
                          <div class="tit_head">공약 내용
                                <span class="ico_new">new</span>
                          </div>
                          <div class="desc_form info_description">
                            <div class="group_tf">
                              <div class="inner_group">
                                <textarea id="planDetail" name="planDetail" classoutline=""
                                  title="공약 내용" class="tf_write ng-untouched ng-pristine ng-valid"></textarea>
                              </div>
                            </div>
                            <div class="info_append">
                              <span class="txt_num">0/</span>1000 </div>
                          </div>
                        </div>
                        <div class="area_form">
                          <div class="tit_head">심사기관에게 하고 싶은 말
                                <span class="ico_new">new</span>
                          </div>
                          <div class="desc_form info_description">
                            <div class="group_tf">
                              <div class="inner_group">
                                <textarea id="planDetail" name="planDetail" classoutline=""
                                  title="심사기관에게 하고 싶은말" class="tf_write ng-untouched ng-pristine ng-valid"></textarea>
                              </div>
                            </div>
                            <div class="info_append">
                              <span class="txt_num">0/</span>1000 </div>
                          </div>
                        </div>
                        <div class="area_form">
                            <strong class="tit_head">약관 동의 <span class="ico_new">new</span>
                                <span class="ico_together ico_warn">미입력 경고</span>
                            </strong>
                          <div class="desc_form info_policy">
                              <span class="choice_comm2">
                                  <input id="checkPolicy" name="chk" type="checkbox"
                                        class="inp_comm ng-untouched ng-pristine ng-invalid ng-valid">
                                  <label for="checkPolicy" class="lab_comm">
                                      <span class="ico_together2 ico_checkbox"></span>
                                      개인정보 제 3자 제공 동의
                                      <span class="ico_together ico_warn">미입력 경고</span>
                                  </label>
                              </span>
                            <div class="area_policy open_policy">
                                <render-static-html>
                                <span>
                                  <p class="txt_effort">
                                    기부앤테이크 서비스는 아래의 목적으로 개인정보를 수집
                                    및 이용하며, 회원의 개인정보를 안전하게 취급하는데 최선을 다합니다.
                                  </p>
                                  <strong class="txt_service">서비스 기본기능의 제공 (필수)</strong>
                                  <div class="box_policy">
                                    <strong class="tit_policy">개인정보 제공받는 자</strong>
                                    <p class="desc_policy">
                                      <em>기부앤테이크</em>
                                    </p>
                                    <strong class="tit_policy">목적</strong>
                                    <p class="desc_policy">
                                        <em>제안 접수 및 검토, 프로젝트 모금함 관리</em>
                                    </p>
                                    <strong class="tit_policy">항목</strong>
                                    <p class="desc_policy">
                                      1) 담당자 정보 (카카오계정, 연락처, 이메일, 닉네임)
                                        <br>
                                    </p>
                                    <strong class="tit_policy">보유기간</strong>
                                    <p class="desc_policy">
                                      <em>
                                        프로젝트 모금함 종료시까지 보관 후 삭제
                                          <br class="pc_linefeed">
                                        (모금함 미개설의 경우 심사 후 지체없이 파기함)
                                      </em>
                                    </p>
                                  </div>
                                  <p class="txt_policy">
                                    위 동의를 거부 할 권리가 있으며, 동의를 거부할 경우 서비스 이용이 제한됩니다.
                                    <br>더 자세한 내용에 대해서는
                                    <a class="link_policy" href="javascript:void(0)"
                                      target="_blank">개인정보처리방침</a>
                                    을 참고하시기 바랍니다.
                                  </p>
                                </span>
                                </render-static-html>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="btn_step btn_float btn_static">
                      <button type="button" class="link_step2 link_type3"> 다음 단계로 </button>
                    </div>
                  </fieldset>
                </div>
                <!-- step3-->
                <div class="form_cont form_cont3" style="display: none">
                    <fieldset>
                      <div class="wrap_visual">
                        <div class="cont_visual no_img" style="background-size: cover;">
                          <div class="front_pack">
                            <div class="info_append">
                                <span class="txt_num">0/</span>30
                            </div>
                            <h4 class="tit_visual">
                              <span class="box_tit">
                                <span contenteditable="true" ignoreenter=""
                                      class="inner_tit" style="white-space: pre-line;">제목(필수)</span>
                              </span>
                            </h4>
                            <span class="txt_sponsor ellipsis_g">by. 기부자명</span>
                            <div class="btn_group">
                              <input type="file" id="attachImage" ngfileselect="" maxsize="10MB"
                                     hidden="" accept="image/*, .jpg, .jpeg, .png, .gif, .bmp">
                              <button type="button" class="btn_select">
                                <span class="ico_together2 ico_select">대표 이미지 등록</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box_cont box_cont_suggest">
                        <div class="cont_tit posting_sign">
                          <strong class="tit_box">모금함 본문
                            <span class="emph_color">(필수)</span>
                          </strong>
                        </div>
                        <dl class="list_write">
                          <content-component-form class="add-form">
                            <dd>
                              <div class="group_tf">
                                <div class="inner_group">
                                  <input type="text" classoutline="" multibyte=""
                                         class="tf_write ng-valid ng-touched ng-dirty" id="subTitle0"
                                         placeholder="소제목" autocomplete="off">
                                    <!-- 소제목 : 첫문장이 가장 중요! 계속 읽고 싶게 쓰기 -->
                                </div>
                              </div>
                              <div class="info_append">
                                <span class="txt_num">0 /
                                </span>60 </div>
                            </dd>
                            <dd>
                              <div class="group_tf">
                                <div class="inner_group">
                                  <!-- 본문: 이 내용을 모르는 사람도 공감할수 있게 -->
                                  <textarea cols="30" rows="10" multibyte="" expandabletextarea=""
                                            class="tf_write tf_intro ng-valid ng-touched ng-dirty" id="tfIntro1"
                                            placeholder="본문"></textarea>
                                </div>
                              </div>
                              <div class="info_append">
                                <span class="txt_num">0 /
                                </span>1000 </div>
                            </dd>
                              <!-- thumb photo 이미지가 업로드 되어있는걸 선택했을시 media_on 없으면 제거 -->
                            <dd class="desc_media desc_photo">
                              <photo-box>
                                <div class="info_group">
                                  <img src="//t1.kakaocdn.net/together_image/m640/bg_suggest_media_170327.png"
                                       alt=""
                                       class="img_blank mo_show">
                                  <div class="media_info">
                                    <div class="inner_info">
                                      <p class="txt_size"> 이미지 사이즈
                                        <br>최소 : 가로 640px, 세로 360px
                                      </p>
                                      <div class="info_attach">
                                        <label for="attachImage">
                                          <span class="ico_together2 ico_photo">관련이미지 추가하기 (최대 10장)</span>
                                        </label>
                                        <input type="file" id="attachImage" ngfileselect=""
                                               maxsize="10MB" class="tf_attach"
                                               accept="image/*, .jpg, .jpeg, .png, .gif, .bmp">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="photo_gallery">
                                  <ul class="list_photo">
                                    <li class="on">
                                      <div class="ico_together photo_preview">
                                        <span class="txt_num">1</span>
                                        <button type="button" class="btn_photo">
 
                                        </button>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="thumb_photo">
                                  <img src="//t1.kakaocdn.net/together_image/m640/bg_suggest_media_170327.png"
                                       class="img_blank mo_show">
                                  <div class="inner_media">
                                    <!-- src경로에 click한 이미지 경로로 바꿔줘야함 -->
                                    <img alt="1번째 이미지 확대보기" class="img_photo"
                                         src="">
                                    <button type="button" class="ico_together2 btn_del"> 선택된 사진 삭제
                                    </button>
                                  </div>
                                </div>
                                <div class="area_caption">
                                  <div class="group_tf img_detail">
                                     <input type="text" name="caption" classoutline="" maxlength="30" readonly
                                           class="tf_write ng-dirty ng-touched ng-valid" autocomplete="off"
                                           placeholder="이미지 설명을 입력하세요.">
                                  </div>
                                  <div class="info_append">
                                    <span class="txt_num">0/</span>
                                    30
                                  </div>
                                  <button type="button" class="ico_together2 btn_del"> 내용삭제 </button>
                                </div>
                              </photo-box>
                            </dd>
                            
                          </content-component-form></dl>
                      </div><!---->
                      <div class="bg_line"></div>
                      <div class="box_cont box_cont_suggest box_open">
                        <dl class="list_write">
                          <!-- 태그 목록 -->
                          <dd id="tag-list" class="relate_url url_on">
                            <div class="group_tf"><button type="button" class="box_add btn_add"><span
                                    class="ico_together ico_link"></span>태그</button></div>
                            <div class="add_link add_tag">
                              <div class="group_tf"><label class="lab_link" for="relateTitle0">태그</label>
                                  <input placeholder="추가할 태그명을 입력해주세요"
                                         type="text" autocomplete="off"
                                         class="tf_link ng-untouched ng-pristine ng-valid"
                                         id="relateTitle0" focus="false" blur="true">
                              </div>
                            </div>
                          </dd>
                          <!--해쉬 태그 -->
                          <div class="hash_group">
                            <a href="#" class="link_hash hash_type1"></a>
                          </div>
                            <!-- 오픈 채팅방 링크 -->
                          <dd class="relate_url url_on">
                            <div class="group_tf"><button type="button" class="box_add btn_add"><span
                                    class="ico_together ico_link"></span>관련 링크</button></div>
                            <div class="add_link">
                              <div class="group_tf"><label class="lab_link" for="relateTitle0">제목</label>
                                  <input placeholder="링크 제목" readonly="true"
                                         type="text" autocomplete="off"
                                         class="tf_link ng-untouched ng-pristine ng-valid"
                                         id="relateTitle0" focus="false" blur="true">
                              </div>
                              <div class="group_tf"><label class="lab_link" for="relateUrl0">URL</label><input
                                      placeholder="http://" type="text"
                                      class="tf_link tf_url ng-untouched ng-pristine ng-valid" id="relateUrl0"
                                      focus="false" autocomplete="off"
                                      blur="true"></div>
                            </div>
                          </dd>

                        </dl>
                      </div><content-component-buttons><span id="staticbutton"></span>
                        <div changeclassbyoffset="" fixeddirection="bottom" fixedclass="btn_static"
                             class="btn_step btn_float">
                          <div class="wrap_btn_util">
                            <span class="inner_btn_util">
                              <button type="button" class="btn_util btn-subhead">소제목</button>
                              <button type="button" class="btn_util btn-maintext">본문</button>
                              <button type="button" class="btn_util btn-addimg">
                                <span class="ico_together2 ico_photo">관련 이미지</span>
                              </button>
                            </span>
                          </div>
                        </div>
                      </content-component-buttons>
                      <div class="btn_step btn_float btn_static">
                        <button type="button" class="link_step3 link_type3 #next"> 개설 완료 </button>
                      </div>
                    </fieldset>
                </div>
                </form>
                        </div>
                    </ng-component>
                </div>
            </div>
            <modal>
                <div tabindex="-1" role="dialog" class="dialog-content" id="modalOFF">
                      <hint-project-content>
                      <div class="inner_hint_layer inner_hint_layer1">
                        <div class="layer_body">
                          <div class="wrap_tabhint">
                            <ul role="tablist" class="tab_hint tab_type2">
                              <li class="">
                                  <a href="javascript:;" role="tab" class="link_hint">
                                      1. 제목/사진
                                  </a>
                              </li>
                              <li class="on">
                                  <a href="javascript:;" role="tab" class="link_hint">
                                      2. 사업계획
                                  </a>
                              </li>
                              <li class="">
                                  <a href="javascript:;" role="tab" class="link_hint">
                                      3. 스토리
                                  </a>
                              </li>
                            </ul>
                          </div>
                          <div class="body_hint">
                            <p class="txt_method"> 대표이미지와 제목은 모금함의 얼굴로 첫인상을 좌우해요.
                                <br>SNS 공유 시에도 대표 정보로 공유됩니다.
                            </p>
                            <div class="box_example">
                                <strong class="tit_example">1. 모금함의 주제가 잘 드러나게 해주세요.</strong>
                              <p class="desc_example"> 딱딱한 사업계획서 느낌의 제목보다 기부자의 흥미를 끌 수 있는 재미있는 제목이 좋아요. </p>
                              <ul class="list_thumb">
                                <li>
                                    <img src="//t1.kakaocdn.net/together_image/hint_fundex1.jpg"
                                    alt="독거노인을 위한 가스타이머 설치 사업 by.같이가치요정" class="img_example">
                                </li>
                                <li>
                                    <span class="ico_together2 ico_change">적절한 제목으로 개선후</span>
                                    <img src="//t1.kakaocdn.net/together_image/hint_fundex2.jpg"
                                        alt="독거 어르신들에게 가장 위험한건 뭘까요? by.같이가치요정" class="img_example">
                                </li>
                              </ul>
                              <p class="desc_example"> 의미 없는 단체사진보다는 모금 주제가 드러난 이미지가 좋아요. </p>
                              <ul class="list_thumb">
                                <li><img src="//t1.kakaocdn.net/together_image/hint_fundex3.jpg"
                                    alt="노숙인에게 더 혹독한 겨울 by.같이가치요정" class="img_example"></li>
                                <li><span class="ico_together2 ico_change">주제가 드러난 이미지로 개선후</span><img
                                    src="//t1.kakaocdn.net/together_image/hint_fundex4.jpg"
                                    alt="노숙인에게 더 혹독한 겨울 by.같이가치요정" class="img_example"></li>
                              </ul>
                            </div>
                            <div class="box_example"><strong class="tit_example">2. 가독성을 고려해주세요.</strong>
                              <p class="desc_example"> 대표이미지에 텍스트가 있으면 제목과 겹쳐서 알아보기 힘들어요. </p>
                              <ul class="list_thumb">
                                <li><img src="//t1.kakaocdn.net/together_image/hint_fundex5.jpg"
                                    alt="댓글이 있는 지방선거 함께 만들어요 by.같이가치요정" class="img_example"></li>
                                <li><span class="ico_together2 ico_change">이미지의 가독성 개선후</span><img
                                    src="//t1.kakaocdn.net/together_image/hint_fundex6.jpg"
                                    alt="일 안하는 국회의원 끌어내릴 수 있을까? by.같이가치요정" class="img_example"></li>
                              </ul>
                            </div>
                            <div class="box_example"><strong class="tit_example">3. 긍정적인 변화를 강조하면 좋아요.</strong>
                              <p class="desc_example"> 비참하고 부정적인 제목이나 이미지보다는 우리가 함께 만들어갈 긍정적인 변화를 강조하는 것이 기부자의 마음을 움직일 수
                                있어요. </p>
                            </div>
                            <ul class="list_caution">
                              <li> 환부나 장애를 지나치게 강조한 이미지나 제목은 조심!
                                  <br>지나치게 자극적이고 불편한 사진이나 글은 오히려 사람들에게 해당 이슈를 외면하게 하는
                                부작용이 생길 수 있어요.
                              </li>
                            </ul>
                          </div>
                          <div class="body_hint">
                              <p class="txt_method"> 사업계획은 프로젝트의 신뢰성을 좌우합니다.
                                  <br>구체적으로 꼼꼼하게 작성해주세요. </p>
                              <div class="box_example">
                                  <strong class="tit_example">1. 세부사업내용 어떻게 써야 하지요?</strong>
                                <ul class="list_hintguide">
                                  <li>해당 프로젝트 심사를 위해 필요한 정보입니다.</li>
                                  <li> 본 프로젝트 진행에 대한 세부사업을 구체적으로 적어주세요. </li>
                                  <li> 각 세부 프로그램을 구분하여 진행 방법과 시기를 적어주세요. </li>
                                </ul>
                                <dl class="box_hintguide">
                                  <dt class="tit_hintguide">
                                      <span class="color_g2">[예시 1]</span>
                                      지역 내 독거 어르신 반찬 배달 사업의 경우
                                  </dt>
                                  <dd class="desc_hintguide">
                                    <dl class="detail_exp">
                                      <dt>&lt;대상자 선정&gt;</dt>
                                      <dd> - 지역 내 지원대상자 선정기준 및 식단 마련을 위해 식생활 관련 조사 진행 : 3월초 </dd>
                                      <dt>&lt;자원봉사자 모집 및 운영&gt;</dt>
                                      <dd> - 도시락 배달을 위한 자원봉사자 5명 모집(요일별) : 3월 진행
                                          <br> - 자원봉사자 선정 및 교육 진행 : 해당 가정 방문 및 어르신과의 만남 1회 진행
                                          <br> - 세부예산 : 자원봉사자 간담회비 5회*5만원 = 25만원
                                      </dd>
                                      <dt>&lt;도시락 배달지원&gt;</dt>
                                      <dd> - 독거어르신 가정을 대상으로 매일 10가정씩 주 1회 배달 진행 : 총 50가정 방문<br> - 총 4월부터 6월까지 3개월 진행 예정<br> - 세부예산 : 6천원(1끼
                                        기준)*10가정*12주(3개월)=720만원 </dd>
                                    </dl>
                                  </dd>
                                </dl>
                                <dl class="box_hintguide">
                                  <dt class="tit_hintguide"><span class="color_g2">[예시 2]</span> 환경파괴에 대해 알리는 공익캠페인 사업의 경우 </dt>
                                  <dd class="desc_hintguide">
                                    <dl class="detail_exp">
                                      <dt>&lt;현장조사&gt;</dt>
                                      <dd> - 사업 진행 예정지에서 동물상 및 식물상 조사 : 6월 ~9월까지 총 4~5회 이상 <br> - 과도한 개발로 인한 환경 훼손 상황에 대해 등산로를 중심으로 현장조사 : 행락철 중심으로
                                        총 3회 <br> - 세부예산 : 현장조사(10회*각 평균 20만원) = 200만원 </dd>
                                      <dt>&lt;공청회 개최&gt;</dt>
                                      <dd> - 환경을 보존하면서 지역 발전을 도모할 수 있는 방법을 지역민과 공유하는 자리 마련 : 공청회 형태로 6~7월 경 진행<br> - 세부예산 : 장소대관비(20만원) + 자료집(100부,
                                        50만원)+ 현수막 제작비(10만원) = 80만원 </dd>
                                      <dt>&lt;시민홍보&gt;</dt>
                                      <dd> - 현장조사, 대안마련 활동 등을 SNS로 시민들과 공유<br> - 리플렛 등 인쇄 홍보물을 통해 지역민을 포함, 시민들과 소통<br> - 세부예산 : 홍보물 제작(2만부 인쇄, 디자인
                                        인건비) 100만원 </dd>
                                    </dl>
                                  </dd>
                                </dl>
                              </div>
                              <div class="box_example"><strong class="tit_example">2. 모금 사용계획은 꼼꼼하게!</strong>
                                <dl class="detail_plan">
                                  <dt>전체 모금 금액은 필요한 만큼, 모금가능한 액수로!</dt>
                                  <dd>
                                    <ul class="list_hintguide">
                                      <li> 실제 사업 수행을 위해 필요한 예산 만큼 전체 모금 금액을 잡아주세요. </li>
                                      <li> 모금은 최대 3개월 동안 진행이 됩니다. 3개월 내에 달성 가능한 목표를 잡아주세요. </li>
                                    </ul>
                                  </dd>
                                  <dt>세부 사용 계획은 구체적으로!</dt>
                                  <dd>
                                    <ul class="list_hintguide">
                                      <li> 사업의 항목과 산출근거를 구체적으로 적어주세요. <br><span class="color_g2">[예시]</span> 물품구입비 (털양말 2,000원 x 20명 x 경로당 3개) </li>
                                      <li> 내역이 명확하지 않을 경우, 모금 검토 단계에서 수정 작업을 하셔야 합니다. </li>
                                    </ul>
                                  </dd>
                                  <dt>다음 예산 항목들은 더욱 신중하게!</dt>
                                  <dd>
                                    <p class="txt_caution"> * 아래 항목들은 심사 진행 시 기준에 따라 제한 될 수 있습니다. </p>
                                    <ul class="list_hintguide">
                                      <li>프로젝트팀의 사무공간의 유지를 위한 경상운영비</li>
                                      <li>프로젝트팀의 상근 인력에 대한 인건비</li>
                                      <li>정부의 보조금이나 타 기관의 지원금을 받는 항목</li>
                                    </ul>
                                  </dd>
                                </dl>
                                <p class="txt_caution"> * 예산과 관련한 계약서, 견적서 등 추가 서류를 각 프로젝트의 예산 항목에 따라 제출해 주셔야 합니다. </p>
                              </div>
                          </div>
                          <div class="body_hint story_hint">
                              <p class="txt_method"> 모금함과 관련된 이미지나 동영상이 있다면 올려주세요.
                                  <br>아래 3가지 내용이 포함되면 좋아요.
                                  <br>
                                  <span class="color_g2">1. 현재 상황 2. 사업 소개와 진행 계획 3. 기대 효과</span>
                              </p>
                              <p class="txt_caution"> * 2017년 올해의 모금함 대상을 받은 더 라이트 핸즈의 모금함 예시입니다. </p>
                              <div class="box_example">
                                  <strong class="tit_example">1. 첫번째 글상자에 현재 상황을 담았어요.</strong>
                                  <dl class="list_example">
                                    <dt>소제목</dt>
                                    <dd>작고 가난한 나라에서 '소녀'로 산다는 것은?</dd>
                                  </dl>
                                  <dl class="list_example">
                                    <dt>본문</dt>
                                    <dd> 아프리카 남부, 작은 왕국 스와질랜드의 초등학교에는 유독 초등학교 여학생의 중퇴율이 높습니다.
                                        이 나라의 소녀들은 생리가 시작되면 학교에 가지 못합니다. 왜냐구요? 생리대가 없기 때문입니다.
                                    </dd>
                                  </dl>
                                  <dl class="list_example">
                                    <dt>이미지</dt>
                                    <dd>
                                        <img src="//t1.kakaocdn.net/together_image/hint_fundex7.jpg" alt="아프리카 초등학생 이미지" class="img_example">
                                    </dd>
                                  </dl>
                              </div>
                              <div class="box_example">
                                  <strong class="tit_example">2. 두번째 글상자에 기대효과를 썼어요.</strong>
                                  <dl class="list_example">
                                    <dt>소제목</dt>
                                    <dd>생리대와 초등학교 졸업의 상관관계?</dd>
                                  </dl>
                                  <dl class="list_example">
                                    <dt>본문</dt>
                                    <dd> 우리가 이 모든 문제를 해결할 수는 없습니다. 세계에서 가장 가난한 나라 중 한 나라의 가난을 해결할 수도 없고,
                                        그 많은 에이즈 환자들을 다 치료할 수도 없습니다. 모든 학교에 수도시설을 설치하는 것도 어려워 보입니다.
                                        생리대 하나를 지원한다고 이 모든 복잡한 문제를 해결할 수는 없어 보입니다.
                                        <br>
                                        <br> 그렇지만, 여러분이 보내주신 생리대 덕분에 어두운 구석에서 생리 기간이 끝나기만을 기다리던
                                        한 명의 소녀는 학교에 가게 될 수 있을 겁니다. 한 명의 아이가 학교에 가고, 또 한 명의 아이가 학교에 가고..
                                        그렇게 한 명, 한 명의 소녀들의 등교를 돕다보면 어느새 많은 소녀가 초등교육을 마칠 수 있게 됩니다.
                                    </dd>
                                  </dl>
                              </div>
                              <div class="box_example">
                                  <strong class="tit_example">3. 세번째 글상자에 사업 소개와 진행 계획을 썼어요.</strong>
                                  <dl class="list_example">
                                    <dt>소제목</dt>
                                    <dd> 10월 11일 소녀의 날! 스와질랜드 소녀들을 위한 선물을 준비합니다 </dd>
                                  </dl>
                                  <dl class="list_example">
                                    <dt>본문</dt>
                                    <dd> '소녀들의 보다 나은 삶'이라는 뜻의 'Better Life for Girls!' 슬로건을 아시나요? 소녀들이 자라면 미래세대의 모성과 다음 세대 아이들을 책임지는 중요한 역할을 하게 됩니다.
                                    소녀들을 보호하고 충분한 교육을 제공하는 것은 매우 중요한 일입니다. 그러나 세계 곳곳에서, 이 소중하고 중요한 아이들은 대부분 가장 취약한 상태로 방치되고 있습니다. <br><br> 10월 11일은
                                    소녀의 날이었습니다. 소녀의 날을 맞아 스와질랜드의 초등학교(장애인학교) 소녀들에게 생리대를 지원하고자 합니다. 물을 쓰기가 어려운 나라이기 때문에 면 생리대를 지원하기보다는 일회용 생리대를 지원해야
                                    하는 상황입니다. 스와질랜드에서도 가장 취약한 지역인 루봄보 지역 초등학교(장애인학교) 여학생들을 대상으로, 일주일 치 일회용 생리대 10개와 비누 (물을 사용할 수 없는 지역의 경우 손 위생제),
                                    휴지(또는 물휴지) 등의 필수용품을 담은 작은 위생백을 하나씩 지원할 예정입니다. </dd>
                                  </dl>
                                  <dl class="list_example">
                                    <dt>이미지</dt>
                                    <dd><img src="//t1.kakaocdn.net/together_image/hint_fundex8.jpg" alt="작은 위생가방 사진" class="img_example"></dd>
                                  </dl>
                              </div>
                              <ul class="list_caution">
                                <li>중간 중간 이미지, 동영상을 삽입하면 가독성이 좋아져요.</li>
                                <li> 사업계획서에 담길 내용들은 다른 사람들이 이해할 수 있게 풀어서 써보세요. </li>
                                <li> 기부자가 공감하고, 끝까지 읽을 수 있도록 하는 스토리텔링이 중요해요. </li>
                              </ul>
                          </div>
                          <div class="layer_foot">
                              <button type="button" class="btn_close">
                                  <span class="ico_together2">닫기</span>
                              </button>
                          </div>
                        </div>
                      </div>
                    </hint-project-content>
                  </div>
            </modal>
            <calendar id="calendar1" style="display:none;">
              <div class="container">
                <div class="my-calendar clearfix">
                  <div class="clicked-date">
                    <div class="cal-day"></div>
                    <div class="cal-date"></div>
                  </div>
                  <div class="calendar-box">
                    <div class="ctr-box clearfix">
                      <button type="button" title="prev" class="btn-cal prev">
                      </button>
                      <span class="cal-month"></span>
                      <span class="cal-year"></span>
                      <button type="button" title="next" class="btn-cal next">
                      </button>
                    </div>
                    <table class="cal-table">
                      <thead>
                        <tr>
                          <th>S</th>
                          <th>M</th>
                          <th>T</th>
                          <th>W</th>
                          <th>T</th>
                          <th>F</th>
                          <th>S</th>
                        </tr>
                      </thead>
                      <tbody class="cal-body"></tbody>
                    </table>
                  </div>
                </div>
                <!-- // .my-calendar -->
              </div>
              </calendar>
              <calendar id="calendar2" style="display:none;">
                  <div class="container">
                    <div class="my-calendar clearfix">
                      <div class="clicked-date">
                        <div class="cal-day"></div>
                        <div class="cal-date"></div>
                      </div>
                      <div class="calendar-box">
                        <div class="ctr-box clearfix">
                          <button type="button" title="prev" class="btn-cal prev">
                          </button>
                          <span class="cal-month"></span>
                          <span class="cal-year"></span>
                          <button type="button" title="next" class="btn-cal next">
                          </button>
                        </div>
                        <table class="cal-table">
                          <thead>
                            <tr>
                              <th>S</th>
                              <th>M</th>
                              <th>T</th>
                              <th>W</th>
                              <th>T</th>
                              <th>F</th>
                              <th>S</th>
                            </tr>
                          </thead>
                          <tbody class="cal-body"></tbody>
                        </table>
                      </div>
                    </div>
                    <!-- // .my-calendar -->
                  </div>
              </calendar>
        </ng-component>
    </span>
    <div id="toast-container" class="toast-bottom-center" style="display: none">
        <div class="toast toast-success">
            <div class="toaster-icon icon-success"></div>
            <div class="toast-content">
                <div class="toast-title"></div>
                <div class="toast-message">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
    <div class="dimmed_layer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../../static/js/mypage/write/write_step1.js"></script>
<script src="../../../static/js/mypage/write/neulhajang_write_step2.js"></script>
<script src="../../../static/js/mypage/write/neulhajang_write_step3.js"></script>
<script src="../../../static/js/mypage/write/addfile.js"></script>
</html>