<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>step 1. 나의 다짐</title>
  <link rel="stylesheet" href="../../../static/css/mypage/write/write_step1.css">
  <link rel="stylesheet" href="../../../static/css/common/common.css">
</head>
<body>
    <header></header>
    <span id="rootContent">
        <ng-component>
            <div id="dkContent" class="cont_suggest">
                <div id="mArticle">
                    <div class="wrap_tab">
                        <ul class="list_tab">
                            <li class="on">
                                <a href="#" class="link_tab">
                                    <span class="txt_tab">1. 나의 다짐</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link_tab">
                                    <span class="txt_tab"> 2. 사업계획</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link_tab">
                                    <span class="txt_tab">3. 모금스토리</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ng-component>
                        <div class="wrap_suggest">
                            <form novalidate="" name="form" class="ng-untouched ng-pristine ng-invalid">
                                <fieldset>
                                    <div class="form_cont">
                                        <div class="group_apply">
                                            <div class="area_form">
                                                <strong class="tit_head">모금 대상 선택
                                                    <span class="ico_new">new</span>
                                                    <span class="ico_together ico_warn">미입력 경고</span>
                                                </strong>
                                                <p class="sub_head"> 모금함 개설 후 변경 불가! 신중하게 선택해주세요. </p>
                                                <div class="desc_form box_select">
                                                    <div class="opt_comm">
                                                        <span class="select_option select_on">대상 선택</span>
                                                        <select name="target_tag_id" id="selectTarget" selectaccessibility="" class="opt_select ng-untouched ng-pristine ng-valid">
                                                            <option value="">대상 선택</option>
                                                            <option value="10"> 아동|청소년 </option>
                                                            <option value="11"> 청년 </option>
                                                            <option value="12"> 여성 </option>
                                                            <option value="13"> 실버세대 </option>
                                                            <option value="14"> 장애인 </option>
                                                            <option value="15"> 이주민|다문화 </option>
                                                            <option value="16"> 지구촌 </option>
                                                            <option value="17"> 어려운이웃 </option>
                                                            <option value="18"> 우리사회 </option>
                                                            <option value="19"> 유기동물 </option>
                                                            <option value="97"> 야생동물 </option>
                                                        </select>
                                                        <span class="box_arrow">
                                                            <span class="ico_together ico_arrow"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <strong class="tit_head">모금 진행 일정과 과정</strong>
                                                <div class="desc_form desc_list">
                                                    <ol class="list_agree">
                                                        <li>1. 모금 제안</li>
                                                        <li> 2. 모금 검토
                                                            <em class="emph_sign">(평균 1~2주 소요)</em>
                                                        </li>
                                                        <li>3. 모금 오픈 (최대 3개월 진행)</li>
                                                        <li>4. 모금 종료 &amp; 모금액 정산</li>
                                                        <li>5. 사업 진행</li>
                                                        <li>6. 후기작성 및 결과보고 제출</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <strong class="tit_head"> 기부앤테이크 기본 모금검토기준
                                                    <a href="javascript:void(0)" target="_blank" class="txt_sign emph_color">자세히 보기</a>
                                                </strong>
                                                <div class="desc_form desc_list">
                                                    <ul class="list_agree">
                                                        <li>- 개인의 이익이 아닌 공익을 위한 모금이어야 합니다.</li>
                                                        <li>- 사업집행에 대한 구체적 근거와 계획이 필요합니다.</li>
                                                        <li>- 영리 목적의 프로젝트는 진행이 어렵습니다.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <div class="desc_form">
                                                    <span class="choice_comm2">
                                                        <input id="agree1" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree1" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            모금검토 기준을 꼼꼼히 확인하였습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                    <span class="choice_comm2">
                                                        <input id="agree2" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree2" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            동일한 내용으로 이중모금을 진행하지 않겠습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                    <span class="choice_comm2"><input id="agree3" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree3" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            투명한 기부금 집행을 위한 모금심사를 받겠습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn_step btn_float btn_static">
                                        <button data-tiara-layer="next" data-tiara-action-name="STEP2_클릭" type="button" class="link_step link_type3"> 다음 단계로 </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </ng-component>
                </div>
            </div>
            <modal>
                <div tabindex="-1" role="dialog" class="ngdialog-content" id="modalOFF" style="position: fixed; display: none; top: 25%; margin-left: -192px;">
                    <modal-content>
                        <div class="inner_together_layer inner_together_layer1">
                            <div class="layer_body">
                                <p id="ngdialog7-aria-describedby" class="desc_together">
                                    <span class="txt_desc"> 잠깐! 에 작성 중 저장하신<br>
                                        <span class="emph_sign">'모금함'</span>
                                        이 있습니다.
                                    </span>
                                </p>
                                <div class="wrap_btn wrap_btn_type">
                                    <button class="btn_set btn_type1"> 이어서 작성하기 </button>
                                </div>
                                <div class="wrap_btn wrap_btn_type2">
                                    <button class="btn_set btn_type2"> 새로 작성하기 </button>
                                    <span class="txt_noti">(과거 저장 내역은 삭제됩니다.)</span>
                                </div>
                            </div>
                            <div class="layer_foot">
                                <button class="btn_close">
                                    <span class="ico_together ngdialog-close">닫기</span>
                                </button>
                            </div>
                        </div>
                    </modal-content>
                </div>
            </modal>
        </ng-component>
    </span>
    <footer></footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../../static/js/mypage/write/write_step1.js"></script>
</html>