<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>step 1. 나의 다짐</title>
    <link rel="stylesheet" href="../../../static/css/common/common.css">
    <link rel="stylesheet" href="../../../static/css/neulhaerang/detail.css">
    <link rel="stylesheet" href="../../../static/css/mypage/write/write_step1.css">
    <link rel="stylesheet" href="../../../static/css/mypage/write/write_step2.css">
</head>
<body>
    <header></header>
    <span id="rootContent">
        <ng-component>
            <div id="dkContent" class="cont_suggest">
                <div id="mArticle">
                    <div class="wrap_tab">
                        <ul class="list_tab">
                            <li class="on">
                                <a href="#" class="link_tab">
                                    <span class="txt_tab">1. 나의 다짐</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link_tab">
                                    <span class="txt_tab"> 2. 사업계획</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link_tab">
                                    <span class="txt_tab">3. 모금스토리</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ng-component>
                        <div class="wrap_suggest">
                            <form novalidate="" name="form" class="ng-untouched ng-pristine ng-invalid">
                                <fieldset>
                                    <div class="form_cont1">
                                        <div class="group_apply">
                                            <div class="area_form">
                                                <strong class="tit_head">카테고리 선택
                                                    <span class="ico_new">new</span>
                                                </strong>
                                                <p class="sub_head"> 늘해랑 개설 후 변경 불가! 신중하게 선택해주세요. </p>
                                                <div class="desc_form box_select">
                                                    <div class="opt_comm">
                                                        <span class="select_option select_on">카테고리</span>
                                                        <select name="target_tag_id" id="selectTarget" selectaccessibility="" class="opt_select ng-untouched ng-pristine ng-valid">
                                                            <option value="">카테고리</option>
                                                            <option value="10"> 아동|청소년 </option>
                                                            <option value="11"> 청년 </option>
                                                            <option value="12"> 여성 </option>
                                                            <option value="13"> 실버세대 </option>
                                                            <option value="14"> 장애인 </option>
                                                            <option value="15"> 이주민|다문화 </option>
                                                            <option value="16"> 지구촌 </option>
                                                            <option value="17"> 어려운이웃 </option>
                                                            <option value="18"> 우리사회 </option>
                                                            <option value="19"> 유기동물 </option>
                                                            <option value="97"> 야생동물 </option>
                                                        </select>
                                                        <span class="box_arrow">
                                                            <span class="ico_together ico_arrow"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <strong class="tit_head">늘해랑 진행 일정과 과정</strong>
                                                <div class="desc_form desc_list">
                                                    <ol class="list_agree">
                                                        <li>1. 늘해랑 제안</li>
                                                        <li> 2. 늘해랑 검토
                                                            <em class="emph_sign">(평균 1~2주 소요)</em>
                                                        </li>
                                                        <li>3. 모금 오픈 (최대 3개월 진행)</li>
                                                        <li>4. 모금 종료 &amp; 모금액 정산</li>
                                                        <li>5. 사업 진행</li>
                                                        <li>6. 후기작성 및 결과보고 제출</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <strong class="tit_head"> 기부앤테이크 기본 모금검토기준
                                                </strong>
                                                <div class="desc_form desc_list">
                                                    <ul class="list_agree">
                                                        <li>- 개인의 이익이 아닌 공익을 위한 모금이어야 합니다.</li>
                                                        <li>- 사업집행에 대한 구체적 근거와 계획이 필요합니다.</li>
                                                        <li>- 영리 목적의 프로젝트는 진행이 어렵습니다.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="area_form">
                                                <div class="desc_form">
                                                    <span class="choice_comm2">
                                                        <input id="agree1" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree1" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            모금검토 기준을 꼼꼼히 확인하였습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                    <span class="choice_comm2">
                                                        <input id="agree2" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree2" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            동일한 내용으로 이중모금을 진행하지 않겠습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                    <span class="choice_comm2"><input id="agree3" name="chk" required="" type="checkbox" class="inp_comm ng-untouched ng-pristine ng-invalid">
                                                        <label for="agree3" class="lab_comm">
                                                            <span class="ico_together2 ico_checkbox"></span>
                                                            투명한 기부금 집행을 위한 모금심사를 받겠습니다.
                                                            <span class="ico_together ico_warn">미입력 경고</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn_step btn_float btn_static">
                                        <button data-tiara-layer="next" data-tiara-action-name="STEP2_클릭" type="button" class="link_step link_type3"> 다음 단계로 </button>
                                    </div>
                                </fieldset>
                            </form>
                            <form novalidate="" name="form" class="form_project ng-invalid ng-touched ng-dirty">
                  <fieldset>
                    <div class="form_cont2">
                      <div class="group_apply">
                        <div class="area_form">
                          <strong class="tit_head">희망모금기간
                            <span class="ico_new">new</span>
                          </strong>
                          <p class="sub_head"> 기부할 수 있는 모금기간을 알려주세요.
                            <br>심사가 완료된 뒤 모금이 시작되며, 설정한 모금기간에 맞춰 자동 종료됩니다.
                          </p>
                          <div class="desc_form pack_radio">
                            <span class="choice_comm2 choice2_radio">
                              <input type="radio" name="fundraising_period"
                                class="inp_comm" id="checkPeriod0">
                              <label class="lab_comm" for="checkPeriod0">
                                <span class="ico_together2 ico_radio"></span>
                                30일
                              </label>
                            </span>
                            <span class="choice_comm2 choice2_radio">
                              <input type="radio" name="fundraising_period"
                                class="inp_comm" id="checkPeriod1">
                              <label class="lab_comm" for="checkPeriod1">
                                <span class="ico_together2 ico_radio"></span>
                                60일
                              </label>
                            </span>
                            <span class="choice_comm2 choice2_radio">
                              <input type="radio" name="fundraising_period"
                                class="inp_comm" id="checkPeriod2">
                              <label class="lab_comm" for="checkPeriod2">
                                <span class="ico_together2 ico_radio"></span>
                                90일
                              </label>
                            </span>
                            <span class="ico_together ico_warn">미입력 경고</span>
                          </div>
                        </div>
                        <div class="area_form">
                          <strong class="tit_head">사업기간
                            <span class="ico_new">new</span>
                          </strong>
                          <p class="sub_head"> 기부금을 통해 실제 사업을 실행하는 날짜입니다.
                            <br> 모금 중에는 사업을 진행할 수 없습니다.
                            <br> 모금액 입금 받기 전 지출한 내용은 정산되지 않습니다.
                            <br> 사업시작일은 모금검토 및 모금, 입금기간을 고려하여,
                            <br> 선택한 희망모금기간에 15일을 더하여 설정할 수 있습니다.
                          </p>
                          <div class="desc_form list_write">
                            <div class="group_calendar">
                              <div class="group_tf">
                                <button cancel-bubble="" type="button" value="시작일 설정" class="btn_calendar">
                                  <span>2023년 09월 24일</span>
                                  <span class="ico_together">캘린더 레이어 펼치기</span>
                                </button>
                              </div>
                              <span class="tilde_among">~</span>
                              <div class="group_tf">
                                <button cancel-bubble="" type="button" value="종료일 설정" class="btn_calendar">
                                  <span>종료일 설정</span>
                                  <span class="ico_together">캘린더 레이어 펼치기</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="area_form">
                          <strong class="tit_head">모금액 사용 계획
                              <span class="ico_new">new</span>
                              <a href="#" onclick="return false;"
                                 class="txt_sign emph_color">
                                  글 작성 요령
                              </a>
                          </strong>
                          <p class="sub_head"> 세부 내역을 구체적으로 기입해주세요.
                              <br>아래 사항 위반 시 심사를 통해 환수 조치 될 수 있습니다.
                              <br>
                              <br>
                              <span class="txt_use"> - 사용계획을 허위로 기재하거나 근거가 불충분한 경우
                                  <br> - 동일한 스토리 및 예산 항목으로 이중 모금 진행 시
                                  <br> - 모금액을 입금 받기 전 과거 지출한 내용을 포함한 경우
                              </span>
                          </p>
                          <!-- group_tf ng-cope 그룹이 지출항목 추가시 하나씩 추가됨  -->
                          <div class="desc_form pack_plan">
                            <div class="group_tf ng-scope" id="planBox0">
                              <div class="cont_tf">
                                  <input type="text" classoutline="" placeholder="사용용도 및 산출근거"
                                         title="모금액 사용용도 및 산출근거"
                                         class="tf_write ng-valid ng-dirty ng-valid-parse ng-touched ng-untouched ng-pristine">
                              </div>
                              <div class="amount_tf">
                                  <input type="number" classoutline="" numberonly="" step="500"
                                         min="0" placeholder="금액(원)" title="모금액 산출 금액(원)"
                                         class="tf_write ng-valid ng-valid-min ng-dirty ng-valid-number ng-touched ng-untouched ng-pristine">
                              </div>
                                <button type="button" class="btn_line_txt"> 삭제 </button>
                            </div>
                            <div class="pack_btn">
                                <button type="button" class="btn_add">
                                    <span class="ico_add">
                                        <span class="ico_social"></span>
                                    </span>
                                    <span class="txt_add">지출항목추가</span>
                                </button>
                            </div>
                            <div class="box_sum">
                                <span class="tit_sum">목표금액 :</span>
                                <span class="total_sum">
                                    <em class="emph_sign ng-binding">0원</em>
                                </span>
                            </div>
                          </div>
                        </div>
                        <div class="area_form">
                            <strong class="tit_head">목표금액 미달 시 대안
                                <span class="ico_new">new</span>
                            </strong>
                          <p class="sub_head"> 목표 금액이 미달될 때를 대비한 계획을 알려주세요.
                              <br>참여자들에게 프로젝트 진행에 대한 신뢰감을 높일 수 있습니다.
                          </p>
                          <div class="desc_form info_description">
                            <div class="group_tf">
                              <div class="inner_group">
                                  <textarea required="" classoutline="" name="plan_comment"
                                            id="tfIntro" cols="30" rows="10"
                                            class="tf_write ng-untouched ng-pristine ng-invalid"></textarea>
                              </div>
                            </div>
                            <div class="info_append">
                                <span class="txt_num">0/</span>1000
                            </div>
                          </div>
                        </div>
                        <div class="area_form">
                          <div class="tit_head">심사기관에게 하고 싶은 말</div>
                          <div class="desc_form info_description">
                            <div class="group_tf">
                              <div class="inner_group">
                                <textarea id="planDetail" name="planDetail" classoutline=""
                                  title="심사기관에게 하고 싶은말" class="tf_write ng-untouched ng-pristine ng-valid"></textarea>
                              </div>
                            </div>
                            <div class="info_append">
                              <span class="txt_num">0/</span>1000 </div>
                          </div>
                        </div>
                        <div class="area_form">
                            <strong class="tit_head">약관 동의 <span class="ico_new">new</span>
                                <span class="ico_together ico_warn">미입력 경고</span>
                            </strong>
                          <div class="desc_form info_policy">
                              <span class="choice_comm2">
                                  <input id="checkPolicy" name="chk" type="checkbox"
                                        class="inp_comm ng-untouched ng-pristine ng-invalid ng-valid">
                                  <label for="checkPolicy" class="lab_comm">
                                      <span class="ico_together2 ico_checkbox"></span>
                                      개인정보 제 3자 제공 동의
                                      <span class="ico_together ico_warn">미입력 경고</span>
                                  </label>
                              </span>
                            <div class="area_policy open_policy">
                                <render-static-html>
                                <span>
                                  <p class="txt_effort">
                                    기부앤테이크 서비스는 아래의 목적으로 개인정보를 수집
                                    및 이용하며, 회원의 개인정보를 안전하게 취급하는데 최선을 다합니다.
                                  </p>
                                  <strong class="txt_service">서비스 기본기능의 제공 (필수)</strong>
                                  <div class="box_policy">
                                    <strong class="tit_policy">개인정보 제공받는 자</strong>
                                    <p class="desc_policy">
                                      <em>기부앤테이크</em>
                                    </p>
                                    <strong class="tit_policy">목적</strong>
                                    <p class="desc_policy">
                                        <em>제안 접수 및 검토, 프로젝트 모금함 관리</em>
                                    </p>
                                    <strong class="tit_policy">항목</strong>
                                    <p class="desc_policy">
                                      1) 담당자 정보 (카카오계정, 연락처, 이메일, 닉네임)
                                        <br>
                                    </p>
                                    <strong class="tit_policy">보유기간</strong>
                                    <p class="desc_policy">
                                      <em>
                                        프로젝트 모금함 종료시까지 보관 후 삭제
                                          <br class="pc_linefeed">
                                        (모금함 미개설의 경우 심사 후 지체없이 파기함)
                                      </em>
                                    </p>
                                  </div>
                                  <p class="txt_policy">
                                    위 동의를 거부 할 권리가 있으며, 동의를 거부할 경우 서비스 이용이 제한됩니다.
                                    <br>더 자세한 내용에 대해서는
                                    <a class="link_policy" href="javascript:void(0)"
                                      target="_blank">개인정보처리방침</a>
                                    을 참고하시기 바랍니다.
                                  </p>
                                </span>
                                </render-static-html>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn_step btn_float btn_static">
                      <button type="button" class="link_step link_type3"> 다음 단계로 </button>
                    </div>
                  </fieldset>
                </form>
                        </div>
                    </ng-component>
                </div>
            </div>
            <modal>
                <div tabindex="-1" role="dialog" class="ngdialog-content" id="modalOFF" style="position: fixed; display: none; top: 25%; margin-left: -192px;">
                    <modal-content>
                        <div class="inner_together_layer inner_together_layer1">
                            <div class="layer_body">
                                <p id="ngdialog7-aria-describedby" class="desc_together">
                                    <span class="txt_desc"> 잠깐! 에 작성 중 저장하신<br>
                                        <span class="emph_sign">'모금함'</span>
                                        이 있습니다.
                                    </span>
                                </p>
                                <div class="wrap_btn wrap_btn_type">
                                    <button class="btn_set btn_type1"> 이어서 작성하기 </button>
                                </div>
                                <div class="wrap_btn wrap_btn_type2">
                                    <button class="btn_set btn_type2"> 새로 작성하기 </button>
                                    <span class="txt_noti">(과거 저장 내역은 삭제됩니다.)</span>
                                </div>
                            </div>
                            <div class="layer_foot">
                                <button class="btn_close">
                                    <span class="ico_together ngdialog-close">닫기</span>
                                </button>
                            </div>
                        </div>
                    </modal-content>
                </div>
            </modal>
        </ng-component>
    </span>
    <div id="toast-container" class="toast-bottom-center" style="display: none">
        <div class="toast toast-success">
            <div class="toaster-icon icon-success"></div>
            <div class="toast-content">
                <div class="toast-title"></div>
                <div class="toast-message">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../../static/js/mypage/write/write_step1.js"></script>
<script src="../../../static/js/mypage/write/write_step2.js"></script>
<script src="../../../static/js/mypage/write/write_step3.js"></script>
</html>