{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/css/neulhaerang/list.css'%}" />
    <title>늘해랑 : 모집/펀딩</title>
</head>
<body>
<div class="wrap">
    {% include 'header/header.html' %}
    <!-- <header></header> -->
    <main>
        <div class="main-content">
            <div class="article">
                <!--상단 탭 헤더-->
                <div class="list-header">
                    <ul class="list-tab">
                        <li class="on">
                            <a href="#" class="link-tab">
                                <span class="txt-tab">모금중</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'neulhaerang_review:review/list' %}" class="link-tab">
                                <span class="txt-tab">모금후기</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-tab">
                                <span class="txt-tab">나눔캠페인</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--카테고리 리스트-->
                <div class="group-catelist">
                    <div class="inner-catelist">
                        <ul class="list-cate">
                            <li class="on">
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="//t1.kakaocdn.net/together_image/ico_all_221018.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">전체</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_kidz.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">어린이</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_young.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">청년</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_woman_221018.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">여성</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_old_221018.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">어르신</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_accessible.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">장애인</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_social.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">우리사회</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_earth.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">지구촌</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_neighborhood.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">어려운이웃</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_animal.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">동물</span></a
                                >
                            </li>
                            <li>
                                <a href="#" class="link-cate"
                                >
                                    <svg>
                                        <image
                                                x="0"
                                                y="0"
                                                width="100%"
                                                height="100%"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="https://t1.kakaocdn.net/together_image/ico_culture.png"
                                        ></image>
                                    </svg
                                    >
                                    <span class="txt-cate">환경</span></a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <!--펀딩 리스트-->
                <div class="group_fundlist">
                    <!--정렬 리스트-->
                    <div class="sort_cate">
                <span class="inner_sort_cate">
                  <span class="box_sorting sort_on"
                  ><input type="radio" class="inp_sort" name="sort0"/><label
                          for="sort0"
                          class="lab_sort"
                  >추천순</label
                  ></span
                  ><span class="box_sorting"
                ><input type="radio" class="inp_sort" name="sort1"/><label
                        for="sort1"
                        class="lab_sort"
                >최신순</label
                ></span
                ><span class="box_sorting"
                ><input type="radio" class="inp_sort" name="sort2"/><label
                        for="sort2"
                        class="lab_sort"
                >종료임박순</label
                ></span
                >
                </span>
                    </div>
                    <!--카드배너 리스트-->
                    <div class="list_fund">
                        <li class="listcard">
                            <a href="#" class="link_pack">
                    <span class="box_thumb">
                      <span
                              kagetype="c203"
                              class="img_thumb"
                              style="
                          background-image: url('https://mud-kage.kakaocdn.net/dn/bf22U9/btsf2G0mHF9/PRklKTaLsSkb7ySBTOrkBK/c203.jpg');
                        "
                      ></span>
                    </span>
                                <span class="box_together">
                      <span class="bundle_tit">
                        <strong class="tit_together ellipsis_type1">
                          <span class="tag_bundle"
                          ><span class="tag_state tag_state_default">종료임박</span
                          ></span
                          >
                          안심하고 공익제보할 수 있는 사회를 만들어요 📢
                        </strong>
                        <span class="txt_proposer"> 참여연대 </span>
                      </span>
                      <span class="wrap_state">
                        <span class="state_bar">
                          <span class="state_gage state_ing" style="width: 95%"></span>
                        </span>
                      </span>
                      <span class="price_goal">3,027,899원</span>
                    </span>
                            </a>
                        </li>
                        <li class="listcard">
                            <a href="#" class="link_pack">
                    <span class="box_thumb">
                      <span
                              kagetype="c203"
                              class="img_thumb"
                              style="
                          background-image: url('https://mud-kage.kakaocdn.net/dn/bf22U9/btsf2G0mHF9/PRklKTaLsSkb7ySBTOrkBK/c203.jpg');
                        "
                      ></span>
                    </span>
                                <span class="box_together">
                      <span class="bundle_tit">
                        <strong class="tit_together ellipsis_type1">
                          안심하고 공익제보할 수 있는 사회를 만들어요 📢
                        </strong>
                        <span class="txt_proposer"> 참여연대 </span>
                      </span>
                      <span class="wrap_state">
                        <span class="state_bar">
                          <span class="state_gage state_ing" style="width: 95%"></span>
                        </span>
                      </span>
                      <span class="price_goal">3,027,899원</span>
                    </span>
                            </a>
                        </li>
                        <li class="listcard">
                            <a href="#" class="link_pack">
                    <span class="box_thumb">
                      <span
                              kagetype="c203"
                              class="img_thumb"
                              style="
                          background-image: url('https://mud-kage.kakaocdn.net/dn/bf22U9/btsf2G0mHF9/PRklKTaLsSkb7ySBTOrkBK/c203.jpg');
                        "
                      ></span>
                    </span>
                                <span class="box_together">
                      <span class="bundle_tit">
                        <strong class="tit_together ellipsis_type1">
                          안심하고 공익제보할 수 있는 사회를 만들어요 📢
                        </strong>
                        <span class="txt_proposer"> 참여연대 </span>
                      </span>
                      <span class="wrap_state">
                        <span class="state_bar">
                          <span class="state_gage state_ing" style="width: 95%"></span>
                        </span>
                      </span>
                      <span class="price_goal">3,027,899원</span>
                    </span>
                            </a>
                        </li>
                        <li class="listcard">
                            <a href="#" class="link_pack">
                    <span class="box_thumb">
                      <span
                              kagetype="c203"
                              class="img_thumb"
                              style="
                          background-image: url('https://mud-kage.kakaocdn.net/dn/bf22U9/btsf2G0mHF9/PRklKTaLsSkb7ySBTOrkBK/c203.jpg');
                        "
                      ></span>
                    </span>
                                <span class="box_together">
                      <span class="bundle_tit">
                        <strong class="tit_together ellipsis_type1">
                          안심하고 공익제보할 수 있는 사회를 만들어요 📢
                        </strong>
                        <span class="txt_proposer"> 참여연대 </span>
                      </span>
                      <span class="wrap_state">
                        <span class="state_bar">
                          <span class="state_gage state_ing" style="width: 95%"></span>
                        </span>
                      </span>
                      <span class="price_goal">3,027,899원</span>
                    </span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- <footer></footer> -->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/js/nelharang/list.js"></script>
</html>
