{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/common/common.css'%}" />
    <link rel="stylesheet" href="{% static '/css/neulhaerang/list.css'%}" />
    <link rel="stylesheet" href="{% static '/css/neulhaerang/review-list.css'%}" />
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
    <title>늘해랑 : 리뷰</title>
  </head>
  <body>
    <div class="wrap">
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
      <main>
        <div class="main-content">
          <div class="article">
            <!--상단 탭 헤더-->
            <div class="list-header">
              <ul class="list-tab">
                <li >
                  <a href="{% url 'neulhaerang:list' %}" class="link-tab">
                    <span class="txt-tab">모금중</span>
                  </a>
                </li>
                <li class="on">
                  <a href="#" class="link-tab">
                    <span class="txt-tab">모금후기</span>
                  </a>
                </li>
           <!--     <li>
                  <a href="#" class="link-tab">
                    <span class="txt-tab">나눔캠페인</span>
                  </a>
                </li> -->
              </ul>
            </div>

            <div class="group_givetop">
                <strong class="tit_givetop">
                    동참과 펀딩으로 기부앤테이크!
                </strong>
            </div>

            <!--카테고리 리스트-->

            <!--펀딩 리스트-->
            <div class="group_fundlist">
              <!--정렬 리스트-->
              <div class="sort_cate">
                <span class="inner_sort_cate">
                  <span class="box_sorting sort_on"
                    ><input type="radio" class="inp_sort" name="sort0" /><label
                      for="sort0"
                      class="lab_sort"
                      >추천순</label
                    ></span
                  ><span class="box_sorting"
                    ><input type="radio" class="inp_sort" name="sort1" /><label
                      for="sort1"
                      class="lab_sort"
                      >최신순</label
                    ></span
                  >
                </span>
              </div>
              <!--카드배너 리스트-->
              <div class="list_fund">
              </div>
            </div>
          </div>
        </div>
      </main>
      {% include 'footer/footer.html' %}
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/neulhaerang/review-list.js' %}"></script>
<script>
    const baseUrl2 = "{% url 'neulhaerang_review:review/detail' 0 %}"
</script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>
