{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/common/common.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/neulhajang/hajang-list.css'%}" />
    <link rel="stylesheet" href="{% static 'css/neulhajang/media-hajang-list.css'%}" />
    <title>늘하장</title>
  </head>
  <body>
    {% if request.session.member_email %}
    {% include 'header/logined-header.html' %}
    {% else %}
    {% include 'header/header.html' %}
    {% endif %}
    <main id="main" class="page-container">
      <div class="wrap-container">
        <!-- 타이틀 애니메이션 섹션 -->
        <section class="branding-section">
          <div class="branding-title"></div>
          <div class="branding-introduce">
          <!--  <div class="branding-introduce-item">
              <i class="branding-icon-people" src="https://t1.kakaocdn.net/together_image/common/ico_action_people.png"></i>
              <span class="branding-count-text">385,189명 행동중</span>
              <i class="branding-icon-action-people" src="https://t1.kakaocdn.net/together_image/common/bg_action_people.png"></i>
              <i class="branding-icon" src="https://t1.kakaocdn.net/together_image/common/ico_action_world.png"></i>
                <button type="button" class="branding-introduce-link-button">
                    <span class="branding-introduce-link-text">소개보기</span>
                    <i class="branding-introduce-link-arrow-icon" src="https://t1.kakaocdn.net/together_image/common/ico_action_arrow.png"></i>
                </button>
            </div>  -->
            <!-- 반응형 소개아이콘 -->
            <div class="mobile-branding-introduce-container" aria-hidden="true">
              <div class="mobile-branding-introduce-item" aria-hidden="true">
                <i class="mobile-branding-icon-people" src="https://t1.kakaocdn.net/together_image/common/ico_action_people.png"></i>
                <span class="mobile-branding-count-text">385,189<!-- -->명 행동중</span>
                <i class="mobile-branding-icon-action-people" src="https://t1.kakaocdn.net/together_image/common/bg_action_people.png"></i>
                <i class="mobile-branding-icon" src="https://t1.kakaocdn.net/together_image/common/ico_action_world.png"></i>
                  <button type="button" class="mobile-branding-introduce-modal-button">
                    <span class="mobile-branding-introduce-modal-text">소개보기</span>
                    <i class="mobile-branding-introduce-modal-arrow-icon" src="https://t1.kakaocdn.net/together_image/common/ico_action_arrow.png"></i>
                  </button>
              </div>
            </div>
          </div>
        </section>
        <!-- 카드섹션 -->
        <section class="action-card-section">
          <!-- 늘하장 달성중 -->

        </section>
      </div>
    </main>
  {% include 'footer/footer.html' %}
  </body>
  <script src="{% static 'js/neulhajang/list.js' %}"></script>
  <script>
      const baseUrl = "{% url 'neulhajang:detail' 0 %}"
  </script>
{% if request.session.member_email %}
    <script src="{% static 'js/header/logined-header.js' %}"></script>
{% else %}
    <script src="{% static 'js/header/header.js' %}"></script>
{% endif %}
</html>
