.wrap {
	display: flex;
	justify-content: flex-start;
}

.side-menu {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0;
	width: 18%;
	background-color: #1E3932;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 4px 4px 4px 4px #afafaf;
	z-index: 9999;
}
/*background-image: linear-gradient(to right, rgba(4,23,10,0.98) 10%, rgba(10,50,15,0.98)99%);*/

.menu-bar li span {
	margin: 10px;
}

.menu-bar .menu .menu-flex {
	font-size: 16px;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	margin: 20px 35px 0px;
	cursor: pointer;
}

.menus .select-menu {
	font-size: 15px;
	color: #fff;
	margin-left: 55px;
	;
}

.menus .select-menu span {
	margin-left: 5px;
}


.menu-title {
	display: flex;
	justify-content: flex-start;
	position: relative;
	font-size: 20px;
	color: #fff;
	height: 32px;
}

.icon {
	padding-top: 2px;
	width: 16px;
	filter: invert(71%) sepia(59%) saturate(0%) hue-rotate(176deg) brightness(91%) contrast(94%);
}

.triangle {
	padding-top: 5px;
	width: 20px;
}

.menu .triangle-acitve {
	transform: rotate(180deg);
	width: 12px;
}

.menu-title div img {
	padding-top: 5px;
	width: 20px;
}

.select-menu {
	font-size: 10px;
	margin-bottom: 5px;
}

.menu-title-layout {
	margin: 70px 18px 45px 37px;
}

.menus2,
.menu1 {
	display: none;
}

.menu-name {
	color: #fff;
	font-size: 25px;
	margin-top: 6px;
	font-weight: bold;
}

.info-margin-bottom {
	margin-bottom: 10px;

}

.logo-box-layout {
	/* display: flex; */
	width: 250px;
	position: relative;
	padding: 4px 10px 0px 25px;
}

.logo-box {
	/* padding: 4px 10px 0px 25px; */
	display: flex;
    justify-content: center;
    position: absolute;
    left: 80px;
}

.logo-box img {
	/* filter: invert(75%) sepia(74%) saturate(1021%) hue-rotate(356deg) brightness(104%) contrast(110%); */
	filter: none !important;
	width: 110px !important;
}

.logo-title {
	display: none;
	/* color: #060024;
	padding-top: 10px;
	font-size: 26px;
	font-weight: 700; */
}

