.hajang-detail-page-container {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 320px);
}

.project-information-section {
    display: block;
    width: 1120px;
    margin: 40px auto 0px;
    box-sizing: border-box;
    position: relative;
}

.project-cover {
    position: relative;
}

.project-image {
    overflow: hidden;
    width: 700px;
    height: 480px;
    border-radius: 8px;
    padding-bottom: 0px;
    box-sizing: border-box;
    position: relative;
    background: url("https://t1.kakaocdn.net/together_action_prod/admin/20230522/c0b6dd0673764efebf68a4748baf64ec") 50% 50% / cover no-repeat, url("https://t1.kakaocdn.net/together_image/common/no_image.png");
}

.project-image::after {
    background: rgba(0, 0, 0, 0.1);
    content: "";
    position: absolute;
    inset: 0px;
}

.project-detail-information {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 760px);
    min-height: 1500px;
    height: 5940.61px;
}

.project-cover-story {
    position: static;
    padding: 0px;
}

.project-cover-story-label-container {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.remain-date-label {
    margin-right: 5px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
    background-color: rgb(32, 32, 32);
    box-sizing: border-box;
    height: 26px;
    border-radius: 4px;
    padding: 0px 10px;
    color: rgb(246, 246, 246);
    font-size: 12px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

.remain-date-icon {
    display: inline-block;
    vertical-align: top;
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.tag-label-link {
    margin-right: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
    background-color: rgb(32, 32, 32);
    box-sizing: border-box;
    height: 26px;
    border-radius: 4px;
    padding: 0px 10px;
    color: rgb(235, 200, 255);
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

.project-title {
    padding-top: 18px;
    padding-bottom: 19px;
    color: rgb(32, 32, 32);
    white-space: pre-wrap;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.46;
    letter-spacing: -0.5px;
}

.project-progress-bar {
    display: flex;
    height: 6px;
    border-radius: 6px;
    background-color: rgb(233, 233, 233);
    width: 100%;
}

.current-progress-bar {
    height: 100%;
    border-radius: inherit;
    background-color: rgb(173, 76, 254);
    width: 80%;
}

.participants-information {
    padding-top: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.participants-acvive-count {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.count-modal-button {
    position: relative;
    margin: -10px 0px;
    padding: 10px 0px;
    border: 0px;
    background: transparent;
    cursor: pointer;
}

.participants-count {
    font-size: 14px;
    font-weight: 600;
    color: rgb(32, 32, 32);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.participants-count-icon {
    width: 16px;
    height: 16px;
    margin-right: 9px;
    vertical-align: top;
    opacity: 1;
}

.participants-count-textline {
    text-decoration: underline;
}

.participants-ratio-count {
    margin-left: 7px;
    font-size: 14px;
    color: rgb(173, 76, 254);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.participants-goal-count {
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.goal-text {
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.5;
    margin-left: 4px;
}

.project-mission-text {
    padding: 24px 0px 21px;
    color: rgb(68, 68, 68);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.71;
}


.project-reward-story {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 6px;
    background-color: rgb(245, 245, 244);
    padding: 0px 15px 17px;
}

.project-reward-title {
    display: inline-block;
    width: 62px;
    height: 12px;
    margin: -4px 0px 15px 1px;
    background: url("https://t1.kakaocdn.net/together_image/common/txt_howto.png") 0px 0px / contain no-repeat;
}

.project-reward-list {
    counter-reset: list-number 0;
    margin: 0px;
    padding: 0px;
}

.how-To-content {
    display: flex;
    list-style: decimal;
    padding-bottom: 8px;
    color: rgb(68, 68, 68);
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.how-to-list-inner-container {
    display: flex;
    height: inherit;
}

.how-to-list-order-label {
    margin-right: 5px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: pre-line;
    flex-shrink: 0;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    margin-top: 0.2em;
    font-size: 0.769em;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 26, 72);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
}

.project-active-button-container {
    position: relative;
    margin: 25px 0px 40px;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
}

.project-active-button {
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-weight: 600;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(173, 76, 254);
    border-radius: 6px;
    margin: 0px;
    font-family: "KakaoBig Bold";
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(173, 76, 254);
    cursor: pointer;
    width: 100%;
    height: 46px;
    padding: 0px 20px;
    font-size: 16px;
}

.provider-information {
    order: 1;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 38px 26px 32px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.provider-profile {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.provider-profile-image {
    float: left;
    overflow: hidden;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("https://t1.kakaocdn.net/together_action_prod/admin/20230522/ffa00ed8bf7a4f3d8d39d1c0b42fa04a?type=thumb&opt=S100x100") 50% 50% / cover no-repeat;
}

.provider-profile-image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 50%;
    box-sizing: border-box;
}

.provider-name-text {
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 16px;
    color: rgb(32, 32, 32);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.57;
    letter-spacing: -0.3px;
    padding-left: 15px;
    padding-right: 15px;
}

.provider-profile-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: rgb(136, 136, 136);
    font-size: 12px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.09;
    letter-spacing: -0.3px;
    padding-left: 15px;
    padding-right: 15px;
}

.provider-text {
    color: rgb(68, 68, 68);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 2;
    padding-top: 24px;
}





.floating-action-buttons {
    order: 1;
    position: sticky;
    top: 84px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    padding: 34px 25px 0px;
}

.floating-action-buttons-title-text {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(32, 32, 32);
    font-size: 15px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.5;
    padding-left: 1px;
    padding-bottom: 16px;
}

.floating-action-buttons-title-icon {
    padding-top: 2px;
    padding-right: 12px;
    width: 14px;
    height: 14px;
    vertical-align: top;
    opacity: 1;
}

.action-image-list {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: -2px;
    padding-bottom: 20px;
}

.action-image-list-item {
    position: relative;
    width: calc(20% - 2px);
    height: 0px;
    margin-bottom: 2px;
    padding-bottom: calc(20% - 2px);
    background: url("https://t1.kakaocdn.net/together_image/common/bg_action_stamp.png") center center / 36px no-repeat rgb(245, 245, 244);
}

.image-button-box {
    width: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    vertical-align: top;
    background-color: transparent;
    cursor: pointer;
}

.action-participation-image {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.image-button-box::after {
    content: "";
    position: absolute;
    inset: 0px;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.floating-action-button-container {
    flex-wrap: wrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.floating-action-button {
    font-weight: 600;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(173, 76, 254);
    border-radius: 6px;
    margin: 0px;
    font-family: "KakaoBig Bold";
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(173, 76, 254);
    cursor: pointer;
    width: 100%;
    height: 46px;
    padding: 0px 20px;
    font-size: 16px;
}

.neulhajang-like-container {
    width: 100%;
    margin: 2px 0px;
    min-height: auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.action-like-button {
    margin: 0;
    font-size: 12px;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 46px;
    cursor: pointer;
    padding: 0;
    border: 0 none;
    vertical-align: middle;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
}

/* 좋아요 누르기전 */
.action-like-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: image-set(url("https://t1.kakaocdn.net/together_image/common/heart_action_1x_220907.png") 1x,url("https://t1.kakaocdn.net/together_image/common/heart_action_2x_220907.png") 2x);
    background-size: auto 100%;
    margin-left: -16px;
    transform: scale(0.8);
    flex-shrink: 0;
    box-sizing: border-box;
}

/* 좋아요 누른 직후 */
.action-animated {
    background-image: none;
}

/* css완전 변경 후 */
/*.action-like-icon:empty {
    background-position-x: 100%;
}*/

.action-count-label {
    margin-left: -8px;
    font-size: 13px;
    font-family: "KakaoBig Regular";
    line-height: 1.09;
    letter-spacing: -0.3px;
    color: rgb(32, 32, 32);
    box-sizing: border-box;
}

.project-detail-container {
    display: flex;
    flex-direction: column;
}

.project-document-section {
    border-top: 0px;
}

.tab-menu {
    width: 700px;
    margin: 0px auto;
    transform: translateX(-210px);
    border-bottom: 1px solid rgb(229, 229, 229);
    background: rgb(255, 255, 255);
}

.tab-menu-bar {
    max-width: 1120px;
    margin: 0px auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.tab-menu-item {
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
}

.tab-menu-bar .tab-selected {
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(32, 32, 32);
    margin-bottom: -1px;
}

.tab-menu-item-button {
    display: flex;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 0px;
    font-family: "KakaoBig Bold";
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

.tab-menu-item-text {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    color: rgb(136, 136, 136);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.57;
    letter-spacing: -0.3px;
}

.tab-menu-item-button .text-selected {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    color: rgb(32, 32, 32);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.57;
    letter-spacing: -0.3px;
}




/* 미션탭 */
.tab-panel {
    box-sizing: border-box;
    width: 1120px;
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 420px;
    padding-bottom: 60px;
}

.mission-tab-container-base {
    padding-top: 30px;
}

.mission-tab-together-document-bullet-subtitle {
    padding-bottom: 30px;
    font-size: 18px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    white-space: pre-wrap;
    font-weight: 600;
    color: rgb(32, 32, 32);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

.mission-tab-together-document-bullet-subtitle::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 6px;
    border-radius: 1px;
    margin-right: 14px;
    margin-top: 5px;
    margin-bottom: 4px;
    background-color: rgb(32, 32, 32);
}

.mission-tab-together-document-text {
    margin-top: -15px;
    line-height: 1.88;
    white-space: pre-wrap;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
}

.mission-tab-together-document-image {
    padding-top: 34px;
}

.image-group img {
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
}

.image-item {
    display: inline-block;
    vertical-align: top;
}

.mission-tab-together-document-quote {
    max-width: 580px;
    padding: 60px 24px 0px;
    display: flex;
    margin: 0px auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.text-quote-document {
    white-space: pre-wrap;
    word-break: keep-all;
    font-size: 16px;
    color: rgb(130, 80, 190);
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.7;
    quotes: none;
}

.quote-icon {
    width: 19px;
    height: 15px;
    display: block;
    margin: 0px auto 15px;
    background: url("https://t1.kakaocdn.net/together_image/common/ico_quote.png") 0px 0px / contain no-repeat;
    vertical-align: top;
    opacity: 1;
}

.mission-tab-together-subtitle-document {
    padding-top: 54px;
    padding-bottom: 30px;
    font-size: 18px;
    display: block;
    white-space: pre-wrap;
    font-weight: 600;
    color: rgb(32, 32, 32);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

.mission-tab-together-document-bullet-sub-title {
    padding-top: 54px;
    padding-bottom: 30px;
    font-size: 18px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    white-space: pre-wrap;
    font-weight: 600;
    color: rgb(32, 32, 32);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

.mission-tab-together-document-note {
    padding: 24px 30px;
    border-radius: 6px;
    background-color: rgb(247, 247, 247);
}

.note-text {
    line-height: 2;
    white-space: pre-wrap;
    letter-spacing: -0.3px;
    color: rgb(102, 102, 102);
    font-size: 15px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
}

.mission-tab-together-image-document {
    padding-top: 60px;
}

.mission-tab-banner-link {
    display: block;
    vertical-align: top;
    font: inherit;
    text-decoration: none;
    color: inherit;
}

.mission-tab-banner-container {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.mission-tab-banner-image {
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.mission-tab-banner-caption {
    padding: 14px 10px 0px;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(136, 136, 136);
    font-size: 12px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.09;
    letter-spacing: -0.3px;
    text-align: center;
}

.project-related-links {
    padding-top: 60px;
}

.project-related-links-title {
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(68, 68, 68);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

.project-related-link-list {
    margin: 0px;
    padding: 0px;
}

.project-related-link-item {
    display: list-item;
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.project-related-link {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: -0.1px;
    color: rgb(68, 68, 68);
    font-size: 15px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 2;
}

.project-links-inner-container {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.project-link-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    opacity: 1;
}







/* 인증탭 */


/* 새소식탭 */



/* 카드리스트 */
.detail-section-container {
    box-sizing: border-box;
    width: 1120px;
    margin: 0px auto;
    padding-right: 420px;
    order: 1;
}

.tags-section-base {
    border-top: 0px;
    padding: 0px 0px 38px;
}

.tag-cloud-container {
    display: flex;
    flex-flow: wrap;
}

.tag-link {
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 34px;
    border-radius: 17px;
    text-decoration: none;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 1.5;
    margin-right: 6px;
    margin-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.hashtag {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
}

.active-action-section-base {
    border-top: 0px;
    padding: 0px 0px 40px;
}

.active-action-section-title {
    margin-bottom: -5px;
    padding-top: 0px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(32, 32, 32);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    line-height: 2;
    letter-spacing: -0.3px;
}

.active-action-card-group {
    margin: 0px -10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.content-card-base {
    width: calc(25% - 20px);
    margin: 20px 10px;
    height: 100%;
    box-sizing: border-box;
}

.content-card-inner {
    flex-direction: column;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.content-card-thumbnail {
    padding-bottom: 116.251%;
    width: 100%;
    height: 0px;
    border-radius: 8px;
    flex-shrink: 0;
    position: relative;
}

