body, html {
    min-width: 1140px;
}

#whole-wrap {
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
min-height: 100vh;
}

#main-content, #root-content {
    flex-grow: 1;
    min-height: calc(100vh - (70px + 250px));
}

div {
  display: block;
}

blockquote, body, button, code, dd, 
div, dl, dt, fieldset, form, 
h1, h2, h3, h4, h5, h6, 
input, legend, li, ol, p, pre, 
select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    border-radius: 0;
    background-color: initial;
    cursor: pointer;
}

body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
}

dl, li, menu, ol, ul {
    list-style: none;
    
}

a {
  color: #444;
  cursor: pointer;
  text-decoration: none;
}

img {
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

strong {
    font-weight: bold;
}

#main-content {
    position: relative;
    margin: 0 0 -212px;
}

.cont-mypage #article {
    padding-bottom: 212px;
}

#article {
    padding: 0 0 250px;
}

.mypage-cont {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 170px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.group-profile {
    position: relative;
    min-height: 190px;
    padding-top: 34px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: url(//t1.kakaocdn.net/together_image/bg_mypage.png) 98% 18px no-repeat;
    background-size: 215px 160px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.group-profile .area-name {
    display: inline-block;
    max-width: 550px;
    vertical-align: top;
}

.group-profile .area-name .txt-name,
 .group-profile .area-name .txt-nick {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-family: KakaoBig Bold,sans-serif;
}

.group-profile .area-name .txt-nick {
    max-width: 465px;
    text-overflow: ellipsis;
    word-wrap: normal;
    font-size: 18px;
}

.group-profile .area-name .box-name {
    display: inline-block;
    position: relative;
    max-width: 465px;
}

.group-profile .area-name .txt-name {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 36px;
    line-height: 1.4;
}

.group-profile .area-thumb {
    position: absolute;
    top: 40px;
    right: 40px;
}

.group-profile .area-thumb .link-badge {
    position: absolute;
    left: -15px;
    width: 40px;
    height: 40px;
}

.group-profile .area-thumb .link-thumb {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.group-profile .area-thumb .img-thumb {
    width: 100%;
    height: 100%;
}

.img-thumb {
    display: block;
}

.group-profile .area-setting {
    height: 40px;
    padding-top: 14px;
    padding-left: 3px;
}

.group-profile .area-setting .link-setting {
    font-size: 14px;
    border-bottom: 1px solid #444;
    background-color: initial;
}

/* user profile */

.group-shadow {
    position: relative;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px 0 #00000012;
}

.title-section.section-type2:first-of-type {
    border-top: 0;
}

.title-section.section-type2 {
    margin: 0 40px;
    padding-top: 31px;
    border-top: 1px solid #e5e5e5;
    font-size: 24px;
}

.title-section {
    display: block;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #444;
    font-family: KakaoBig Bold,sans-serif;
    box-sizing: border-box;
}

.group-donatedetail .btn-release {
    position: absolute;
    top: 20px;
    right: 40px;
}

.link-round {
    display: inline-block;
    height: 40px;
    padding: 0 17px;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    font-size: 13px;
    line-height: 38px;
    font-family: KakaoBig Regular,sans-serif;
    box-sizing: border-box;
    vertical-align: top;
}

.group-donatedetail .area-donatedetail {
    overflow: hidden;
    padding: 27px 40px 39px;
}

.area-donatedetail .total-donate {
    max-width: 300px;
    float: left;
    padding-top: 1px;
}

.area-donatedetail .total-donate .title-total {
    font-weight: 400;
    font-size: 15px;
    color: #666;
}

.area-donatedetail .total-donate .num-total {
    display: block;
    overflow: hidden;
    height: 48px;
    font-size: 32px;
    font-family: KakaoBig Bold,sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.area-donatedetail .detail-donate {
    float: right;
    min-width: 155px;
}

.area-donatedetail .detail-donate li {
  overflow: hidden;
  line-height: 26px;
}

.area-donatedetail .detail-donate .title-detail {
  float: left;
  font-size: 15px;
  color: #666;
}

.area-donatedetail .detail-donate .num-detail {
  overflow: hidden;
  float: right;
  max-width: 170px;
  margin-left: 10px;
  font-size: 15px;
  font-family: KakaoBig Bold,sans-serif;
}

.group-donatedetail .area-moreinfo {
    height: 60px;
    border-radius: 0 0 12px 12px;
    background-color: #f5f5f5;
}

.area-moreinfo .list-moreinfo {
  overflow: hidden;
  text-align: center;
}

.area-moreinfo .list-moreinfo li {
  display: inline-block;
  vertical-align: top;
}

.area-moreinfo .list-moreinfo li:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 28px 30px;
    border-radius: 50%;
    background-color: #444;
    vertical-align: top;
    content: "";
}

.area-moreinfo .list-moreinfo .link-more {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 60px;
  color: #444;
  font-family: KakaoBig Bold,sans-serif;
  vertical-align: top;
}


.area-moreinfo .list-moreinfo li {
    display: inline-block;
    vertical-align: top;
}


.area-moreinfo .list-moreinfo {
    overflow: hidden;
    text-align: center;
}

ul {
    list-style-type: disc;
}

body {
    -webkit-text-size-adjust: none;
}
.area-moreinfo .list-moreinfo li:first-of-type:before {
    content: none;
}

.area-moreinfo .list-moreinfo li:before {
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 28px 30px;
  border-radius: 50%;
  background-color: #444;
  vertical-align: top;
  content: "";
}

/* 늘하장 */
/* 늘하장 - 참여한 행동이 없을때 */
.group-action-before {
    display: block;
    box-sizing: border-box;
    height: 297px;
    padding: 28px 0;
    text-align: center;
}

.group-action-before .title-action {
    font-family: KakaoBig Bold;
    font-size: 22px;
    line-height: 30px;
    color: #444;
}

.group-action-before .box-thumbnail {
    display: block;
    width: 110px;
    margin: 18px auto -4px;
}


.group-action-before .desc-action {
    padding-top: 6px;
    font-size: 15px;
    color: #666;
}

.group-action-before .img-thumb {
    width: 100%;
}
/* 늘하장 - 참여한 행동이 있을때 */
.group-action-attend .list-actions {
    padding: 28px 40px 32px;
}

.group-action-attend .list-actions .img-thumb {
    width: 100%
}

.group-action-attend .list-actions li {
    position: relative;
}

.group-action-attend .list-actions li+li {
    padding-top: 24px;
}

.action-content-card {
    position: relative;
}

.link-action-card {
    display: flex;
    align-items: stretch;
    position: relative;
    height: 100%;
}

.link-action-card .thumb-action {
    overflow: hidden;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 9px;
}

.link-action-card .info-action {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 16px;
}

.link-action-card .title-action {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    word-wrap: break-word;
    word-break: keep-all;
    font-size: 16px;
    font-family: KakaoBig Bold;
    color: #444;
}

.link-action-card .desc-action {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #666;
}

.link-action-card .txt-date {
    padding-top: 2px;
    font-size: 14px;
    color: #949494;
}

.action-content-card .btn-delete {
    position: absolute;
    right: -5px;
    bottom: -9px;
    padding: 10px;
    color: #949494;
}
/* 늘하장 - 더보기 */
.group-action-attend .list-more {
    margin-top: -8px;
    padding-top: 0;
    padding-bottom: 32px;
}

/* 댓글 */
.group-comment {
    padding-bottom: 45px;
}

.title-section .color-g1 {
    padding-left: 5px;
}

.color-g1 {
    color: #dc287c;
}

.group-comment .list-comment {
    padding-top: 3px;
}

.list-comment {
    background-color: #fff;
}

.group-comment .list-comment li {
    padding: 30px 0 0;
    background: none;
}

.list-comment li:last-child {
    background: none;
}

.comment-type3 .list-comment li {
    padding: 30px 0 0;
    background: none;
}

.list-comment li {
    width: 700px;
    margin: 0 auto;
    padding: 30px 0 25px;
    background: url(//t1.kakaocdn.net/together_image/common/bg_line.png) repeat-x 0 100%;
}

.group-comment .list-comment .comment-info {
    margin-left: 0;
    padding: 0 40px;
}

.comment-type3 .list-comment .comment-info {
    position: relative;
    top: -7px;
}

.list-comment .comment-info {
    margin-left: 64px;
}

.comment-type3 .list-comment .info-append {
    padding-left: 5px;
    display: block;
    line-height: 1.5;
}

.group-comment .list-comment .info-append .emph-sign {
    color: #999;
    font-family: KakaoBig Bold,sans-serif;
    padding-right: 4px;
    font-size: 14px;
}

.emph-sign {
    color: #dc287c;
}


.link-fund {
    font-family: KakaoBig Bold,sans-serif;
    font-size: 14px;
}

.group-comment .list-comment .txt-comment {
    display: block;
    font-size: 15px;
    margin-top: 5px;
    color: #444;
    padding: 13px 14px 17px;
    border-radius: 9px;
    background-color: #f7f8f9;
    word-break: break-word;
}

.list-comment .txt-comment .desc-comment {
    display: block;
    line-height: 22px;
    white-space: pre-line;
    color: #444;
}

.comment-type3 .list-comment .txt-comment+.info-append {
    padding-top: 2px;
    text-align: right;
}

.comment-type3 .list-comment .txt-time {
    padding-left: 7px;
    font-size: 14px;
    color: #999;
    float: left;
}

.list-comment .on.btn-like {
    color: #444;
}

.list-comment .btn-like {
    overflow: visible;
    position: relative;
    padding-left: 20px;
    color: #999;
    vertical-align: 0;
}

.list-comment .on.btn-like .ico-like {
    background-position: 0 -1609px;
    width: 26px;
    height: 26px;
    margin: 0;
    top: -1px;
    left: -4px;
    transform: scale(.7);
    animation-name: likeAni;
    animation-timing-function: ease-out;
    animation-duration: .5s;
    animation-iteration-count: 1;
}


.list-comment .btn-like .ico-like {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 18px;
    margin: 3px 1px 0 0;
    background-position: -208px -1396px;
    vertical-align: top;
}

.ico-together {
    background: url(https://t1.kakaocdn.net/together_image/common/ico_together_201008.png) no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.list-comment .btn-like .num-like{
    margin-left: 1px;
    font-family: KakaoBig Bold,sans-serif;
}

.list-comment .btn-delete, .list-comment .btn-report {
    margin-left: 19px;
    font-size: 14px;
    color: #9f9f9f;
    vertical-align: 0;
}

.group-comment .list-more {
    margin-bottom: -23px;
    padding-top: 21px;
}

.list-more {
    padding: 23px 0 0;
    text-align: center;
}

/* 뱃지 */
.group-badge-type02 {
    padding-bottom: 20px;
}

.title-section.section-type2:first-of-type {
    border-top: 0;
}

.title-section.section-type2 {
    margin: 0 40px;
    padding-top: 31px;
    border-top: 1px solid #e5e5e5;
    font-size: 24px;
}

.title-section .color-g1 {
    padding-left: 5px;
    color: #dc287c;
}

.group-badge-type02 .list-badge {
    margin: 0;
    padding: 20px 40px 5px;
}

.group-badge-type02 .list-badge li {
    width: 20%;
    margin: 0;
    float: left;
}

.group-badge .list-badge:after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: "";
}

.group-badge-type02 .list-badge .link-badge {
    width: auto;
    display: block;
    position: relative;
    height: 150px;
    padding-top: 7px;
    text-align: center;
    color: #666;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.list-badge .my-badge .thumb-badge {
    opacity: 1;
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#00000000",GradientType=0);
}

.list-badge .thumb-badge {
    display: block;
    width: 72px;
    height: 72px;
    margin: 6px auto 0;
    opacity: .2;
    filter: alpha(opacity=20);
}

.group-badge .my-badge .name-badge {
    color: #444;
}

.group-badge .name-badge {
    display: block;
    overflow: hidden;
    margin-top: 7px;
    font-weight: 400;
    font-size: 15px;
    color: #aaa;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.group-badge .link-badge .num-badge {
    font-size: 13px;
}

.group-badge-type02 .list-more {
    padding-top: 0;
    text-align: center;
}
/*모달*/
.dialog-content {
  overflow: hidden;
  z-index: 999999;
  left: 50%;
  position: fixed;
  display: none;
  top: 25%;
  margin-left: -192px;
}
.inner-together-layer {
    background-color: #fff;
}

.inner-together-layer2 {
    width: 392px;
}

.inner-together-layer .desc-together {
    display: table;
    width: 100%;
    height: 128px;
    padding-top: 30px;
    text-align: center;
    color: #444;
    font-size: 16px;
}

.inner-together-layer .desc-together .txt-desc {
    display: block;
    display: table-cell;
    padding: 20px 25px;
    vertical-align: middle;
    line-height: 28px;
    word-break: break-all;
    white-space: pre-line
}

.inner-together-layer .wrap-btn {
    padding-bottom: 30px;
    text-align: center;
}

.inner-together-layer .wrap-btn .btn-set {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 48px;
    margin: 0 4px;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    line-height: 49px;
}

.inner-together-layer .wrap-btn .btn-type1 {
    background-color: #dc287c;
}

.inner-together-layer2 .wrap-btn .btn-set {
    text-align: center;
}

.inner-together-layer .wrap-btn .btn-type2 {
    background-color: #949494;
}

.modal-badge,
.modal-delete {
    display: none;
}


.inner-together-layer .wrap-badge {
    padding: 60px 24px 56px;
    text-align: center;
}

.inner-together-layer .wrap-badge .thumb-badge {
    display: block;
    width: 72px;
    height: 72px;
    margin: 0px auto 9px;
}

.inner-together-layer .wrap-badge .name-badge {
    font-weight: 400;
    font-size: 16px;
    color: rgb(68, 68, 68);
}

.inner-together-layer .wrap-badge .txt-badge {
    font-size: 16px;
    color: rgb(130, 130, 130);
    line-height: 24px;
    white-space: pre-line;
}

.inner-together-layer .wrap-badge .link-look {
    display: inline-block;
    margin: 21px 0px 5px;
    border-bottom: 1px solid rgb(21, 21, 21);
    font-size: 17px;
    line-height: 20px;
    color: rgb(68, 68, 68);
}

.inner-together-layer .layer-foot {
    position: absolute;
    top: 0px;
    right: 0px;
}

.inner-together-layer .layer-foot .btn-close {
    display: block;
    overflow: hidden;
}

.inner-together-layer .layer-foot .ico-together {
    width: 17px;
    height: 17px;
    margin: 22px;
    background-position: -184px 0px;
}


.ico-together, .ico-together2 {
    display: block;
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    text-indent: -9999px;
}
/* 토스트 */

#toast-container {
    position: fixed;
    z-index: 100000002;
    width: 100%;
}
.toast-bottom-center {
    bottom: 76px;
}
.toast {
    position: relative;
    left: 50%;
    z-index: 100;
    margin-left: -400px;
    margin-top: 10px;
}

.toaster-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
    color: #fff;
}

.toast-title {
    font-weight: 700;
}
.toast .toast-message {
    width: 760px;
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #000000b3;
    text-align: center;
    letter-spacing: -.05em;
}


.toast .toast-message>div {
    white-space: pre-line;
}

/* 별찌 */
.group_meditation {
    width: 700px;
    padding: 10px 0 0px;
    margin: 0 auto;
}

.group_meditation .list_meditation {
    overflow: hidden;
    padding: 10px 40px 5px;
}

.group_meditation .list_meditation li {
    float: left;
    width: 25%;
    min-height: 263px;
    text-align: center;
}

.group_meditation .list_meditation .link_meditation {
    display: block;
}

.group_meditation .link_meditation .thumb_img {
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(https://mud-kage.kakaocdn.net/dn/Crllp/btqjOcIpRXr/FFk4V6wJ4skkgYDQIBeOSk/c360.jpg);
}

.group_meditation .list_meditation .tit_meditation {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    width: 120px;
    max-height: 40px;
    margin: 17px auto 0;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    font-family: KakaoBig Bold,sans-serif;
    text-overflow: ellipsis;
}

.group_meditation .list_meditation .txt_option {
    display: block;
    margin-top: 10px;
    font-size: 13px;
}


@media (max-width: 767px){
body, html {
    min-width: 280px;
}

#main-content {
    margin-bottom: -150px;
}

.cont-mypage #article{
    padding-bottom: 150px;
}

.mypage-cont {
    width: auto;
    padding-bottom: 30px;
}
/* 유저 프로필 */
.group-profile {
    min-height: 145px;
    padding: 31px 15px;
    background: url(https://t1.kakaocdn.net/together_image/m320/bg_mypage.png) 103% 8px no-repeat;
    background-size: 172px 132px;
}

.group-profile .area-name {
    max-width: 65%;
    min-width: 65%;
}

.group-profile .area-name .txt-nick {
    max-width: 80%;
    font-size: 14px;
}

.group-profile .area-name .box-name {
    max-width: 88%;
}

.group-profile .area-name .txt-name {
    display: -webkit-box;
    max-height: 62px;
    white-space: normal;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 26px;
    word-break: break-all;
    line-height: 1.2;
}

.group-profile .area-thumb {
    top: 31px;
    right: 20px;
}

.group-profile .area-thumb .link-badge {
    width: 30px;
    height: 30px;
}

.group-profile .area-thumb .link-thumb {
    width: 80px;
    height: 80px;
}

.group-profile .area-setting {
    height: auto;
    padding-top: 12px;
}

.group-profile .area-setting .link-setting {
    padding: 0;
    font-size: 13px;
}
/* 기부내역 */
.group-shadow {
    margin: 25px 15px 0;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 #0000001a;
}

.title-section {
    padding-left: 0;
    font-size: 16px;
}

.title-section.section-type2 {
    margin: 0 20px;
    padding: 18px 0 0;
    font-size: 18px;
}

.group-donatedetail .btn-release {
    top: 13px;
    right: 12px;
}

.mypage-cont .link-round {
    height: 37px;
    padding: 0 16px;
    font-size: 12px;
    line-height: 34px;
}

.group-donatedetail .area-donatedetail {
    padding: 16px 20px 20px;
}

.area-donatedetail .total-donate {
    max-width: 54%;
}

.area-donatedetail .total-donate .title-total {
    font-size: 12px;
}

.area-donatedetail .total-donate .num-total {
    font-size: 24px;
    line-height: 32px;
}

.area-donatedetail .detail-donate {
    min-width: 37.4%;
    padding-top: 3px;
}

.area-donatedetail .detail-donate li {
    line-height: 20px;
}

.area-donatedetail .detail-donate .title-detail {
    font-size: 12px;
}

.area-donatedetail .detail-donate .num-detail {
    overflow: hidden;
    max-width: 80px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.group-donatedetail .area-moreinfo {
    height: 54px;
}

.area-moreinfo .list-moreinfo .link-more {
    font-size: 13px;
    line-height: 54px;
}

.area-moreinfo .list-moreinfo li:before {
    width: 2px;
    height: 2px;
    margin: 27px 8px 25px;
}

/* 내가 참여한 행동 */
.group-action-attend .title-section.section-type2 {
    padding-top: 25px;
}

.group-action-attend .list-actions {
    padding: 30px 20px 17px;
}

.link-action-card .info-action {
    padding: 0 0 0 11px;
}

.img-thumb {
    width: 100%;
}

.link-action-card .info-action {
    padding: 0 0 0 11px;
}

.link-action-card .title-action {
    font-size: 14px;
}

.link-action-card .desc-action {
    font-size: 12px;
}

.link-action-card .txt-date {
    padding-top: 4px;
    font-size: 11px;
    color: #999;
}

.action-content-card .btn-delete {
    right: -10px;
    bottom: -5px;
    padding: 10px 10px 4px;
    font-size: 11px;
    color: #999;
}

.group-action-attend .list-actions li+li {
    padding-top: 28px;
}

.group-action-attend .list-more {
    margin-top: 8px;
    padding-bottom: 24px;
}
/* 댓글 목록  */
.group-comment {
    padding-bottom: 29px;
}

.comment-type3 .list-comment li {
    padding: 15px 0 0;
}

.group-comment .list-comment li {
    padding: 19px 0 0;
}

.group-comment .list-comment .comment-info {
    padding: 0 19px;
}

.comment-type3 .list-comment .info-append {
    padding-left: 5px;
}

.group-comment .list-comment .info-append .emph-sign,
 .group-comment .list-comment .info-append .link-fund {
    font-size: 12px;
}

.list-comment li {
    width: 100%;
    padding: 18px 9px 10px;
    box-sizing: border-box;
    background: url(//t1.kakaocdn.net/together_image/m320/bg_line.png) repeat-x 0 100%;
}

.group-comment .list-comment .txt-comment {
    margin-top: 2px;
}

.comment-type3 .list-comment .txt-comment {
    margin-top: 3px;
    padding: 9px 12px 12px;
    border-radius: 5px;
}

.list-comment .txt-comment .desc-comment {
    line-height: 20px;
}

.comment-type3 .list-comment .txt-comment+.info-append {
    padding-right: 0;
}

.comment-type3 .list-comment .txt-time {
    padding-left: 0;
    font-size: 12px;
}

.ico-together {
    background-image: url(//t1.kakaocdn.net/together_image/m640/ico_together_201008.png);
    background-size: 290px 1500px;
}

.list-comment .btn-like {
    padding-left: 15px;
    font-size: 12px;
}

.list-comment .btn-like .ico-like {
    width: 16px;
    height: 14px;
    margin: 3px 3px 0 0;
    background-position: -246px -1044px;
}

.list-comment .on.btn-like .ico-like {
    width: 22px;
    height: 21px;
    background-position: -42px -1384px;
}

.list-comment li:last-child {
    background: none;
}

.comment-type3 .list-comment .btn-delete,
 .comment-type3 .list-comment .btn-report {
    margin-right: 2px;
    margin-left: 9px;
    font-size: 12px;
}

.list-comment .info-append {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.group-comment .list-more {
    padding-top: 7px;
    margin-bottom: -7px;
}

.mypage-cont .link-round.link-other2 {
    padding: 0 18px;
}
/* 뱃지 목록 */
.group-badge-type02 .list-badge {
    padding: 10px 13px 5px;
    margin: 0;
}

.group-badge .list-badge li {
    float: left;
    width: 33.33%;
    margin: 0;
}

.group-badge .list-badge .link-badge {
    width: auto;
    height: 130px;
    margin: 0 2px 4px;
}

.group-badge .list-badge .thumb-badge {
    margin-top: 3px;
}

.group-badge .link-badge .name-badge {
    margin: 5px 0 -2px;
    font-size: 13px;
}

.group-badge .link-badge .num-badge {
    font-size: 11px;
}

.group-badge-type02 .list-badge li:nth-child(n+4) {
    display: none;
}
  /* 모달 */
  .dialog-content {
    margin-left: -140px;
  }

  .inner-together-layer {
    width: 280px;
  }

  .inner-together-layer .desc-together {
    height: 100px;
    padding-top: 13px;
    font-size: 14px;
  }

  .inner-together-layer .desc-together .txt-desc {
    padding: 22px 15px;
    line-height: 21px;
}

  .inner-together-layer .wrap-btn {
    padding-bottom: 20px;
}

  .wrap-btn {
    margin: 0 9px;
}

  .inner-together-layer .wrap-btn .btn-set {
    width: 122px;
    height: 44px;
    margin: 0 3px;
    font-size: 14px;
    line-height: 45px;
}

  .inner-together-layer .wrap-btn .btn-set {
    width: 122px;
    height: 44px;
    margin: 0 3px;
    font-size: 14px;
    line-height: 45px;
}

  .inner-together-layer .layer-foot .ico-together {
    width: 12px;
    height: 12px;
    margin: 15px;
    background-position: -100px -20px;
}

  .group_meditation {
      position: relative;
      width: auto;
      margin: auto 0;
  }

  .group_meditation .link_meditation .thumb_img {
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(https://mud-kage.kakaocdn.net/dn/Crllp/btqjOcIpRXr/FFk4V6wJ4skkgYDQIBeOSk/c360.jpg);
}

  .group_meditation .list_meditation li {
    float: left;
    width: 50%;
    min-height: 263px;
    text-align: center;
}

    .group_meditation .list_meditation li:nth-child(3),
    .group_meditation .list_meditation li:nth-child(4){
        display: none;
}




}


