body, th, td, input, select, textarea, button {
    font-size: 13px;
    line-height: 1.5;
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif, '돋움', dotum;
    color: #1e1e1e;
}

dl, ul, ol, menu, li {
    list-style: none;
}

a {
    color: #1e1e1e;
    text-decoration: none;
}

.cont_public {
    position: relative;
    margin: 0 auto;
    width: 750px;
    min-height: 700px;
    padding-bottom: 60px;
}

.cont_public .tit_public {
    font-size: 32px;
    margin: 47px 0 45px;
}

.txt_required {
    position: absolute;
    top: 105px;
    right: 0;
}

.info_question {
    float: left;
    border-bottom: 1px solid #e8e8e8;
}

.info_question.fst {
    border-top: 1px solid #1e1e1e;
}

.info_question dt {
    float: left;
    width: 132px;
    padding: 28px 0 28px 19px;
    font-size: 15px;
    letter-spacing: -1px;
}

.info_question dd {
    float: right;
    width: 579px;
    margin: 0;
    padding: 18px 0 18px 20px;
}

.info_question:after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: '';
}


.info_question .wrap_select {
    float: left;
    position: relative;
    margin: 0;
    border: 1px solid #919191;
    width: 282px;
    height: 38px;
}

.info_question .wrap_item {
    float: left;
    position: relative;
    margin: 0;
    border: 1px solid #919191;
    width: 577px;
}

.info_question .wrap_item .txt_placeholder {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 15px;
    z-index: 5;
    color: #919191;
}

.info_question .wrap_item .inp_info {
    width: 551px;
    height: 100%;
    border: none 0;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 13px;
    background-color: transparent;
    font-size: 15px;
    z-index: 10;
}

.info_question {
    float: left;
    border-bottom: 1px solid #e8e8e8;
}

.info_question .wrap_tf .tf_info {
    width: 549px;
    height: 230px;
    padding: 14px;
    resize: none;
}

.info_question .wrap_select .link_select {
    position: absolute;
    top: 8px;
    left: 12px;
    right: 12px;
    display: block;
    font-size: 15px;
    cursor: pointer;
}



.info_question .wrap_phone {
    width: 441px;
}

.info_question .wrap_item .txt_placeholder {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 15px;
    z-index: 5;
    color: #919191;
}


.info_question .wrap_select {
    float: left;
    position: relative;
    margin: 0;
    border: 1px solid #919191;
    width: 282px;
    height: 38px;
}

.info_question .wrap_select .link_select {
    position: absolute;
    top: 8px;
    left: 12px;
    right: 12px;
    display: block;
    font-size: 15px;
    cursor: pointer;
}

.info_question .wrap_select2 {
    margin-left: 10px;
}

.info_question .info_disable {
    background-color: #f9f9f9;
    border-color: #e8e8e8;
}

.info_question .wrap_item {
    float: left;
    position: relative;
    margin: 0;
    border: 1px solid #919191;
    height: 38px;
    width: 577px;
}


.info_question .wrap_tf {
    height: 261px;
}

.ico_cs {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background-image: url(https://cs.kakao.com/img/ico_cs_200120.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info_question .wrap_select .ico_arr {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 7px;
    height: 5px;
    background-position: 0 -40px;
}

.info_question .wrap_select .list_select {
    display: none;
    position: absolute;
    top: 38px;
    left: -1px;
    width: 100%;
    height: 114px;
    padding: 15px 0;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #919191;
    -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.1);
}

.info_question .list_select li {
    height: 28px;
}

.info_question .list_select li .link_opt {
    display: block;
    font-size: 15px;
    padding: 0 17px;
    line-height: 28px;
}

fieldset, img {
    border: 0 none;
}

fieldset {
    margin: 0;
    padding: 0;
}

.info_agree {
    float: left;
    margin-top: -1px;
    border-top: 1px solid #1e1e1e;
}

.info_agree .tit_agree {
    display: block;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: normal;
}

.info_agree .desc_agree_sub {
    margin-top: 13px;
}

.info_agree .desc_agree {
    margin-top: 15px;
    color: #878787;
}

.info_agree .tbl_privacy {
    margin-top: 25px;
    text-align: left;
    border-top: 2px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-collapse: collapse;
    border-spacing: 0;
}

.ir_caption {
    overflow: hidden;
    width: 1px;
    font-size: 1px;
    line-height: 0;
    text-indent: -9999px;
}

.info_agree .tbl_privacy th {
    padding: 13px 17px;
    color: #878787;
    font-weight: normal;
}
.info_agree .tbl_privacy .tbl_border_left {
    border-left: 1px solid #e8e8e8;
}

.info_agree .tbl_privacy td {
    padding: 13px 17px;
    color: #878787;
    border-top: 1px solid #e8e8e8;
}

.info_agree .tbl_privacy .txt_bold {
    font-weight: bolder;
    font-size: 15px;
}

.info_agree .desc_more {
    margin-top: 10px;
    color: #878787;
}

.info_agree .wrap_check {
    margin-top: 40px;
    line-height: 22px;
}

.info_agree .item_check {
    display: inline-block;
    position: relative;
}

.info_agree .item_check .inp_check {
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    opacity: 0.01;
    filter: alpha(opacity=1);
}

.info_agree .item_check .lab_check {
    display: inline-block;
    margin-left: 25px;
}

.info_agree .item_check .ico_cs {
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    background-position: -28px 0;
    cursor: pointer;
}

.cont_public .wrap_btn {
    clear: both;
    overflow: hidden;
}

.btn_cs {
    border: 0;
    display: inline-block;
    padding: 0 63px;
    line-height: 40px;
    height: 42px;
    font-size: 15px;
    color: #1e1e1e;
    background-color: #e8e8e8;
    width: 100%;
}

.btn_cs2 {
    background-color: #ffe500;
}

.cont_public .btn_cs {
    float: right;
    margin: 50px 5px 5px 0;
    font-weight: bold;
}

.group_shadow {
    position: relative;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px 0 #00000012;
}

.wrap {
    position: relative;
    margin: 0 auto;
    min-height: 700px;
    padding-bottom: 0px;
    width: 850px;
}